<tr>
  <td class="has-text-right"><%= Trade::WalletSell.human_attribute_name(:amount) %></td>
  <td><%= @wallet_sell.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletSell.human_attribute_name(:note) %></td>
  <td><%= @wallet_sell.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletSell.human_attribute_name(:item) %></td>
  <td><%= @wallet_sell.item %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletSell.human_attribute_name(:selled_type) %></td>
  <td><%= @wallet_sell.selled_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletSell.human_attribute_name(:selled_id) %></td>
  <td><%= @wallet_sell.selled_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletSell.human_attribute_name(:operator_id) %></td>
  <td><%= @wallet_sell.operator_id %></td>
</tr>
