<div>
  <dt><%= Trade::WalletSell.human_attribute_name(:amount) %></dt>
  <dd><%= @wallet_sell.amount %></dd>
</div>
<div>
  <dt><%= Trade::WalletSell.human_attribute_name(:note) %></dt>
  <dd><%= @wallet_sell.note %></dd>
</div>
<div>
  <dt><%= Trade::WalletSell.human_attribute_name(:item) %></dt>
  <dd><%= @wallet_sell.item %></dd>
</div>
<div>
  <dt><%= Trade::WalletSell.human_attribute_name(:selled_type) %></dt>
  <dd><%= @wallet_sell.selled_type %></dd>
</div>
<div>
  <dt><%= Trade::WalletSell.human_attribute_name(:selled_id) %></dt>
  <dd><%= @wallet_sell.selled_id %></dd>
</div>
<div>
  <dt><%= Trade::WalletSell.human_attribute_name(:operator_id) %></dt>
  <dd><%= @wallet_sell.operator_id %></dd>
</div>
