<%= button_to({ action: 'destroy', id: model.id }, method: :delete, class: 'has-text-danger', form: { data: { turbo_confirm: t('.confirm') }, class: 'weui-actionsheet__cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-solid fa-trash"></i>
  <span><%= t('.destroy') %></span>
<% end %>
<%= link_to({ action: 'edit', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit') %></span>
<% end %>
<%= link_to({ action: 'show', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-info"></i>
  <span><%= t('.show') %></span>
<% end %>
<%= link_to({ action: 'payment_types', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-credit-card"></i>
  <span><%= t('trade.admin.orders.payment_types.title') %></span>
<% end %>
<div
  data-controller="mini-program"
  data-mini-program-url-value="/pages/print/execute/index"
  data-mini-program-data-value="<%= { url: url_for(action: 'print_data', id: model.id, only_path: false, **Rails.application.routes.default_url_options) }.to_json %>"
  data-action="click->mini-program#link"
  class="weui-actionsheet__cell"
>
  <button>
    <i class="fa-solid fa-print"></i>
    <span>打印订单</span>
  </button>
</div>
