<%= button_to({ action: 'destroy', id: model.id }, method: :delete, class: ' has-column-centered text-danger', form: { data: { turbo_confirm: t('.destroy.confirm') }, class: 'cell' }) do %>
  <%= svg_tag 'trash' %>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= button_to({ action: 'adjust_edit', id: model.id }, class: 'cell has-column-centered text-primary') do %>
  <i class="fa-solid fa-pen-clip"></i>
  <span><%= t('trade.admin.orders.adjust_edit.title') %></span>
<% end %>
<%= link_to({ action: 'show', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye', class: 'icon text-info' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'order_payments', order_id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-credit-card"></i>
  <span><%= t('.order_payments.index.title') %></span>
<% end %>
<div
  data-controller="scan"
  data-scan-params-value="<%= { ids: @order.id }.to_json %>"
  data-action="click->scan#report"
  class="cell has-column-centered"
  data-report-url="<%= url_for(controller: 'scan_payments', action: 'batch') %>"
>
  <i class="fa-solid fa-credit-card"></i>
  <span><%= t('.scan_payments.batch.title') %></span>
</div>
<% if model.organ.receipt_printer %>
  <%= button_to({ action: 'print' }, class: 'cell has-column-centered') do %>
    <%= svg_tag 'print' %>
    <span class="ml-1"><%= t('trade.admin.orders.print.title') %></span>
  <% end %>
<% elsif request.variant.include?(:mini_program) %>
  <div
    data-controller="mini-program"
    data-mini-program-nav-value="true"
    data-mini-program-url-value="/pages/print/index"
    data-mini-program-data-value="<%= { url: url_for(action: 'print_data', id: model.id, only_path: false, **Rails.application.routes.default_url_options) }.to_json %>"
    data-action="click->mini-program#link"
    class="cell has-column-centered"
  >
    <%= svg_tag 'print' %>
    <span>打印订单</span>
  </div>
<% end %>
