<%= form_with theme: 'search', model: Order.new(params.permit(:uuid)) do |f| %>
  <div class="field-body">
    <%= f.text_field :uuid %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(only: []), class: 'button is-light' %>
    </div>
  </div>
<% end %>
<dl>
  <dt><%= Order.human_attribute_name(:payment_status) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:payment_status]), class: active_params(payment_status: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% Order.options_i18n(:payment_status).each do |text, value| %>
    <%= link_to text, filter_params(payment_status: value, except: [:id]), class: active_params(payment_status: value, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% end %>
  </dd>
</dl>
<dl>
  <dt><%= Order.human_attribute_name(:payment_type) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:payment_type]), class: active_params(payment_type: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% Order.options_i18n(:payment_type).each do |text, value| %>
    <%= link_to text, filter_params(payment_type: value), class: active_params(payment_type: value, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  <% end %>
  </dd>
</dl>
