<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td>
  <p>
    <%= link_to model.uuid, { action: 'show', id: model.id }, text: true, class: 'family-monospace' %>
    <span class="tag"><%= model.state_i18n %></span>
    <% if ['rent', 'invest'].include?(model.aim) %>
      <span class="tag is-info"><%= model.aim_i18n %></span>
    <% end %>
  </p>
  <p><%= model.serial_str %></p>
  <p class="text-grey"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= model.payment_status_i18n %></p>
  <% if model.payment_strategy %>
  <div class="tags has-addons mt-1">
    <span class="tag is-danger"><%= model.payment_strategy.name %></span>
    <span class="tag"><%= model.payment_strategy.from_pay_i18n %></span>
  </div>
  <% end %>
</td>
<td>
  <p><%= model.amount.to_money.format.html_safe %></p>
  <% if model.unreceived_amount.to_d > 0 %><p class="text-danger"><%= model.unreceived_amount.to_money.format.html_safe %></p><% end %>
</td>
<td>
  <p class="<%= model.received_amount.to_d > 0 ? 'text-success' : 'text-grey' %>"><%= model.received_amount.to_money.format.html_safe %></p>
  <p class="text-grey"><time data-controller="time"><%= model.paid_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%# link_to model.user_name, { action: 'user', user_id: model.user_id } if model.user_id %></p>
  <p>
  <% if model.agent %>
    <span><%= model.agent.name %></span>
    <span class="text-grey">下单</span>
  <% end %>
  </p>
</td>
<td><pre><%= model.extra_i18n.to_format_yaml %></pre></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <div class="mb-1">
      <%= button_to({ controller: 'orders', action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'eye', class: 'icon text-info' %>
      <% end %>
      <%= button_to({ controller: 'orders', action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pencil', class: 'icon text-link' %>
      <% end %>
      <%= button_to({ controller: 'orders', action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'trash', class: 'icon text-danger' %>
      <% end %>
    </div>
    <div>
      <%= link_to({ controller: 'refunds', order_id: model.id }, class: 'button is-small is-borderless') do %>
        <span><%= t('.refunds.index.title') %></span>
      <% end if ['refunding', 'refunded', 'denied'].include?(model.payment_status) %>
      <% if ['unpaid', 'part_paid'].include?(model.payment_status) %>
        <%= button_to({ action: 'payment_types', id: model.id }, class: 'button is-small is-borderless') do %>
          <%= svg_tag 'receipt' %>
          <span class="ml-1"><%= t('.payment_types.title') %></span>
        <% end %>
      <% end %>
      <% if ['unpaid'].include?(model.payment_status) %>
        <%= button_to({ action: 'adjust_edit', id: model.id }, class: 'button is-small is-borderless') do %>
          <%= svg_tag 'pen-clip' %>
          <span class="ml-1"><%= t('.adjust_edit.title') %></span>
        <% end %>
      <% end %>
      <%= link_to({ action: 'purchase', id: model.id }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pen-clip' %>
        <span class="ml-1"><%= t('.purchase.title') %></span>
      <% end %>
      <%= button_to({ action: 'print', id: model.id }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'print' %>
        <span class="ml-1"><%= t('.print.title') %></span>
      <% end %>
    </div>
  </div>
</td>
