<td><%= link_to model.uuid, { action: 'show', id: model.id }, text: true %></td>
<td class="has-text-right">
  <p><%= model.amount.to_money.format(html_wrap: true).html_safe %></p>
  <p><%= model.received_amount.to_money.format(html_wrap: true).html_safe %></p>
</td>
<td>
  <%= model.payment_status_i18n %>
  <% if ['part_paid', 'all_paid'].include?(model.payment_status) %>
    <%= button_to t('.refund'), { action: 'refund', id: model.id }, method: :patch, class: 'button is-light is-small' %>
  <% elsif ['refunding', 'refunded', 'denied'].include?(model.payment_status) %>
    <%= link_to t('trade.admin.refunds.index.title'), { controller: 'refunds', order_id: model.id }, class: 'button is-link is-small' %>
  <% elsif ['unpaid'].include?(model.payment_status) %>
    <%= link_to t('.add_payment'), { controller: 'payments', action: 'new', order_id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-link is-small' %>
  <% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
<td><%= link_to model.user_name, { user_id: model.user_id } %></td>
<td><%= simple_format(model.extra_i18n) %></td>
