<dl class="as-show as-boxed mb-3">
  <div><strong>预估费用</strong></div>
  <div>
    <dt><%= Trade::Order.human_attribute_name(:item_amount) %></dt>
    <dd><%= @order.item_amount.to_money.format.html_safe %></dd>
  </div>
  <div>
    <dt><%= Trade::Order.human_attribute_name(:overall_additional_amount) %></dt>
    <dd><%= @order.overall_additional_amount.to_money.format.html_safe if @order.overall_additional_amount.to_d > 0 %></dd>
  </div>
  <% @order.cart_promotes.each do |cart_promote| %>
    <div>
      <dt class=" pl-4"><%= cart_promote.promote.name %></dt>
      <dd><%= cart_promote.amount.to_money.format.html_safe %></dd>
    </div>
  <% end %>
  <div>
    <dt><%= Trade::Order.human_attribute_name(:overall_reduced_amount) %></dt>
    <dd><%= @order.overall_reduced_amount.to_money.format.html_safe if @order.overall_reduced_amount.to_d > 0 %></dd>
  </div>
  <div>
    <dt><%= Trade::Order.human_attribute_name(:amount) %></dt>
    <dd><%= @order.amount.to_money.format.html_safe %></dd>
  </div>
</dl>
