<% content_for :breadcrumb do %>
<div class="breadcrumb">
  <ul>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Order.human_attribute_name(:uuid) %></th>
      <th><%= Order.human_attribute_name(:amount) %></th>
      <th><%= Order.human_attribute_name(:received_amount) %></th>
      <th><%= Order.human_attribute_name(:payment_status) %></th>
      <th><%= Order.human_attribute_name(:created_at) %></th>
      <th><%= Order.human_attribute_name(:user_id) %></th>
      <th><%= Order.human_attribute_name(:extra) %></th>
      <th></th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
    <tr id="order_<%= order.id %>">
      <td><%= link_to order.uuid, admin_order_path(order), text: true %></td>
      <td><%= order.amount %></td>
      <td><%= order.received_amount %></td>
      <td>
        <%= order.payment_status_i18n %>
        <% if ['part_paid', 'all_paid'].include?(order.payment_status) %>
          <%= link_to t('.refund'), refund_admin_order_path(order.id), method: :patch, class: 'ui mini gray button' %>
        <% elsif ['refunding', 'refunded', 'denied'].include?(order.payment_status) %>
          <%= link_to t('.refund_list'), admin_refunds_path(order_id: order.id), class: 'ui mini green button' %>
        <% elsif ['unpaid'].include?(order.payment_status) %>
          <%= link_to t('.add_payment'), new_admin_payment_path(order_id: order.id), remote: true, class: 'ui mini green button' %>
        <% end %>
      </td>
      <td><time><%= order.created_at.to_s(:rfc822) %></time></td>
      <td><%= link_to order.user_name, admin_orders_path(user_id: order.user_id) %></td>
      <td><%= simple_format(order.extra_i18n) %></td>
      <td>
        <%= link_to edit_admin_order_path(order), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @orders %>
