<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <div class="section">订单列表</div>
</div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Order.human_attribute_name(:uuid) %></th>
      <th><%= Order.human_attribute_name(:buyer) %></th>
      <th><%= Order.human_attribute_name(:payment_type) %></th>
      <th><%= Order.human_attribute_name(:amount) %></th>
      <th><%= Order.human_attribute_name(:received_amount) %></th>
      <th><%= Order.human_attribute_name(:currency) %></th>
      <th><%= Order.human_attribute_name(:payment_status) %></th>
      <th><%= Order.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
    <tr id="order_<%= order.id %>">
      <td><%= link_to order.uuid, admin_order_path(order) %></td>
      <td>
        <% if order.buyer_id %>
          <p><%= link_to order.buyer&.name, orders_admin_buyer_path(order.buyer_id) %></p>
        <% end %>
      </td>
      <td><span class="ui label"><%= order.payment_type %></span></td>
      <td><%= order.amount %></td>
      <td><%= order.received_amount %></td>
      <td><%= order.currency %></td>
      <td>
        <%= order.payment_status_i18n %>
        <% if ['part_paid', 'all_paid'].include?(order.payment_status) %>
          <%= link_to t('.refund'), refund_admin_order_path(order.id), method: :patch, class: 'ui mini gray button' %>
        <% elsif ['refunding', 'refunded', 'denied'].include?(order.payment_status) %>
          <%= link_to 'Refund List', admin_refunds_path(order_id: order.id), class: 'ui mini green button' %>
        <% elsif ['unpaid'].include?(order.payment_status) %>
          <%= link_to t('.add_payment'), new_admin_payment_path(order_id: order.id), remote: true, class: 'ui mini green button' %>
        <% end %>
      </td>
      <td><time><%= order.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_order_path(order), data: { tooltip: t('.show') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_order_path(order), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @orders %>
