<%= form_with model: @order, url: { action: 'create' }, id: 'new_order' do |f| %>
<% end %>

<div class="box">
  <p><%= @order.member&.name %></p>
  <p><%= @order.user&.name %></p>
</div>

<div class="box">
  <div>
    <span><%= Trade::Order.human_attribute_name(:from_address_id) %></span>
    <%= render 'address_button' %>
  </div>
  <%= render layout: 'address_table' do %>
    <%= render partial: 'address_tbody', layout: 'address_tr', collection: @addresses, as: :address %>
  <% end %>
</div>

<div class="box">
  <div>
    <span><%= Trade::Order.human_attribute_name(:address_id) %></span>
    <%= render 'address_button' %>
  </div>
  <%= render layout: 'address_table' do %>
    <%= render partial: 'address_tbody', layout: 'address_tr', collection: @addresses, as: :address %>
  <% end %>
</div>

<div class="box">
  <%= render layout: 'item_table' do %>
    <% form_object(@order, theme: 'inline').fields :trade_items do |ef| %>
      <%= render partial: 'item_tbody', layout: 'item_tr', locals: { f: ef } %>
    <% end %>
  <% end %>
</div>

<%# render partial: 'orders/invoice_addresses', locals: { addresses: @order.user.addresses.invoice } %>
