<%= render 'index_actions' %>

<%= form_with model: @purchase_order, url: { controller: 'trade/in/orders', action: 'create' }, id: 'new_order' do |f| %>
  <%= f.hidden_field :generate_mode %>
  <%= f.hidden_field :organ_id %>
<% end %>

<table class="table is-fullwidth is-striped is-boxed">
  <thead>
    <%= render 'index_thead' %>
  </thead>
  <tbody>
    <%= render partial: 'index_tbody', layout: 'index_tr', collection: @order.items, as: :model, locals: { form: form_object(@purchase_order, theme: '') } %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9" class="has-text-centered">
        <%= submit_tag '提交', class: 'button mx-3', form: 'new_order' %>
      </td>
    </tr>
  </tfoot>
</table>
