<table class="table is-fullwidth is-striped is-boxed">
  <% if @order.aim_rent? %>
    <%= render 'rent_thead' %>
    <%= render partial: 'rent_tbody', layout: 'rent_tr', collection: @order.items, as: :model %>
  <% elsif @order.all_purchase? %>
    <%= render 'purchase_thead' %>
    <%= render partial: 'purchase_tbody', layout: 'index_tr', collection: @order.items, as: :model %>
  <% else %>
    <%= render 'index_thead' %>
    <%= render partial: 'index_tbody', layout: 'index_tr', collection: @order.items, as: :model %>
  <% end %>
  <tr class="has-background-light">
    <td><%= Trade::Order.human_attribute_name(:item_amount) %></td>
    <td colspan="<%= @order.aim_rent? ? '4' : '3' %>"></td>
    <td colspan="2" class="has-text-success"><%= @order.item_amount.to_money.format.html_safe %></td>
  </tr>
  <%= render partial: 'cart_promote', collection: @order.cart_promotes, as: :cart_promote %>
  <tr class="has-background-light">
    <td><%= Trade::Order.human_attribute_name(:adjust_amount) %></td>
    <td colspan="<%= @order.aim_rent? ? '4' : '3' %>"></td>
    <td colspan="2" class="has-text-success"><%= @order.adjust_amount.to_money.format.html_safe %></td>
  </tr>
  <tr>
    <td><%= Trade::Order.human_attribute_name(:amount) %></td>
    <td colspan="<%= @order.aim_rent? ? '4' : '3' %>"></td>
    <td colspan="2">
      <span><%= @order.amount.to_money.format.html_safe %></span>
      <%= button_to({ controller: 'trade/admin/order_payments', action: 'new', order_id: @order.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-credit-card"></i>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= Trade::Order.human_attribute_name(:payment_status) %></td>
    <td colspan="<%= @order.aim_rent? ? '4' : '3' %>"></td>
    <td colspan="2"><%= @order.payment_status_i18n %></td>
  </tr>
  <%= render partial: 'show_address', locals: { address: @order.address } if @order.address %>
  <%= render partial: 'show_payment', collection: @order.payment_orders, as: :model %>
</table>
