<table class="table is-fullwidth is-hoverable">
  <% if @order.aim_rent? %>
    <%= render 'rent_thead' %>
    <%= render partial: 'rent_tbody', layout: 'rent_tr', collection: @order.items, as: :item %>
  <% else %>
    <%= render 'index_thead' %>
    <%= render partial: 'index_tbody', collection: @order.items, as: :item %>
  <% end %>
  <tr class="has-background-light">
    <td><%= Trade::Order.human_attribute_name(:item_amount) %></td>
    <td colspan="3"></td>
    <td class="has-text-success"><%= @order.item_amount.to_money.format(html_wrap: true).html_safe %></td>
    <td></td>
  </tr>
  <%= render partial: 'cart_promote', collection: @order.cart_promotes, as: :cart_promote %>
  <tr class="has-background-light">
    <td><%= Trade::Order.human_attribute_name(:amount) %></td>
    <td colspan="3"></td>
    <td>
      <span><%= @order.amount.to_money.format(html_wrap: true).html_safe %></span>
      <%= link_to({ controller: 'trade/admin/order_payments', action: 'new', order_id: @order.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-regular fa-credit-card"></i>
      <% end %>
    </td>
    <td></td>
  </tr>
  <%= render partial: 'show_address', locals: { address: @order.address } if @order.address %>
</table>
