<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <%= link_to t('trade.admin.orders.index.title'), admin_orders_path(buyer_type: @order.buyer_type, buyer_id: @order.buyer_id), class: 'section' %>
  <i class="right chevron icon divider"></i>
  <span class="active section"><%= @order.uuid %></span>
</div>
<% end %>

<table class="ui table">
  <thead>
    <tr>
      <th><%= TradeItem.human_attribute_name(:good_id) %></th>
      <th><%= TradeItem.human_attribute_name(:number) %></th>
      <th><%= TradeItem.human_attribute_name(:original_amount) %></th>
      <th><%= TradeItem.human_attribute_name(:additional_amount) %></th>
      <th><%= TradeItem.human_attribute_name(:reduced_amount) %></th>
      <th><%= TradeItem.human_attribute_name(:amount) %></th>
      <th></th>
    </tr>
  </thead>
  <% @order.trade_items.each do |trade_item| %>
    <tr>
      <td>
        <%= trade_item.good.name %>
        <span><%= trade_item.good&.price %></span>
        <%# link_to trade_item.good&.name, controller: '/' + trade_item.good_type.underscore.pluralize, action: 'show', id: trade_item.good_id %>
      </td>
      <td><%= trade_item.number %></td>
      <td><%= trade_item.original_amount %></td>
      <td><%= trade_item.additional_amount %></td>
      <td><%= trade_item.reduced_amount %></td>
      <td><%= trade_item.amount %></td>
      <td><%= link_to '订单流程', admin_trade_item_path(trade_item) %></td>
    </tr>
    <% trade_item.trade_promotes.each do |trade_promote| %>
      <tr class="warning">
        <td><%= trade_promote.promote.name %></td>
        <td colspan="4"></td>
        <td><%= trade_promote.amount %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
  <% @order.trade_promotes.each do |trade_promote| %>
    <tr>
      <td><%= trade_promote.promote.name %></td>
      <td colspan="4"></td>
      <td><%= trade_promote.amount %></td>
      <td>
        <%= link_to edit_admin_trade_promote_path(trade_promote), remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr class="active">
    <td>总价</td>
    <td colspan="4"></td>
    <td>
      <%= @order.amount %>
      <%= link_to new_admin_order_order_payment_path(@order.id), remote: true, class: 'ui icon green button' do %>
        <i class="fas fa-credit-card"></i>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>
