<th>
  <p>
    <span><%= Trade::Item.human_attribute_name(:good_type) %></span>
    <span><%= Trade::Item.human_attribute_name(:good_id) %></span>
  </p>
  <p><%= Trade::Item.human_attribute_name(:good_name) %></p>
</th>
<th><%= Trade::Item.human_attribute_name(:number) %></th>
<th>
  <p class="has-text-grey"><%= Trade::Item.human_attribute_name(:single_price) %></p>
  <p><%= Trade::Item.human_attribute_name(:original_amount) %></p>
</th>
<th>
  <%= Trade::Item.human_attribute_name(:additional_amount) %>
</th>
<th><%= Trade::Item.human_attribute_name(:status) %></th>
<th><%= Trade::Item.human_attribute_name(:aim) %></th>
<th>
  <p><%= Trade::Item.human_attribute_name(:user_id) %></p>
  <p>
    <span><%= Trade::Item.human_attribute_name(:member_id) %></span>
    <span class="has-text-grey">（<%= Trade::Item.human_attribute_name(:member_organ_id) %>）</span>
  </p>
</th>
<th>
  <p><%= Trade::Item.human_attribute_name(:created_at) %></p>
</th>
