<div>
  <dt><%= Trade::Hold.human_attribute_name(:rent_start_at) %></dt>
  <dd><%= @hold.rent_start_at %></dd>
</div>
<div>
  <dt><%= Trade::Hold.human_attribute_name(:rent_finish_at) %></dt>
  <dd><%= @hold.rent_finish_at %></dd>
</div>
<div>
  <dt><%= Trade::Hold.human_attribute_name(:rent_duration) %></dt>
  <dd><%= @hold.rent_duration %></dd>
</div>
<div>
  <dt><%= Trade::Hold.human_attribute_name(:amount) %></dt>
  <dd><%= @hold.amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Hold.human_attribute_name(:rentable_type) %></dt>
  <dd><%= @hold.rentable_type %></dd>
</div>
<div>
  <dt><%= Trade::Hold.human_attribute_name(:rentable_id) %></dt>
  <dd><%= @hold.rentable_id %></dd>
</div>
