<div>
  <dt><%= Trade::WalletLog.human_attribute_name(:title) %></dt>
  <dd><%= @wallet_log.title %></dd>
</div>
<div>
  <dt><%= Trade::WalletLog.human_attribute_name(:amount) %></dt>
  <dd>
    <span><%= @wallet_log.amount.to_fs(:rounded, precision: model.wallet.wallet_template.digit) %></span>
    <span><%= @wallet_log.wallet.wallet_template.unit %></span>
  </dd>
</div>
<div>
  <dt><%= Trade::WalletLog.human_attribute_name(:source_type) %></dt>
  <dd><%= @wallet_log.source_type %></dd>
</div>
<div>
  <dt><%= Trade::WalletLog.human_attribute_name(:source_id) %></dt>
  <dd><%= @wallet_log.source_id %></dd>
</div>
