<td><%= buyer.id %></td>
<td><%= buyer.name %></td>
<td><%= buyer.payment_strategy&.name %></td>
<td><%# buyer.charger&.name %></td>
<td class="error"><%= Order.to_pay.default_where(buyer_id: buyer.id, 'overdue_date-lte': @overdue_date).count %></td>
<td><%= Order.to_pay.where(buyer_id: buyer.id).count %></td>
<td><%= buyer.last_overdue_date %></td>
<td><%# buyer.sum_amount %></td>
<td><%= link_to 'View', orders_admin_buyer_path(buyer.id) %></td>
