<td>
  <%= radio_button_tag 'cart[address_id]', model.id, form: 'cart_address' %>
</td>
<td><%= model.contact %></td>
<td><%= model.tel %></td>
<td><%= model.area.full_name %></td>
<td><%= model.detail %></td>
