<%= form_with theme: 'modal', model: @payment, scope: :payment, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= f.hidden_field :type %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
