<th><%= Trade::WalletPayment.human_attribute_name(:total_amount) %></th>
<th><%= Trade::WalletPayment.human_attribute_name(:refunded_amount) %></th>
<th><%= Trade::WalletPayment.human_attribute_name(:comment) %></th>
<th></th>
<th>
  <p><%= Trade::WalletPayment.human_attribute_name(:notified_at) %></p>
  <p class="text-grey"><%= Trade::WalletPayment.human_attribute_name(:created_at) %></p>
</th>
<th></th>