<tr>
  <td class="has-text-right"><%= Trade::WalletPayment.human_attribute_name(:total_amount) %></td>
  <td><%= @wallet_payment.total_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletPayment.human_attribute_name(:refunded_amount) %></td>
  <td><%= @wallet_payment.refunded_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletPayment.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @wallet_payment.created_at.to_s(:iso8601) %></time></td>
</tr>
