<tr>
  <td class="has-text-right"><%= Trade::Advance.human_attribute_name(:name) %></td>
  <td><%= @advance.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Advance.human_attribute_name(:price) %></td>
  <td><%= @advance.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Advance.human_attribute_name(:amount) %></td>
  <td><%= @advance.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Advance.human_attribute_name(:apple_product_id) %></td>
  <td><%= @advance.apple_product_id %></td>
</tr>
