<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_advances_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <td class="has-text-right"><%= Advance.human_attribute_name(:name) %></td>
      <td><%= @advance.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Advance.human_attribute_name(:price) %></td>
      <td><%= @advance.price %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Advance.human_attribute_name(:wallet_amount) %></td>
      <td><%= @advance.wallet_amount %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Advance.human_attribute_name(:state) %></td>
      <td><%= @advance.state %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Advance.human_attribute_name(:apple_product_id) %></td>
      <td><%= @advance.apple_product_id %></td>
    </tr>
  </tbody>
</table>
