<div id="cart_form">
<%= form_with theme: 'line', model: @cart, url: { action: 'update' } do |f| %>
  <%= render 'error_messages', target: @cart %>
  <%= f.fields :contact do |ef| %>
    <%= ef.text_field :identity, disabled: ef.object.persisted? %>
    <%= ef.text_field :name %>
  <% end %>
  <%= f.submit nil, class: 'button is-fullwidth is-primary' %>
<% end %>

<% if @cart.contact.errors.present? %>
  <%= form_with theme: nil, model: @cart, url: { action: 'bind' }, method: :patch do |f| %>
    <%= f.fields :contact do |ef| %>
      <%= ef.hidden_field :identity %>
    <% end %>
    <%= f.submit t('.bind.title'), class: 'button is-fullwidth is-warning mt-3' %>
  <% end %>
<% end %>
</div>