<td>
<% if model.contact %>
  <p><%= link_to model.contact.identity, { action: 'show', id: model.id }, state: 'enter' %></p>
  <p><span class="has-text-grey"><%= model.contact.name %></span></p>
<% end %>
</td>
<td>
  <p><%= model.good_type_i18n %></p>
  <p><%= model.aim_i18n %></p>
</td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p><%= model.deposit_ratio %></p>
</td>
<td class="has-text-right">
  <p><%= model.item_amount.to_money.format.html_safe %></p>
  <p><%= model.overall_additional_amount.to_money.format.html_safe %></p>
  <p><%= model.overall_reduced_amount.to_money.format.html_safe %></p>
  <p><%= model.amount.to_money.format.html_safe %></p>
</td>
<td class="has-text-centered"><%= model.items.size %></td>
