<div class="buttons are-small as-bottom">
  <%= button_to({ controller: 'scan_payments', action: 'desk', desk_id: @desk.id }, class: 'button is-primary') do %>
    <span><%= t('.scan_payments.desk.title') %></span>
  <% end %>
  <%= button_to({ controller: 'hand_payments', action: 'desk', desk_id: @desk.id }, class: 'button is-link') do %>
    <span><%= t('.hand_payments.desk.title') %></span>
  <% end %>
  <%= link_to({ action: 'history' }, class: 'button is-success') do %>
    <span><%= t('.history.title') %></span>
  <% end %>
</div>
