<th>
  <p><%= Trade::Refund.human_attribute_name(:payment_id) %></p>
  <p><%= Trade::Refund.human_attribute_name(:refund_uuid) %></p>
</th>
<th><%= Trade::Refund.human_attribute_name(:total_amount) %></th>
<th>
  <p><%= Trade::Refund.human_attribute_name(:created_at) %></p>
  <p><%= Trade::Refund.human_attribute_name(:refunded_at) %></p>
</th>
<th></th>
<th></th>