<th><%= Trade::TradePromote.human_attribute_name(:promote_id) %></th>
<td>
  <p><%= Trade::TradePromote.human_attribute_name(:based_amount) %></p>
  <p><%= Trade::TradePromote.human_attribute_name(:computed_amount) %></p>
</td>
<td><%= Trade::TradePromote.human_attribute_name(:promote_charge_id) %></td>
<th><%= Trade::TradePromote.human_attribute_name(:amount) %></th>
<th><%= Trade::TradePromote.human_attribute_name(:note) %></th>
