<div class="ui segment">
  <h1>订单列表</h1>
</div>

<table class="ui table">
  <thead>
  <tr>
    <th>订单号</th>
    <th>Amount</th>
    <th>Payment Status</th>
    <th>Pay</th>
    <th>Actions</th>
  </tr>
  </thead>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.uuid %></td>
      <td>
        <%= order.amount %>
      </td>
      <td><%= order.payment_status_i18n %></td>
      <td>
        <% if order.payment_type %>
          <span class="ui label"><%= order.payment_type %></span>
        <% else %>
          <%= link_to '选择支付方式', payment_type_my_order_path(order), remote: true, class: 'ui label' %>
        <% end %>
        <% if order.can_pay? %>
          <%= link_to 'pay', "/my/orders/#{order.id}/#{order.payment_type}_pay", remote: order.payment_type == 'wxpay' %>
        <% end %>
      </td>
      <td>
        <%= link_to my_order_path(order), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_my_order_path(order), remote: true, data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @orders %>






