<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui breadcrumb">
      <%= link_to '全部订单', my_orders_path, class: 'section' %>
      <i class="right chevron icon divider"></i>
      <%= link_to '编辑', edit_my_order_path(@order), class: 'section' %>
    </div>

    <table class="ui table">
      <thead>
      <tr>
        <th>商品</th>
        <th>价格</th>
        <th>数量</th>
      </tr>
      </thead>
      <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= link_to order_item.good&.name %></td>
        <td><%= order_item.good&.price %></td>
        <td><%= order_item.quantity %></td>
      </tr>
      <% end %>
    </table>
  </div>

</div>







