<div class="box">
  <p><%= @order.member&.name %></p>
  <p><%= @order.user&.name %></p>
  <p>
    <span class="tag"><%= @order.current_cart.payment_strategy&.name %></span>
    <% if @order.current_cart.deposit_ratio %>
      <span class="tag">
        Deposit Ratio:<%= @order.current_cart.deposit_ratio %>%
      </span>
    <% end %>
  </p>
</div>

<%= render layout: 'index_table' do %>
  <%= render partial: 'item_tbody', layout: 'item_tr', collection: @order.items, as: :model %>
<% end %>

<%# render partial: 'orders/addresses', locals: { addresses: @order.user.addresses.transport } %>
<%# render partial: 'orders/invoice_addresses', locals: { addresses: @order.user.addresses.invoice } %>
