<div class="box">
  <p><%= @cart.member&.name %></p>
  <p><%= @cart.user&.name %></p>
  <p>
    <span class="tag"><%= @cart.payment_strategy&.name %></span>
    <% if @cart.deposit_ratio %>
      <span class="tag">
        Deposit Ratio:<%= @cart.deposit_ratio %>%
      </span>
    <% end %>
  </p>
</div>

<%= render layout: 'index_table' do %>
  <% @cart.checked_all_items.group_by(&:provide).each do |provide, items| %>
    <tr>
      <td colspan="2"><%= provide&.name %></td>
      <td><%= hidden_field_tag 'provide_ids[]', provide&.id, form: 'batch_create' %></td>
    </tr>
    <%= render partial: 'item_tbody', layout: 'item_tr', collection: items, as: :model %>
  <% end %>
<% end %>

<%# render partial: 'orders/addresses', locals: { addresses: @order.user.addresses.transport } %>
<%# render partial: 'orders/invoice_addresses', locals: { addresses: @order.user.addresses.invoice } %>
