<%= render 'index_actions' %>

<table class="table is-fullwidth as-boxed">
  <thead>
    <%= render 'index_thead' %>
  </thead>
  <tbody>
    <%= render partial: 'index_tbody', layout: 'index_tr', collection: @order.items, as: :model %>
  </tbody>
  <tbody id="show_total">
    <%= render partial: 'order_total', locals: { model: @order } %>
  </tbody>
  <%= render partial: 'show_payment', collection: @order.payment_orders, as: :model %>
</table>
