<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rent_start_at) %></td>
  <td><%= @rent.rent_start_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rent_finish_at) %></td>
  <td><%= @rent.rent_finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:duration) %></td>
  <td><%= @rent.duration %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:amount) %></td>
  <td><%= @rent.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rentable_type) %></td>
  <td><%= @rent.rentable_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rentable_id) %></td>
  <td><%= @rent.rentable_id %></td>
</tr>
