<%= form_with model: @card_template, url: { action: 'update' }, class: 'modal-card' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.file_field :cover %>
  </section>
  <footer class="modal-card-foot is-block">
    <%= f.submit %>
  </footer>
<% end %>
