<td><%= model.grade %></td>
<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
    <span class="tag"><%= model.code %></span>
  </div>
</td>
<td class="is-cover" style="background-image: url(<%= rails_blob_url(model.cover) if model.cover.attached? %>)">
  <span style="color: <%= model.text_color %>">文字颜色</span>
</td>
<td>
  <%= link_to({ controller: 'cards', card_template_id: model.id }, aria: { label: t('trade.admin.cards.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-bars"></i>
    <span>（<%= model.cards_count %>）</span>
  <% end %>
</td>
<td><%= model.promote&.name %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'purchases', card_template_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-credit-card text-success"></i>
      <span class="ml-1"><%= t('.purchases.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'privileges', card_template_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-crown text-info"></i>
      <span class="ml-1"><%= t('.privileges.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'card_template/promote_goods', card_template_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-gift text-primary"></i>
      <span class="ml-1"><%= t('.promote_goods.index.title') %></span>
    <% end %>
  </div>
</td>