<tr>
  <td><%= card_template.name %></td>
  <td><%= image_tag card_template.cover, class: 'image is-48x48' if card_template.cover.present? %></td>
  <td>
    <p><%= card_template.valid_years %>年</p>
    <p><%= card_template.valid_months %>月</p>
    <p><%= card_template.valid_days %>天</p>
  </td>
  <td>
    <%= link_to({ controller: 'advances', card_template_id: card_template.id }, aria: { label: t('trade.admin.advances.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-donate"></i>
    <% end %>
    <%= link_to({ controller: 'card_promotes', card_template_id: card_template.id }, aria: { label: t('trade.admin.card_promotes.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-gift"></i>
    <% end %>
    <%= link_to({ controller: 'cards', card_template_id: card_template.id }, aria: { label: t('trade.admin.cards.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-bars"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: card_template.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: card_template.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
