<td><%= model.name %></td>
<td><%= image_tag model.cover, class: 'image is-48x48' if model.cover.present? %></td>
<td>
  <p><%= model.valid_years %>年</p>
  <p><%= model.valid_months %>月</p>
  <p><%= model.valid_days %>天</p>
</td>
