<th><%= CardTemplate.human_attribute_name(:name) %></th>
<th><%= CardTemplate.human_attribute_name(:cover) %></th>
<th>
  <p><%= CardTemplate.human_attribute_name(:valid_years) %></p>
  <p><%= CardTemplate.human_attribute_name(:valid_months) %></p>
  <p><%= CardTemplate.human_attribute_name(:valid_days) %></p>
</th>
<th></th>
