<div class="field is-horizontal" id="card_template_advances_<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :advances %>
  <% else %>
    <label class="field-label"></label>
  <% end %>
  <div class="field-body">
    <%= ef.number_field :amount, label: nil, placeholder: Trade::Advance.human_attribute_name(:amount) %>
    <%= ef.number_field :price, label: nil, placeholder: Trade::Advance.human_attribute_name(:price) %>
    <div class="field has-addons has-addons-middle">
      <%= button_to({ action: 'add_item', index: ef.index }, data: { title: 'add_item' }) do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
      <% if ef.object.id %>
        <%= ef.check_box :_destroy, { checked: false, label: '移除', origin: { offset: nil }, wrap: { checkbox: 'checkbox' } } %>
      <% else %>
        <%= button_to({ action: 'remove_item', index: ef.index }) do %>
          <i class="fas fa-minus-circle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
