<%= form_with theme: 'modal', model: @card_template, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.file_field :cover, required: true %>
  </section>
  <%= f.submit %>
<% end %>
