<%= render 'top_bar' %>

<div class="weui-panel is-box is-borderless mt-3">
  <div class="weui-panel__bd">
    <%= render 'my/profile_item' %>
  </div>
</div>

<div data-controller="empty" class="weui-panel is-box">
  <div class="weui-panel__hd">企业用餐</div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div data-empty-target="content" class="weui-cells weui-cells_radio">
        <%= render partial: 'organs_cart', collection: @members, as: :model %>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel is-box">
  <div class="weui-panel__bd">
  <% @roles.each do |role| %>
    <%= link_to({ controller: 'org/board/organs', action: 'new', role_id: role.id }, state: 'enter', class: 'weui-cell weui-cell_access') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= role.tip %></span>
    <% end %>
  <% end %>
  </div>
</div>
