<% content_for :breadcrumb do %>
<div class="breadcrumb">
  <ul>
    <li><%= link_to t('trade.admin.promotes.index.title'), admin_promotes_path %></li>
    <% if params[:promote_good_id] %>
      <li><%= @promote_good.promote.name %></li>
      <li><%= @promote_good.good_type_i18n %></li>
    <% end %>
    <li class="is-active">派发用户</li>
  </ul>
</div>
<% end %>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= PromoteBuyer.human_attribute_name(:buyer_type) %></th>
      <th><%= PromoteBuyer.human_attribute_name(:buyer_id) %></th>
      <th><%= PromoteBuyer.human_attribute_name(:promote) %></th>
      <th><%= PromoteBuyer.human_attribute_name(:state) %></th>
      <th>
        <%= link_to new_admin_promote_buyer_path(request.GET), remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @promote_buyers.each do |promote_buyer| %>
    <tr>
      <td><%= promote_buyer.buyer_type_i18n %></td>
      <td><%= promote_buyer.buyer_id %></td>
      <td><%= promote_buyer.promote.name %></td>
      <td><%= promote_buyer.state_i18n %></td>
      <td>
        <%= link_to admin_promote_buyer_path(promote_buyer), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @promote_buyers %>

