<%= search_form_with model: PromoteCharge.new do |f| %>
  <div class="fields">
    <%= f.text_field :value %>
    <% PromoteCharge.extra_columns.each do |extra| %>
      <%= f.text_field extra, placeholder: extra %>
    <% end %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:value]), class: 'ui button' %>
  </div>
<% end %>

