<td>
  <p><%= model.min %></p>
  <p><%= model.max %></p>
</td>
<td>
  <div class="ui toggle checkbox">
    <%= check_box_tag 'model[contain_min]', nil, model.contain_min, data: { method: :patch, url: admin_promote_charge_path(@promote, model), submit: true }, id: nil %>
  </div>
  <div class="ui toggle checkbox">
    <%= check_box_tag 'model[contain_max]', nil, model.contain_max, data: { method: :patch, url: admin_promote_charge_path(@promote, model), submit: true }, id: nil %>
  </div>
</td>
<td><%= simple_format(model.extra) %></td>
<td><%= model.parameter %></td>
<td><%= model.type_i18n %></td>
