<th>
  <p><%= PromoteCharge.human_attribute_name(:min) %></p>
  <p><%= PromoteCharge.human_attribute_name(:max) %></p>
</th>
<th>
  <p><%= PromoteCharge.human_attribute_name(:contain_min) %></p>
  <p><%= PromoteCharge.human_attribute_name(:contain_max) %></p>
</th>
<th><%= PromoteCharge.human_attribute_name(:extra) %></th>
<th><%= PromoteCharge.human_attribute_name(:parameter) %></th>
<th><%= PromoteCharge.human_attribute_name(:type) %></th>
<th></th>
