<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <%= link_to t('trade.admin.promotes.index.title'), admin_promotes_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section"><%= t('.title') %></div>
</div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>
        <p><%= PromoteCharge.human_attribute_name(:min) %></p>
        <p><%= PromoteCharge.human_attribute_name(:max) %></p>
      </th>
      <th>
        <p><%= PromoteCharge.human_attribute_name(:contain_min) %></p>
        <p><%= PromoteCharge.human_attribute_name(:contain_max) %></p>
      </th>
      <th><%= PromoteCharge.human_attribute_name(:extra) %></th>
      <th><%= PromoteCharge.human_attribute_name(:parameter) %></th>
      <th><%= PromoteCharge.human_attribute_name(:type) %></th>
      <th>
        <%= link_to new_admin_promote_charge_path(@promote), remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @promote_charges.each do |promote_charge| %>
    <tr>
      <td>
        <p><%= promote_charge.min %></p>
        <p><%= promote_charge.max %></p>
      </td>
      <td class="ui checkboxes">
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote_charge[contain_min]', nil, promote_charge.contain_min, data: { method: :patch, remote: true, url: admin_promote_charge_path(@promote, promote_charge), submit: true }, id: nil %>
        </div>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote_charge[contain_max]', nil, promote_charge.contain_max, data: { method: :patch, remote: true, url: admin_promote_charge_path(@promote, promote_charge), submit: true }, id: nil %>
        </div>
      </td>
      <td><%= simple_format(promote_charge.extra) %></td>
      <td><%= promote_charge.parameter %></td>
      <td><%= promote_charge.type_i18n %></td>
      <td>
        <%= link_to edit_admin_promote_charge_path(@promote, promote_charge), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_promote_charge_path(@promote, promote_charge), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @promote_charges %>
