<div class="ui segment breadcrumb">
  <%= link_to 'back', admin_promotes_path, class: 'section' %>
  <i class="right angle icon divider"></i>
  <div class="section">Charge List</div>
</div>

<div class="ui top attached segment">
  <%= render 'search_form' %>
</div>

<div class="ui attached segment">
  <%= link_to new_admin_promote_charge_path(@promote), remote: true, class: 'ui blue button' do %>
    <i class="add circle icon"></i>Add New Charge
  <% end %>
</div>

<table class="ui bottom attached celled table">
  <thead>
    <tr>
      <th class="center aligned"><%= PromoteCharge.human_attribute_name(:min) %></th>
      <th class="center aligned"><%= PromoteCharge.human_attribute_name(:max) %></th>
      <th class="center aligned"><%= PromoteCharge.human_attribute_name(:extra) %></th>
      <th class="center aligned"><%= PromoteCharge.human_attribute_name(:parameter) %></th>
      <th class="center aligned"><%= PromoteCharge.human_attribute_name(:type) %></th>
      <th class="center aligned"><%= PromoteCharge.human_attribute_name(:action) %></th>
    </tr>
  </thead>
  <tbody>
  <% @charges.each do |charge| %>
    <tr>
      <td class="center aligned"><%= charge.min %></td>
      <td class="center aligned"><%= charge.max %></td>
      <td><%= simple_format(charge.extra) %></td>
      <td class="center aligned"><%= charge.parameter %></td>
      <td class="center aligned"><%= charge.type_i18n %></td>
      <td class="center aligned">
        <%= link_to edit_admin_promote_charge_path(@promote, charge), class: 'ui icon green button', 'data-content' => 'Edit Charge', 'data-variation' => 'inverted', remote: true do %>
          <i class="edit white icon"></i>
        <% end %>
        <%= link_to admin_promote_charge_path(@promote, charge), method: :delete, class: 'ui icon red button floated', 'data-content': 'Delete', 'data-variation': 'inverted', data: { confirm: t('.confirm') } do %>
          <i class="center aligned remove white icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @charges %>
