<div class="ui grid page">

<div class="four wide column">
  <%= render "my/base/nav" %>
</div>

<div class="twelve wide column">
<h1>用户信息编辑</h1>
  <li><%= link_to "删除账户", my_profile_path, :data => { :confirm => "Are you sure?" }, :method => :delete %></li>

  <%= form_for @user, :url => my_profile_path, :html => { :multipart => true, class: 'form-horizontal' } do |f| %>

    <fieldset>

      <div class="control-group">
        <%= f.label :name, "昵称：", :class => "control-label" %>
        <div class="controls"><%= f.text_field :name, :class => "input-xlarge" %></div>
      </div>

      <div class="control-group">
        <%= f.label :email, "邮箱：", :class => "control-label" %>
        <div class="controls"><%= f.email_field :email, :class => "input-xlarge" %></div>
      </div>

      <div class="control-group">
        <%= f.label :avatar, "上传头像：", :class => "control-label" %>
        <div class="controls">
          <%= image_tag(@user.avatar_url) if @user.avatar? %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit :class => "btn btn-primary btn-large" %>
      </div>

    </fieldset>

  <% end %>

</div>

</div>