<tr id="payment_method_<%= payment_method.id %>">
  <td><%= payment_method.id %></td>
  <td><%= payment_method.account_name %></td>
  <td><%= payment_method.account_num %></td>
  <td><%= payment_method.bank %></td>
  <td>
    <%= link_to 'Edit', edit_buyer_payment_method_path(@buyer, payment_method), class: 'ui mini blue button', remote: true %>
    <%= link_to 'Destroy', buyer_payment_method_path(@buyer, payment_method), class: 'ui mini button', remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
