<div class="ui top attached borderless menu">
  <div class="item header">商家列表</div>
  <div class="right menu">
    <div class="item"><%= link_to '新建', new_admin_provider_path, class: 'ui teal button' %></div>
  </div>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @providers.each do |provider| %>
    <tr>
      <td><%= provider.id %></td>
      <td><%= provider.name %></td>
      <td><%= link_to '编辑', edit_admin_provider_path(provider) %></td>
      <td><%= link_to '删除', admin_provider_path(provider), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>