<th><%= Trade::Refund.human_attribute_name(:refund_uuid) %></th>
<th>
  <p><%= Refund.human_attribute_name(:order_id) %></p>
  <p><%= Refund.human_attribute_name(:payment_id) %></p>
</th>
<th><%= Trade::Refund.human_attribute_name(:total_amount) %></th>
<th><%= Trade::Refund.human_attribute_name(:type) %></th>
<th><%= Trade::Refund.human_attribute_name(:created_at) %></th>
<th><%= Trade::Refund.human_attribute_name(:state) %></th>
<th><%= Trade::Refund.human_attribute_name(:comment) %></th>
<th><%= Trade::Refund.human_attribute_name(:refunded_at) %></th>
<th></th>
