<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Total Amount</th>
      <th>Order Amount</th>
      <th>Type</th>
      <th>Created At</th>
      <th>State</th>
      <th>Comment</th>
      <th>Refunded At</th>
    </tr>
  </thead>
  <tbody>
  <% @refunds.each do |refund| %>
      <tr>
        <td><%= refund.total_amount.to_money(refund.currency).format %></td>
        <td><%= refund.order_amount.to_money.format %></td>
        <td><%= refund.type_i18n %></td>
        <td><time data-controller="time"><%= refund.created_at.to_formatted_s(:iso8601) %></time></td>
        <td><%= refund.state %></td>
        <td><%= refund.comment %></td>
        <td>
          <% if refund.refunded_at %>
            <time data-controller="time"><%= refund.refunded_at.to_formatted_s(:iso8601) %></time>
          <% else %>
            <%= refund.reason.to_s.truncate(27) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

