<div>
  <dt><%= Trade::Refund.human_attribute_name(:refund_uuid) %></dt>
  <dd><%= @refund.refund_uuid %></dd>
</div>
<div>
  <dt><%= Trade::Refund.human_attribute_name(:state) %></dt>
  <dd><%= @refund.state_i18n %></dd>
</div>
<div>
  <dt><%= Trade::Refund.human_attribute_name(:total_amount) %></dt>
  <dd><%= @refund.total_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Refund.human_attribute_name(:refund_uuid) %></dt>
  <dd><%= @refund.refund_uuid %></dd>
</div>
<div>
  <dt><%= Trade::Refund.human_attribute_name(:comment) %></dt>
  <dd><%= @refund.comment %></dd>
</div>
