<td>
  <%= link_to model.uuid, { action: 'show', id: model.id } %>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td>
  <span><%= model.payment_status_i18n %></span>
  <%= link_to({ action: 'payment_types', id: model.id }, class: 'button is-small') do %>
    <span>支付</span>
  <% end if model.can_pay? %>
</td>
<td><time data-controller="time" data-format="human" class="has-text-grey"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <span><%= model.note %></span>
  <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('.edit.title') }, class: 'pl-1', style: 'visibility: hidden') do %>
    <i class="fa-solid fa-pencil has-text-grey"></i>
  <% end %>
</td>
