<div class="ui segment top attached">
</div>

<table class="ui table">
  <thead>
  <tr>
    <th><%= check_box_tag :all %></th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= check_box_tag(:cart_item_id, cart_item.id) %></td>
      <td><%= cart_item.good&.name %></td>
      <td>
        <div class="ui left right action input">
          <%= link_to my_cart_item_path(cart_item), method: :patch, class: 'ui button', onclick: 'decrease_quantity()', remote: true do %>
            <i class="minus icon"></i>
          <% end %>
          <%= text_field_tag :quantity, cart_item.quantity %>
          <%= link_to my_cart_item_path(cart_item), method: :patch, class: 'ui button', onclick: 'increase_quantity()', remote: true do %>
            <i class="plus icon"></i>
          <% end %>
        </div>
      </td>
      <td>
        <%= link_to 'delete', my_cart_item_path(cart_item), method: :delete, remote: true %>
      </td>
    </tr>
  <% end %>

  <tfoot>
    <tr>
      <th colspan="5">
        <div class="">
          <%= link_to '去结算', new_my_order_path, class: 'ui red right floated button', id: 'new_order' %>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

