<div class="ui breadcrumb">
  <%= link_to '全部商品', admin_goods_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <%= link_to @good.name, admin_good_path(@good), class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <span class="section">编辑</span>
</div>

<div class="ui grid">

  <div class="three wide column">
    <%= render 'nav' %>
  </div>

  <div class="thirteen wide column">

    <%= form_for @good, :url => items_admin_good_path(@good),  :html => {:class => 'ui form'} do |f| %>

      <fieldset>

        <div class="inline field">
          <%= f.label :item_ids, "商品描述：", :class => "six wide field" %>
          <%= f.collection_select :item_ids, @items, :id, :name, {}, { :multiple => true, :class => "nine wide field" }  %>
        </div>

        <div class="inline field">
          <label class="six wide field"></label>
          <%= f.submit '添加', class: 'ui button' %>
        </div>

      </fieldset>
    <% end %>

  </div>

</div>

<script>
  $('#good_item_ids').select2({
    allowClear: true
  });
</script>

