<div class="">

  <div class="ui top attached menu borderless">
    <div class="item"><strong>商品列表</strong></div>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_good_path, class: 'ui teal button' %></div>
    </div>
  </div>

  <table class="ui table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Sku</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>

    <% @goods.each do |good| %>
      <tr>
        <td><%= good.id %></td>
        <td><%= good.name %></td>
        <td><%= good.sku %></td>
        <td><%= good.price %></td>
        <td><%= link_to '编辑', edit_admin_good_path(good) %></td>
        <td><%= link_to '删除', admin_good_path(good), method: :delete, data: { turbo_confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </table>
</div>
