<div class="column is-one-third">
  <%= form_with model: @order, url: { controller: 'orders', action: 'add' }, class: 'button_column' do |f| %>
    <%= f.fields :items do |ef| %>
      <%= ef.hidden_field :good_type, value: advance.class_name %>
      <%= ef.hidden_field :good_id, value: advance.id %>
    <% end %>
    <%= button_tag class: 'button is-outlined is-success is-block' do %>
      <div class="header has-text-grey has-text-weight-semibold" style="font-size: 18px"><%= advance.amount.to_money.format.html_safe %></div>
      <div class="description has-text-danger"><%= advance.price.to_money.format.html_safe %></div>
    <% end %>
  <% end %>
</div>
