<div class="column is-one-third">
  <%= form_with model: @order, url: { controller: 'orders', action: 'add' } do |f| %>
    <%= f.fields :items do |ef| %>
      <%= ef.hidden_field :good_type, value: advance.base_class_name %>
      <%= ef.hidden_field :good_id, value: advance.id %>
    <% end %>
    <%= button_tag class: 'button is-outlined is-success has-column-centered is-fullwidth' do %>
      <div class="description color-danger">
        <span class="size-7">充</span>
        <span><%= advance.price.to_money.format.html_safe %></span>
      </div>
      <div class="header color-grey has-text-weight-semibold" style="font-size: 18px">
        <span class="size-7">得</span>
        <span><%= advance.amount.to_money.format.html_safe %></span>
      </div>
    <% end %>
  <% end %>
</div>
