<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:amount) %></label>
      <span class="weui-form-preview__value"><%= @order.amount.to_money.format.html_safe %></span>
    </div>
    <div class="weui-form-preview__item" data-controller="empty">
      <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:received_amount) %></label>
      <span class="weui-form-preview__value" data-empty-target="text"><%= @order.received_amount.to_money.format.html_safe if @order.received_amount.to_d > 0 %></span>
    </div>
    <% @order.payment_orders.each do |payment_order| %>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label pl-4"><%= payment_order.payment.type_i18n %></label>
      <span class="weui-form-preview__value has-text-danger"><%= payment_order.check_amount.to_money.format.html_safe %></span>
    </div>
    <% end %>
    <% if @order.payment_strategy %>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:payment_strategy_id) %></label>
      <span class="weui-form-preview__value"><%= @order.payment_strategy.name %></span>
    </div>
    <% end %>
  </div>
</div>
