<nav data-controller="switch" class="level mb-2 box is-narrow background-success-light">
  <div class="level-left buttons are-small">
    <%= button_to({ action: 'print' }, class: 'button is-info') do %>
      <i class="fa-solid fa-print"></i>
      <span class="pl-1"><%= t('.print.title') %></span>
    <% end %>
    <% if ['unpaid', 'part_paid'].include?(@order.payment_status) %>
      <%= button_to({ controller: 'hand_payments', action: 'batch' }, params: { ids: @order.id }, class: 'button is-danger') do %>
        <i class="fa-solid fa-receipt"></i>
        <span class="ml-1"><%= t('.hand_payments.batch.title') %></span>
      <% end %>
      <%= button_to({ controller: 'scan_payments', action: 'batch' }, params: { ids: @order.id }, class: 'button is-primary') do %>
        <i class="fa-brands fa-weixin"></i>
        <span class="ml-1"><%= t('.scan_payments.batch.title') %></span>
      <% end %>
    <% end %>
  </div>
</nav>
