<tr>
  <td>
    <%= link_to trade_item.good, target: '_blank' do %>
      <span><%= trade_item.good.name %></span>
    <% end %>
  </td>
  <td>
    <span><%= trade_item.good.price.to_money.format(html_wrap: true).html_safe %></span>
    <span class="has-text-grey">x</span>
    <span><%= trade_item.number %></span>
  </td>
  <td><%= trade_item.original_amount.to_money.format(html_wrap: true).html_safe %></td>
  <td>
    <p><%= trade_item.additional_amount.to_money.format(html_wrap: true).html_safe %></p>
    <p><%= trade_item.reduced_amount.to_money.format(html_wrap: true).html_safe %></p>
  </td>
  <td><%= trade_item.amount.to_money.format(html_wrap: true).html_safe %></td>
  <td><%= link_to '订单流程', { controller: 'trade_items', action: 'show', id: trade_item.id } %></td>
</tr>
<%= render partial: 'promote_tbody', collection: trade_item.item_promotes, as: :item_promote %>
