<tr>
  <td>
    <%= trade_item.good.name %>
    <span><%= trade_item.good&.price %></span>
    <%# link_to trade_item.good&.name, controller: '/' + trade_item.good_type.underscore.pluralize, action: 'show', id: trade_item.good_id %>
  </td>
  <td><%= trade_item.number %></td>
  <td><%= trade_item.original_amount.to_money.format(html_wrap: true).html_safe %></td>
  <td>
    <p><%= trade_item.additional_amount.to_money.format(html_wrap: true).html_safe %></p>
    <p><%= trade_item.reduced_amount.to_money.format(html_wrap: true).html_safe %></p>
  </td>
  <td><%= trade_item.amount.to_money.format(html_wrap: true).html_safe %></td>
  <td><%= link_to '订单流程', { controller: 'trade_items', action: 'show', id: trade_item.id } %></td>
</tr>
<%= render partial: 'promote_tbody', collection: trade_item.item_promotes, as: :item_promote %>
