<nav data-controller="switch" class="level mb-2 box is-narrow background-success-light">
  <div class="level-left buttons are-small">
    <%= button_to({ action: 'print' }, class: 'button is-info') do %>
      <i class="fa-solid fa-print"></i>
      <span class="pl-1"><%= t('.print.title') %></span>
    <% end %>
    <% if ['unpaid', 'part_paid'].include?(@order.payment_status) %>
      <%= button_to({ controller: 'order_payments', action: 'new', order_id: @order.id }, class: 'button is-danger') do %>
        <i class="fa-solid fa-receipt"></i>
        <span class="ml-1"><%= t('.order_payments.new.title') %></span>
      <% end %>
      <%= button_to({ controller: 'order_payments', action: 'new_micro', order_id: @order.id }, class: 'button is-primary') do %>
        <i class="fa-brands fa-weixin"></i>
        <span class="ml-1"><%= t('trade.admin.order_payments.new_micro.title') %></span>
      <% end %>
    <% end %>
  </div>
</nav>
