<td><%= model.good_name %></td>
<td><%= model.uuid %></td>
<td><%= model.number %></td>
<td>
<%= f.fields :items do |ef| %>
  <%= ef.text_field :note, form: 'new_order' %>
<% end %>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td></td>
