<td><%= ef.object.good_name %></td>
<td><%= ef.object.uuid %></td>
<td><%= ef.object.number %></td>
<td>
  <%= ef.text_field :note, form: 'new_order' %>
  <%= ef.hidden_field :id, form: 'new_order' %>
</td>
<td><%= ef.object.amount.to_money.format.html_safe %></td>
<td></td>
