<div>
  <dt><%= Trade::Advance.human_attribute_name(:name) %></dt>
  <dd><%= @advance.name %></dd>
</div>
<div>
  <dt><%= Trade::Advance.human_attribute_name(:price) %></dt>
  <dd><%= @advance.price.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Advance.human_attribute_name(:amount) %></dt>
  <dd><%= @advance.amount %></dd>
</div>
<div>
  <dt><%= Trade::Advance.human_attribute_name(:apple_product_id) %></dt>
  <dd><%= @advance.apple_product_id %></dd>
</div>
