<th>
  <p><%= Trade::Rent.human_attribute_name(:rentable_type) %></p>
  <p><%= Trade::Rent.human_attribute_name(:rentable_id) %></p>
</th>
<th>
  <p><%= Trade::Rent.human_attribute_name(:rent_start_at) %></p>
  <p><%= Trade::Rent.human_attribute_name(:rent_finish_at) %></p>
</th>
<th><%= Trade::Rent.human_attribute_name(:duration) %></th>
<th><%= Trade::Rent.human_attribute_name(:amount) %></th>
