<td>
  <p><%= model.account_bank %></p>
  <p><%= model.account_name %></p>
  <p><%= model.account_num %></p>
</td>
<td><%= model.amount %></td>
<td>
  <%= link_to model.income_amount, admin_cash_givens_path(cash_id: model.id) %>
</td>
<td>
  <%= link_to model.expense_amount, admin_payouts_path(cash_id: model.id) %>
</td>
<td>
  <%= link_to model.user.name, admin_user_path(model.user_id) if model.user_id %>
</td>
<td>
  <p><%= link_to 'incomes', admin_user_advances_path(cash_id: model.id) %></p>
</td>
