<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:type) %></td>
  <td><%= @wallet.type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:amount) %></td>
  <td><%= @wallet.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:income_amount) %></td>
  <td><%= @wallet.income_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:expense_amount) %></td>
  <td><%= @wallet.expense_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:user_id) %></td>
  <td><%= @wallet.user %></td>
</tr>
<p><%= Trade::Wallet.human_attribute_name(:account_bank) %></p>
<p><%= Trade::Wallet.human_attribute_name(:account_name) %></p>
<p><%= Trade::Wallet.human_attribute_name(:account_number) %></p>

<p><%= model.account_name %></p>
<p><%= model.account_number %></p>
