<td><%= model[0] %></td>
<td colspan="2">
  <div class="buttons are-small">
    <%= link_to({ action: 'new', good_type: model[1] }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link') do %>
      <i class="fa-regular fa-plus"></i>
      <span><%= t('.new') %></span>
    <% end %>
    <%= link_to({ action: 'part_new', good_type: model[1] }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link') do %>
      <i class="fa-regular fa-plus"></i>
      <span><%= t('.part_new') %></span>
    <% end %>
  </div>
</td>
<td>
  <%= link_to({ action: 'part', good_type: model[1] }, text: true) do %>
    <span><%= Trade::PromoteGoodType.available.where(good_type: model[1]).where.not(good_id: nil).count %></span>
  <% end %>
</td>
