<th><%= Trade::Order.human_attribute_name(:uuid) %></th>
<th class="has-text-right">
  <p><%= Trade::Order.human_attribute_name(:amount) %></p>
  <p><%= Trade::Order.human_attribute_name(:received_amount) %></p>
  <p><%= Trade::Order.human_attribute_name(:unreceived_amount) %></p>
</th>
<th><%= Trade::Order.human_attribute_name(:payment_status) %></th>
<th><%= Trade::Order.human_attribute_name(:state) %></th>
<th><%= Trade::Order.human_attribute_name(:created_at) %></th>
<th><%= Trade::Order.human_attribute_name(:user_id) %></th>
<th><%= Trade::Order.human_attribute_name(:extra) %></th>
<th></th>
