<tr id="unchecked_<%= payment.id %>">
  <td style="color: #999;">
    <%= payment.payment_uuid %>
    <%= form_with url: admin_order_order_payments_path(@order), id: "new_payment_#{payment.id}" do |f| %>
    <% end %>
  </td>
  <td><%= payment.type %></td>
  <td><%= payment.total_amount %></td>
  <td><%= payment.unchecked_amount %></td>
  <td><%= payment.created_at %></td>
  <td>
    <%= hidden_field_tag 'payment_order[payment_id]', payment.id, form: "new_payment_#{payment.id}" %>
    <%= number_field_tag 'payment_order[check_amount]', @order.unreceived_amount <= (payment.unchecked_amount + 1) ? @order.unreceived_amount : payment.unchecked_amount, placeholder: 'Result:', class: 'three wide field', step: '0.01', form: "new_payment_#{payment.id}" %>
  </td>
  <td></td>
  <td>
    <%= submit_tag '核销', form: "new_payment_#{payment.id}" %>
  </td>
</tr>