<div class="box mx-3">
  <strong><%= Trade::Order.human_attribute_name(:address_id) %></strong>
  <div>
    <i class="fa-solid fa-location-dot has-text-danger"></i>
    <strong><%= model.contact %></strong>
    <span><%= model.tel %></span>
  </div>
  <div>
    <strong class="size-7"><%= model.area.full_name %></strong>
    <span class="size-7"><%= model.detail %></span>
  </div>
</div>
