<div class="weui-panel is-box">
  <div class="weui-panel__hd is-flex justify-content-space-between">
    <div>
      <i class="fa-solid fa-location-dot has-text-danger"></i>
      <strong><%= model.contact %></strong>
      <span><%= model.tel %></span>
    </div>
    <div class="has-text-grey"><%= Trade::Order.human_attribute_name(:address_id) %></div>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <strong class="is-size-7"><%= model.area.full_name %></strong>
      <span class="is-size-7"><%= model.detail %></span>
    </div>
  </div>
</div>
