<td>
  <%= model.good_name %>
  <span><%= model.single_price %></span>
  <%# link_to model.good&.name, model, action: 'show', id: model.good_id %>
</td>
<td><%= link_to '订单流程', { controller: 'models', action: 'show', id: model.id } %></td>
<td><%= model.original_amount %></td>
<td><%= model.additional_amount %></td>
<td><%= model.reduced_amount %></td>
<td><%= model.amount %></td>
<td><%= model.number %></td>
