<th><%= Trade::TradeItem.human_attribute_name(:good_id) %></th>
<th></th>
<th>
  <p><%= Trade::TradeItem.human_attribute_name(:single_price) %></p>
  <p><%= Trade::TradeItem.human_attribute_name(:original_amount) %></p>
</th>
<th><%= Trade::TradeItem.human_attribute_name(:additional_amount) %></th>
<th><%= Trade::TradeItem.human_attribute_name(:reduced_amount) %></th>
<th><%= Trade::TradeItem.human_attribute_name(:amount) %></th>
<th><%= Trade::TradeItem.human_attribute_name(:number) %></th>
<th><%= Trade::TradeItem.human_attribute_name(:aim) %></th>
