<div class="weui-panel">
  <div class="weui-panel__hd"><%= model.payment_status_i18n %></div>
  <div class="weui-panel__bd">
    <% model.trade_items.each do |trade_item| %>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <%= image_tag trade_item.good.logo, class: 'weui-media-box__thumb' if trade_item.good.logo.attached? %>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title"><%= trade_item.good.name %></h4>
          <p class="weui-media-box__desc"><%= trade_item.amount %></p>
        </div>
      </div>
    <% end %>
    <div class="weui-media-box weui-media-box_text pb-1 pt-2">
      <ul class="weui-media-box__info m-0">
        <li class="weui-media-box__info__meta"><%= model.amount %></li>
        <li class="weui-media-box__info__meta"><%= model.payment_status_i18n %></li>
        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
          <%= link_to '支付', { action: 'payment_types', id: model.id } unless model.all_paid? %>
        </li>
      </ul>
      <ul class="weui-media-box__info mt-2">
        <li class="weui-media-box__info__meta">
          <span>下单时间：</span>
          <time data-controller="time"><%= model.created_at.to_formatted_s(:iso8601) %></time>
        </li>
      </ul>
    </div>
  </div>
  <div class="weui-panel__ft">
    <div class="weui-cell weui-cell_link">
      <button class="weui-btn weui-btn_default" data-controller="wechat" data-action="wechat#close" data-wechat-address-value="/pages/service/index?url=<%= url_for(action: 'show', only_path: false) %>">联系客服</button>
    </div>
  </div>
</div>
