<div class="weui-panel">
  <div class="weui-panel__hd">
    <% if model.aim != 'use' %>
      <span class="tag is-danger"><%= model.aim_i18n %></span>
    <% end %>
    <span><%= model.payment_status_i18n %></span>
    <% if model.payment_strategy %>
      <span class="tag is-danger"><%= model.payment_strategy.name %></span>
    <% end %>
  </div>
  <div class="weui-panel__bd">
  <% if model.current_cart&.aim_rent? %>
    <%= render partial: 'rent_item', collection: model.items, as: :item %>
  <% else %>
    <%= render partial: 'item', collection: model.items, as: :item %>
  <% end %>
  </div>
</div>
