<div class="weui-panel">
  <div class="weui-panel__hd">
    <% if model.aim != 'use' %>
      <span class="tag is-danger"><%= model.aim_i18n %></span>
    <% end %>
    <span><%= model.payment_status_i18n %></span>
    <% if model.payment_strategy %>
      <span class="tag is-danger"><%= model.payment_strategy.name %></span>
    <% end %>
  </div>
  <div class="weui-panel__bd">
  <% model.items.each do |item| %>
    <% if item.aim_rent? %>
      <%= render partial: 'rent_item', locals: { item: item } %>
    <% else %>
      <%= render partial: 'item', locals: { item: item } %>
    <% end %>
  <% end %>
  </div>
</div>
