<%= link_to({ controller: 'packages', action: 'show', order_id: @order.id, id: package.id }, class: 'weui-media-box weui-media-box_appmsg', text: true) do %>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title">
      <span class="has-text-grey"><%= Ship::Package.human_attribute_name(:id) %>：</span>
      <span><%= package.id %></span>
      <span class="tag"><%= package.state_i18n %></span>


    </h4>
    <p class="weui-media-box__desc">
      <span class="has-text-grey">：</span>
      <span><%= package.expected_on %></span>
    </p>
    <p>
      <span class="has-text-grey"></span>

    </p>
  </div>
<% end %>
