<%= link_to({ controller: 'packages', action: 'show', order_id: @order.id, id: package.id }, class: 'weui-media-box weui-media-box_appmsg', text: true) do %>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title"><%= package.id %></h4>
    <p class="weui-media-box__desc">
      <span><%= package.state_i18n %></span>
    </p>
    <p class="weui-media-box__desc">
      <span class="has-text-grey"><%= Ship::Package.human_attribute_name(:expected_on) %></span>
      <span><%= package.expected_on %></span>
    </p>
  </div>
<% end %>
