<div class="weui-form-preview__bd">
  <% if model.payment %>
  <div class="weui-form-preview__item">
    <label class="weui-form-preview__label"><%= Trade::Payment.human_attribute_name(:payment_uuid) %></label>
    <div class="weui-form-preview__value" data-controller="clipboard">
      <span data-clipboard-target="source"><%= model.payment.payment_uuid %></span>
      <span class="weui-badge weui-badge__default" data-action="click->clipboard#copy">复制</span>
      <div data-clipboard-target="toast" class="weui-toast__wrap">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
          <i class="weui-icon-success-no-circle weui-icon_toast"></i>
          <p class="weui-toast__content">复制成功</p>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-form-preview__item">
    <label class="weui-form-preview__label"><%= Trade::Payment.human_attribute_name(:type) %></label>
    <span class="weui-form-preview__value"><%= model.payment.type_i18n %></span>
  </div>
  <div class="weui-form-preview__item">
    <label class="weui-form-preview__label"><%= Trade::Payment.human_attribute_name(:created_at) %></label>
    <span class="weui-form-preview__value">
      <time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.payment.created_at.to_fs(:iso8601) %></time>
    </span>
  </div>
  <% end %>
  <div class="weui-form-preview__item">
    <label class="weui-form-preview__label"><%= Trade::PaymentOrder.human_attribute_name(:order_amount) %></label>
    <span class="weui-form-preview__value">
      <% if model.payment.type == 'Trade::WalletPayment' %>
      <span class="tag">
      <% if model.payment.wallet.is_a?(Trade::LawfulWallet) %>
        <span><%= model.payment_amount.to_money.format(html_wrap: true).html_safe %></span>
      <% else %>
        <span><%= model.payment_amount.to_fs(:rounded, precision: model.payment.wallet.wallet_template.digit) %></span>
        <span><%= model.payment.wallet.wallet_template.unit %></span>
      <% end %>
      </span>
      <% end %>
      <span class="has-text-danger"><%= model.order_amount.to_money.format(html_wrap: true).html_safe %></span>
    </span>
  </div>
  <div class="weui-form-preview__item">
    <label class="weui-form-preview__label"><%= Trade::PaymentOrder.human_attribute_name(:state) %></label>
    <span class="weui-form-preview__value"><%= model.state_i18n %></span>
  </div>
</div>
<div class="weui-form-preview__ft">
  <%= link_to({ controller: 'payments', action: 'payment_order_new', payment_order_id: model.id }, class: 'weui-form-preview__btn weui-form-preview__btn_primary') do %>
    <span>支付</span>
  <% end unless model.payment %>
</div>
