<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-prewview__item">
      <label class="weui-form-preview__label"><%= Trade::Payment.human_attribute_name(:payment_uuid) %></label>
      <div class="weui-form-preview__value" data-controller="clipboard">
        <span data-clipboard-target="source"><%= model.payment.payment_uuid %></span>
        <span class="weui-badge weui-badge__default" data-action="click->clipboard#copy">复制</span>
        <div data-clipboard-target="toast" class="weui-toast__wrap">
          <div class="weui-mask_transparent"></div>
          <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">复制成功</p>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Payment.human_attribute_name(:type) %></label>
      <span class="weui-form-preview__value"><%= model.payment.type_i18n %></span>
    </div>
    <div class="weui-form-prewview__item">
      <label class="weui-form-preview__label"><%= Trade::PaymentOrder.human_attribute_name(:created_at) %></label>
      <span class="weui-form-preview__value"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::PaymentOrder.human_attribute_name(:check_amount) %></label>
      <span class="weui-form-preview__value"><%= model.check_amount.to_money.format(html_wrap: true).html_safe %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::PaymentOrder.human_attribute_name(:state) %></label>
      <span class="weui-form-preview__value"><%= model.state_i18n %></span>
    </div>
  </div>
</div>
