<tr>
  <td class="has-text-right"><%= Trade::WalletPrepayment.human_attribute_name(:amount) %></td>
  <td><%= @wallet_prepayment.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletPrepayment.human_attribute_name(:token) %></td>
  <td><%= @wallet_prepayment.token %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::WalletPrepayment.human_attribute_name(:expire_at) %></td>
  <td><time data-controller="time"><%= @wallet_prepayment.expire_at.to_fs(:iso8601) %></time></td>
</tr>
<tr>
  <td></td>
  <td>
  <% if @wallet_prepayment.scene %>
    <%= image_tag @wallet_prepayment.scene.qrcode_data_url %>
  <% else %>
    <%= image_tag @wallet_prepayment.qrcode_url %>
  <% end %>
  </td>
</tr>
