<tr>
  <td class="has-text-right"><%= CashLog.human_attribute_name(:title) %></td>
  <td><%= @cash_log.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CashLog.human_attribute_name(:amount) %></td>
  <td><%= @cash_log.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CashLog.human_attribute_name(:user) %></td>
  <td><%= @cash_log.user %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CashLog.human_attribute_name(:source_type) %></td>
  <td><%= @cash_log.source_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CashLog.human_attribute_name(:source_id) %></td>
  <td><%= @cash_log.source_id %></td>
</tr>
