<label class="weui-cell weui-cell_active weui-check__label" for="member_id_<%= model.id %>">
  <span class="weui-cell__bd">
    <strong class="has-block-left mt-1">
      <%= image_tag model.organ.logo.variant(resize_to_limit: [150, 150]), class: 'image is-24x24' if model.organ.logo.attached? %>
      <span class="is-size-7"><%= model.organ.name %></span>
    </strong>
    <span class="is-block is-size-7 has-text-grey"><%= model.name %></span>
  </span>
  <span class="weui-cell__ft has-inline-centered" data-controller="input">
    <%= form_with theme: nil, url: { controller: 'org/my/authorized_tokens', action: 'update' }, method: :patch do |f| %>
      <%= f.hidden_field :return_url, value: params[:return_url] %>
      <%= f.radio_button :member_id, model.id, checked: model == current_client, class: 'weui-check', data: { action: 'click->input#form' } %>
      <span class="weui-icon-checked"></span>
    <% end %>
    <i class="fa-solid fa-chevron-right has-text-grey is-size-6 pl-2"></i>
  </span>
</label>
