<td>
  <span><%= @user.name %></span>
  <span class="tag"><%= model.user_id %></span>
</td>
<td><%= model.aim_i18n %></td>
<td><%= model.good_type %></td>
<td><%= model.payment_strategy&.name %></td>
<td><%= model.trade_items.size %></td>
