<%= search_form_with css: { submit: 'ui green button'} do |f| %>
  <div class="fields">
    <%= f.text_field :account_name, placeholder: PaymentMethod.human_attribute_name(:account_name) %>
    <%= f.text_field :account_num, placeholder: PaymentMethod.human_attribute_name(:account_num) %>
    <%= f.text_field :bank, placeholder: PaymentMethod.human_attribute_name(:bank) %>
    <%= f.text_field :'buyers.name-like', placeholder: 'name' %>
    <%= f.submit 'Search' %>
  </div>
  <div class="fields">
    <div class="field">
      <%= link_to 'Clear All Filters', filter_params(only: []), class: 'ui white button' %>
    </div>
  </div>
<% end %>


