<%= search_form_with css: { submit: 'ui green button'} do |f| %>
  <div class="fields">
  <%= f.text_field :account_name, placeholder: 'Account Name' %>
  <%= f.text_field :account_num, placeholder: 'Account Number' %>
  <%= f.text_field :bank, placeholder: 'Bank Name' %>
  <%= f.submit 'Search' %>
  </div>
<% end %>


