<%= render layout: 'index_layout' do %>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= PaymentMethod.human_attribute_name(:account_name) %></th>
      <th><%= PaymentMethod.human_attribute_name(:account_num) %></th>
      <th><%= PaymentMethod.human_attribute_name(:bank) %></th>
      <th><%= PaymentMethod.human_attribute_name(:payment_references) %></th>
      <th><%= PaymentMethod.human_attribute_name(:verified) %></th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td><%= payment_method.id %></td>
        <td><%= payment_method.account_name %></td>
        <td><%= payment_method.account_num %></td>
        <td><%= payment_method.bank %></td>
        <td>
          <% payment_method.payment_references.each do |reference| %>
            <p id="reference_<%= reference.id %>">
              <%= reference.buyer.name %>
              <%= link_to t('.remove'), admin_payment_method_reference_path(payment_method, reference.id), method: :delete, remote: true %>
            </p>
          <% end %>
        </td>
        <td>
          <%= form_with model: payment_method, url: admin_payment_method_path(payment_method), method: :patch do |f| %>
            <%= hidden_field_tag :'payment_method[verified]', '0' %>
            <span class="ui toggle checkbox">
              <label></label>
              <%= f.check_box :verified, include_hidden: false, onChange: 'this.form.submit()' %>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to t('.relate'), new_admin_payment_method_reference_path(payment_method), class: 'ui mini green button', remote: true %>
          <%= link_to t('.destroy'), admin_payment_method_path(payment_method), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui mini red button' %>
          <%= link_to t('.edit'), edit_admin_payment_method_path(payment_method), class: 'ui mini blue button' %>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>

<% end %>

<script>
  $('.ui.checkbox').checkbox({debug: true})
</script>