<th>
  <p><%= Cash.human_attribute_name(:account_bank) %></p>
  <p><%= Cash.human_attribute_name(:account_name) %></p>
  <p><%= Cash.human_attribute_name(:account_num) %></p>
</th>
<th><%= Cash.human_attribute_name(:amount) %></th>
<th><%= Cash.human_attribute_name(:income_amount) %></th>
<th><%= Cash.human_attribute_name(:expense_amount) %></th>
<th><%= Cash.human_attribute_name(:user) %></th>
<th><%= Cash.human_attribute_name(:cash_logs) %></th>
<th></th>

