<tr>
  <td class="has-text-right"><%= Cash.human_attribute_name(:type) %></td>
  <td><%= @cash.type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Cash.human_attribute_name(:amount) %></td>
  <td><%= @cash.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Cash.human_attribute_name(:income_amount) %></td>
  <td><%= @cash.income_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Cash.human_attribute_name(:expense_amount) %></td>
  <td><%= @cash.expense_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Cash.human_attribute_name(:user_id) %></td>
  <td><%= @cash.user %></td>
</tr>
