<div class="ui segment top attached">
</div>

<table class="ui table">
  <thead>
  <tr class="">
    <th><%= check_box_tag :all %></th>
    <th>Name</th>
    <th>单价</th>
    <th>数量</th>
    <th>总价</th>
    <th></th>
  </tr>
  </thead>
  <% @cart_items.each do |cart_item| %>
    <tr class="active">
      <td><%= check_box_tag(:cart_item_id, cart_item.id, cart_item.checked) %></td>
      <td><%= cart_item.good&.name %></td>
      <td>
        <p><%= cart_item.good.serve.subtotal %></p>
        <p><%= cart_item.good&.quantity %><%= cart_item.good&.unit %></p>
      </td>
      <td>
        <div class="ui left right action input">
          <div class="ui button" onclick="decrease_quantity(<%= cart_item.id %>)"><i class="minus icon"></i></div>
          <%= text_field_tag :quantity, cart_item.quantity, id: "quantity_#{cart_item.id}", onkeyup: "update_quantity(#{cart_item.id})" %>
          <div class="ui button" onclick="increase_quantity(<%= cart_item.id %>)"><i class="plus icon"></i></div>
        </div>
      </td>
      <td>
        <p id="total_subtotal_<%= cart_item.id %>"><%= cart_item.total_subtotal %></p>
        <p id="discount_subtotal_<%= cart_item.id %>">
          <span style="color: red;"><%= cart_item.discount_subtotal if cart_item.discount_subtotal < 0 %></span>
          <i class="info circle icon" style="color: grey;"></i>
        </p>
      </td>
      <td>
        <%= link_to 'delete', my_cart_item_path(cart_item), method: :delete, remote: true %>
      </td>
    </tr>
  <% end %>
  <% @additions.charges.each do |charge| %>
    <tr class="warning">
      <td></td>
      <td><%= charge.item.name %></td>
      <td></td>
      <td></td>
      <td><%= charge.subtotal %></td>
      <td></td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <th colspan="4"></th>
      <th>
        <p id="total_subtotal"><%= @additions.total_subtotal %></p>
        <p id="discount_subtotal" style="color: red;"><%= @additions.discount_subtotal %></p>
        <p id="subtotal"><%= @additions.total %></p>
      </th>
      <th></th>
    </tr>
    <tr>
      <th colspan="5">
        <div class="">
          <%= link_to '去结算', new_my_order_path(cart_item_ids: @checked_ids.join(',')), class: 'ui red right floated button', id: 'new_order' %>
        </div>
      </th>
      <th></th>
    </tr>
  </tfoot>
</table>

