<div>
  <dt><%= Trade::Unit.human_attribute_name(:name) %></dt>
  <dd><%= @unit.name %></dd>
</div>
<div>
  <dt><%= Trade::Unit.human_attribute_name(:code) %></dt>
  <dd><%= @unit.code %></dd>
</div>
<div>
  <dt><%= Trade::Unit.human_attribute_name(:default) %></dt>
  <dd><%= @unit.default %></dd>
</div>
<div>
  <dt><%= Trade::Unit.human_attribute_name(:rate) %></dt>
  <dd><%= @unit.rate %></dd>
</div>
<div>
  <dt><%= Trade::Unit.human_attribute_name(:metering) %></dt>
  <dd><%= @unit.metering %></dd>
</div>
