<tr>
  <td><%= Trade::Unit.human_attribute_name(:name) %></td>
  <td><%= @unit.name %></td>
</tr>
<tr>
  <td><%= Trade::Unit.human_attribute_name(:code) %></td>
  <td><%= @unit.code %></td>
</tr>
<tr>
  <td><%= Trade::Unit.human_attribute_name(:default) %></td>
  <td><%= @unit.default %></td>
</tr>
<tr>
  <td><%= Trade::Unit.human_attribute_name(:rate) %></td>
  <td><%= @unit.rate %></td>
</tr>
<tr>
  <td><%= Trade::Unit.human_attribute_name(:metering) %></td>
  <td><%= @unit.metering %></td>
</tr>
