<p>原价：<%= @additions.retail_price %></p>
<p style="color: red;">批发折扣：<%= @additions.discount_price %></p>
<p style="color: red;">商品优惠：<%= @additions.reduced_price %></p>
<p>折后价格： <%= @additions.final_price %></p>
<p style="color: red;">优惠价格： <%= @additions.promote_price %></p>
<p>附加服务： <%= @additions.total_serve_price %></p>
<p>最终价格： <%= @additions.total_price %></p>


