<div class="ui segment top attached">
  <% if @user %>
    <p>
      Name: <%= @user.name %>
      <%= link_to 'carts', user_id: @user.id %>
    </p>
    <p>Email: <%= @user.email %></p>
  <% end %>
  <% if @buyer %>
    <p>Company Name: <% @buyer.name %>(<%= @buyer.id %>)
      <%= link_to 'carts', buyer_id: @buyer.id %>
    </p>
  <% end %>
</div>

<div class="ui segment top attached">
  <%= link_to '生成订单', new_admin_order_path(cart_item_id: @cart_item.id), class: 'ui red button', id: 'new_order_top' %>
  <%= link_to '生成文档', doc_admin_cart_items_path(cart_item_ids: @cart_item.id), class: 'ui orange button', id: 'cart_items_doc' %>
</div>
<table class="ui bottom attached table">
  <thead>
  <tr class="">
    <th>Name</th>
    <th>报价</th>
    <th>数量</th>
    <th>原价</th>
    <th>最终价格</th>
    <th>预成单报价</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr class="<%= active_asserts join: false, active: @cart_item.checked, positive: @cart_item.good_id.to_s == params[:good_id] %>" id="cart_item_<%= @cart_item.id %>">
      <td><%= @cart_item.good&.name %></td>
      <td>
        <div>
          <%= @cart_item.good.retail_price %><i class="info circle icon xx_popup" style="color: grey;" data-content=""></i>
          <div class="ui popup">
            <p>Export price: <%= @cart_item.good.price %></p>
            <% @cart_item.good.serve.charges.each do |charge| %>
              <p><%= charge.item.name %>: <%= charge.subtotal %></p>
            <% end %>
          </div>
        </div>
        <p><%= @cart_item.good&.quantity %><%= @cart_item.good&.unit %></p>
      </td>
      <td>
        <div class="ui left right action input">
          <div class="ui button" onclick="decrease_quantity(<%= @cart_item.id %>)"><i class="minus icon"></i></div>
          <%= text_field_tag :quantity, @cart_item.quantity, id: "quantity_#{@cart_item.id}", onkeyup: "update_quantity(#{@cart_item.id})", disabled: true %>
          <div class="ui button" onclick="increase_quantity(<%= @cart_item.id %>)"><i class="plus icon"></i></div>
        </div>
      </td>
      <td id="retail_price_<%= @cart_item.id %>"><%= render partial: 'retail_price', locals: { cart_item: @cart_item }, cached: true %></td>
      <td id="single_price_<%= @cart_item.id %>"><%= render partial: 'single_price', locals: { cart_item: @cart_item }, cached: true %></td>
      <td id="order_price_<%= @cart_item.id %>"><%= render partial: 'order_price', locals: { cart_item: @cart_item }, cached: true %></td>
      <td>
        <%= link_to 'delete', admin_cart_item_path(@cart_item), method: :delete, remote: true, class: 'ui mini label' %>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5"></th>
      <th colspan="4">
        <% if @user %>
          <%= link_to '生成订单', new_admin_order_path(user_id: @user.id), class: 'ui red button', id: 'new_order_bottom' %>
        <% end %>
      </th>
    </tr>
  </tfoot>
</table>

