<tr id="serve_<%= serve_charge.serve_id %>">
  <td class="disabled"><%= serve_charge.item.name %></td>
  <td class="disabled"><%= serve_charge.subtotal %></td>
  <td>
    <div class="ui slider checkbox" id="checkbox_<%= serve_charge.serve_id %>">
      <%= check_box_tag :serve_charge, serve_charge.id, false, data: { url: add_admin_cart_item_cart_item_serves_path(@cart_item, serve_id: serve_charge.serve_id) } %>
      <label></label>
    </div>
  </td>
</tr>


