<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil color-link"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash color-danger"></i>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'purchases', card_template_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-credit-card color-success"></i>
        <span class="pl-1"><%= t('.purchases.index.title') %></span>
      <% end %>
      <%= link_to({ controller: 'privileges', card_template_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-crown color-info"></i>
        <span class="pl-1"><%= t('.privileges.index.title') %></span>
      <% end %>
      <%= link_to({ controller: 'promote_good_cards', card_template_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-gift has-text-primary"></i>
        <span class="pl-1"><%= t('.promote_good_cards.index.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
