<td>
  <div class="ui radio checkbox">
    <%= radio_button_tag :'order[invoice_address_id]', address.id, @order.address_id == address.id, form: 'new_order' %><label></label>
  </div>
</td>
<td><%= address.contact_person %></td>
<td><%= address.tel %></td>
<td>
  <%= address.area.nation %>
  <%= address.area.province %>
  <%= address.area.city %>
</td>
<td><%= address.address %></td>
<td>
  <%= link_to 'Show', address_path(address) %>
  <%= link_to 'Edit', edit_admin_address_path(address) %>
  <%= link_to 'Destroy', admin_address_path(address), method: :delete, data: { confirm: t('.confirm') } %>
</td>
