<td>
  <label class="checkbox">
    <%= radio_button_tag 'order[from_address_id]', address.id, @order.from_address_id == address.id, form: 'new_order' %>
  </label>
</td>
<td><%= address.contact %></td>
<td><%= address.tel %></td>
<td>
  <%= address.area.full_name %>
</td>
<td><%= address.detail %></td>
<td></td>
