<td>
  <%= order_item.good_name %>
  <%= oi.hidden_field :cart_item_id, form: 'new_order' %>
</td>
<td><%= oi.date_field :deliver_on, form: 'new_order' %></td>
<td><%= oi.number_field :advance_price, form: 'new_order' %></td>
<td><%= oi.text_field :comment, form: 'new_order' %></td>
<td><%= order_item.amount %></td>
<td></td>
