<div class="card is-radiusless">
  <div class="card-header level mb-0">
    <div class="level-left">
      <p class="card-header-title"><%= model.card_template.name %></p>
    </div>
    <div class="level-right mt-0">
      <%= link_to '记录', { controller: 'card_logs', card_id: model.id }, class: 'card-footer-item' %>
    </div>
  </div>
  <div class="card-content" style="height: 200px; color: <%= model.card_template.text_color %>; background-image: url(<%= rails_blob_url(model.card_template.cover) %>); background-size: cover; background-repeat: no-repeat">
    <div class="header">
      <%= model.card_uuid %>
    </div>
    <div class="description">
      <div class="level is-flex">
        <div class="level-left">
          <div class="level-item"><time data-controller="time"><%= model.effect_at.to_s(:rfc822) %></time></div>
        </div>
        <div class="level-right mt-0">
          <div class="level-item"><time data-controller="time"><%= model.expire_at.to_s(:rfc822) %></time></div>
        </div>
      </div>
      <p><%= Trade::Card.human_attribute_name(:amount) %>：<%= model.amount %></p>
    </div>
  </div>
  <div class="card-footer">
    <%= render partial: 'advance', collection: model.card_template.advances.order(id: :asc) %>
  </div>
</div>
