<div class="card is-radiusless">
  <div class="card-header level mb-0">
    <div class="level-left">
      <p class="card-header-title"><%= model.card_template.name %></p>
    </div>
    <div class="level-right mt-0 pr-3">
      <span><%= Trade::Card.human_attribute_name(:amount) %>：<%= model.amount %></span>
      <%= link_to '记录', { controller: 'card_logs', card_id: model.id } %>
    </div>
  </div>
  <div class="card-content is-cover is-flex is-flex-direction-column-reverse" style="height: 128px; color: <%= model.card_template.text_color %>; background-image: url(<%= rails_blob_url(model.card_template.cover) %>)">
    <div class="header">
      <%= model.card_uuid %>
    </div>
    <div class="description">
      <div>
      <% if model.expire_at %>
        <span>有效期：</span>
        <time data-controller="time" data-format="yyyy-mm-dd HH:mm:ss"><%= model.expire_at.to_s(:iso8601) %></time>
      <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= render partial: 'advance', collection: model.card_template.advances.order(id: :asc) %>
  </div>
</div>
