<p>原价：<%= cart.retail_price %></p>
<p style="color: red;">批发折扣：<%= cart.discount_price %></p>
<p>折后价格： <%= cart.bulk_price %></p>
<p style="color: red;">优惠价格： <%= cart.overall_reduced_amount %></p>
<p>附加服务： <%= cart.overall_additional_amount %></p>
<p>最终价格： <%= cart.amount %></p>
