<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['openAddress'] -%>
<% end %>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <% if current_cart.address %>
          <p><%= current_cart.address.contact %></p>
          <p><%= current_cart.address.detail %></p>
        <% else %>
          <p>选择地址</p>
        <% end %>
      </div>
      <%= link_to '', fork_my_addresses_path(return_to: my_cart_url), remote: true, class: 'weui-cell__ft' %>
    </div>
    <% @trade_items.each do |trade_item| %>
      <div class="weui-media-box weui-media-box_appmsg" data-controller="swipe" data-action="touchmove->swipe#left touchstart->swipe#start">
        <div class="weui-media-box__hd">
          <%= image_tag trade_item.good.logo, class: 'weui-media-box__thumb' if trade_item.good.logo.attached? %>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title"><%= trade_item.good.name %></h4>
          <p class="weui-media-box__desc">
            <% if trade_item.good.respond_to?(:parts) %>
            <% trade_item.good.parts.each do |part| %>
              <span><%= part.name %></span>
            <% end %>
            <% end %>
          </p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">
              <span><%= trade_item.good.price %></span>
            </li>
          </ul>
        </div>
        <div class="weui-media-box__ft" data-target="swipe.open" data-controller="cart">
          <%= link_to my_trade_item_path(trade_item), method: :patch, data: { params: "[trade_item]number=#{trade_item.number + 1}" }, remote: true, class: 'weui-btn weui-btn_mini weui-btn_default' do %>
            <i class="fas fa-plus"></i>
          <% end %>
          <div class="weui-btn weui-btn_mini weui-btn_warn" data-target="cart.number"><%= trade_item.number %></div>
          <% if trade_item.number <= 1 %>
            <%= link_to my_trade_item_path(trade_item), method: :delete, data: { confirm: t('.confirm') }, remote: true, class: 'weui-btn weui-btn_mini weui-btn_default' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% else %>
            <%= link_to my_trade_item_path(trade_item), method: :patch, data: { params: "[trade_item]number=#{trade_item.number - 1}" }, remote: true, class: 'weui-btn weui-btn_mini weui-btn_default' do %>
              <i class="fas fa-minus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="weui-btn-area">
  <%= form_with theme: nil, url: my_orders_path, id: 'add_cart' do %><% end %>
  <%= submit_tag t('helpers.submit.next'), form: 'add_cart', class: 'weui-btn weui-btn_primary' %>
</div>
