<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= check_box_tag :all %></th>
      <th><%= TradeItem.human_attribute_name(:good_name) %></th>
      <th><%= TradeItem.human_attribute_name(:single_price) %></th>
      <th><%= TradeItem.human_attribute_name(:number) %></th>
      <th><%= TradeItem.human_attribute_name(:amount) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @trade_items.each do |trade_item| %>
    <%= render partial: 'trade_item', locals: { trade_item: trade_item } %>
  <% end %>
  </tbody>
  <%= render 'total_price' %>
  <tfoot>
    <tr>
      <th colspan="5"></th>
      <th>
        <%= link_to '去结算', new_my_order_path, class: 'button is-primary', id: 'new_order' %>
      </th>
    </tr>
  </tfoot>
</table>
