

<div class="ui page grid">
  <div class="sixteen wide column">
    <div class="ui breadcrumb">
      <%= link_to '我的订单', my_orders_path, class: 'section' %>
      <i class="right chevron icon divider"></i>
      <div class="section action">订单</div>
    </div>

  <div class="ui list">
    <div class="item">
      <%= image_tag @order.good.logo_url, class: 'ui avatar image' %>
      <div class="content">
        <%= link_to @order.good.name, good_path(@order.good), target: '_blank', class: 'header' %>
        <div class="description">商品描述</div>
      </div>
    </div>
    <div class="item">
      <p class="text-order"><%= @order.good.price %></p>
    </div>

    <div class="item">
      <%= render 'form' %>
    </div>
    <div class="item">
      <%= render 'date_form' %>
    </div>
  </div>

  </div>
</div>








