<div class="ui segment top attached">
</div>

<div class="ui segment bottom attached items">
  <%= form_with model: @order, url: my_orders_path, id: 'new_order' do |f| %>
  <% @order_form = f %>
  <% end %>
  <% @order.order_items.each do |order_item| %>

  <div class="item">
  <%= @order_form.fields_for :order_items, order_item do |oi| %>
      <div class="content">
        <%= oi.object.good&.name %>
        <%= oi.hidden_field :good_type, form: 'new_order' %>
        <%= oi.hidden_field :good_id, form: 'new_order' %>
        <%= oi.text_field :quantity, form: 'new_order' %>
      </div>
  <% end %>
  </div>

  <% end %>



  <%= submit_tag '确认订单', class: 'ui red button', form: 'new_order' %>
</div>
