<tr>
  <td><%= card_advance.amount %></td>
  <td><%= link_to card_advance.user.name, admin_user_path(card_advance.user_id) %></td>
  <td><%= card_advance.advance&.name %></td>
  <td><%= card_advance.amount %></td>
  <td><%= card_advance.wallet_id %></td>
  <td><%= card_advance.state %></td>
  <td><time><%= card_advance.created_at.to_s(:rfc822) %></time></td>
  <td>
    <%= link_to admin_card_advance_path(card_advance), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to edit_admin_card_advance_path(card_advance), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_card_advance_path(card_advance), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
