<tr>
  <td class="has-text-right"><%= Trade::CardAdvance.human_attribute_name(:amount) %></td>
  <td><%= @card_advance.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardAdvance.human_attribute_name(:user) %></td>
  <td><%= @card_advance.user %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardAdvance.human_attribute_name(:advance) %></td>
  <td><%= @card_advance.advance %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardAdvance.human_attribute_name(:note) %></td>
  <td><%= @card_advance.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardAdvance.human_attribute_name(:amount) %></td>
  <td><%= @card_advance.amount %></td>
</tr>
