<tr>
  <td class="has-text-right"><%= UserAdvance.human_attribute_name(:amount) %></td>
  <td><%= @user_advance.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= UserAdvance.human_attribute_name(:user) %></td>
  <td><%= @user_advance.user %></td>
</tr>
<tr>
  <td class="has-text-right"><%= UserAdvance.human_attribute_name(:advance) %></td>
  <td><%= @user_advance.advance %></td>
</tr>
<tr>
  <td class="has-text-right"><%= UserAdvance.human_attribute_name(:amount) %></td>
  <td><%= @user_advance.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= UserAdvance.human_attribute_name(:wallet) %></td>
  <td><%= @user_advance.wallet %></td>
</tr>
<tr>
  <td class="has-text-right"><%= UserAdvance.human_attribute_name(:state) %></td>
  <td><%= @user_advance.state %></td>
</tr>
