<%= form_with theme: 'modal', model: @payment, url: { controller: 'scan_payments', action: 'create' }, id: 'create_scan' do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= f.hidden_field :type %>
    <%= f.fields :payment_orders do |ef| %>
      <div class="field-label is-normal">
        <label class="label family-monospace text-grey display-inline"><%= ef.object.order.uuid %></label>
        <span class="size-7 text-grey">第 <%= ef.index + 1 %> 次下单</span>
      </div>
      <%= ef.number_field :order_amount, readonly: true, label: nil %>
      <%= ef.hidden_field :state %>
      <%= ef.hidden_field :order_id %>
    <% end %>
    <%= f.number_field :adjust_amount %>
    <%= f.number_field :total_amount, readonly: true %>
  </section>
  <footer class="modal-card-foot">
    <div
      data-controller="scan"
      data-scan-form-value="create_scan"
      data-action="click->scan#report"
      class="button is-medium is-primary"
    >
      <%= svg_tag 'credit-card' %>
      <span class="ml-1"><%= t('.scan_payments.create.title') %></span>
    </div>
  </footer>
<% end %>
