<div>
  <dt><%= Trade::ScanPayment.human_attribute_name(:total_amount) %></dt>
  <dd><%= @scan_payment.total_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::ScanPayment.human_attribute_name(:income_amount) %></dt>
  <dd><%= @scan_payment.income_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::ScanPayment.human_attribute_name(:fee_amount) %></dt>
  <dd><%= @scan_payment.fee_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::ScanPayment.human_attribute_name(:refunded_amount) %></dt>
  <dd><%= @scan_payment.refunded_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::ScanPayment.human_attribute_name(:notified_at) %></dt>
  <dd><time data-controller="time" data-format="human"><%= @scan_payment.notified_at.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Trade::ScanPayment.human_attribute_name(:buyer_identifier) %></dt>
  <dd><%= @scan_payment.buyer_identifier %></dd>
</div>
