<tr>
  <td class="has-text-right"><%= Trade::ScanPayment.human_attribute_name(:total_amount) %></td>
  <td><%= @scan_payment.total_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::ScanPayment.human_attribute_name(:notified_at) %></td>
  <td><%= @scan_payment.notified_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::ScanPayment.human_attribute_name(:buyer_identifier) %></td>
  <td><%= @scan_payment.buyer_identifier %></td>
</tr>
