<tr>
  <td><%= payment_method.account_name %></td>
  <td><%= payment_method.account_num %></td>
  <td><%= payment_method.bank %></td>
  <td>
    <%= link_to 'Edit', edit_my_payment_method_path(payment_method), class: 'button is-link is-small', remote: true %>
    <%= link_to 'Delete', my_payment_method_path(payment_method), class: 'button', remote: true, method: :delete, data: { confirm: t('.confirm') } %>
  </td>
</tr>
