<div class="menu-list">
  <%= link_to({ controller: 'trade/admin/home' }, data: { turbo_frame: 'body', action: 'menu#enter' }, text: true, class: 'menu-item') do %>
    <div>
      <i class="fa-solid fa-fw fa-shopping-cart"></i>
      <span><%= t('trade.admin.title') %></span>
    </div>
  <% end %>
  <div class="menu-list pl-3">
    <%= link_to t('trade.admin.orders.index.title'), { controller: 'trade/admin/orders' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'orders', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('trade.admin.payments.index.title'), { controller: 'trade/admin/payments' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'payments', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('trade.admin.items.index.title'), { controller: 'trade/admin/items' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'items', item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
