<div class="<%= active_helper(controllers: ['trade/admin'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-shopping-cart"></i>
    <span><%= t('trade.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('trade.admin.orders.index.title'), { controller: 'trade/admin/orders' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.admin.items.index.title'), { controller: 'trade/admin/items' }, class: active_helper(controllers: 'items', active: 'is-active') %>
    <%= link_to t('trade.admin.carts.index.title'), { controller: 'trade/admin/carts' }, class: active_helper(controllers: 'carts', active: 'is-active') %>
  </div>
</div>
<div class="<%= active_helper(controllers: ['trade/admin'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-shopping-cart"></i>
    <span>财务管理</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('trade.admin.orders.unpaid.title'), { controller: 'trade/admin/orders', action: 'unpaid' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.admin.payments.index.title'), { controller: 'trade/admin/payments' }, class: active_helper(controllers: 'payments', active: 'is-active') %>
    <%= link_to t('trade.admin.payment_methods.index.title'), { controller: 'trade/admin/payment_methods' }, class: active_helper(controllers: 'payment_methods', active: 'is-active') %>
    <%= link_to t('trade.admin.carts.user.title'), { controller: 'trade/admin/carts', action: 'user' }, class: active_helper(controllers: 'carts', active: 'is-active') %>
    <%= link_to t('trade.admin.carts.member_organ.title'), { controller: 'trade/admin/carts', action: 'member_organ' }, class: active_helper(controllers: 'carts', active: 'is-active') %>
  </div>
</div>
<div class="<%= active_helper(controllers: ['trade/admin'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-gift fa-fw"></i>
    <span>促销</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('trade.admin.promotes.index.title'), { controller: 'trade/admin/promotes' }, class: active_helper(controllers: ['promotes', 'promote_charges', 'promote_good_types', 'promote_good_users'], active: 'is-active') %>
    <%= link_to t('trade.admin.promote_goods.index.title'), { controller: 'trade/admin/promote_goods' }, class: active_helper(controllers: ['promote_goods'], active: 'is-active') %>
  </div>
</div>
<div class="<%= active_helper(controllers: ['trade/admin'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-cards-blank"></i>
    <span>会员</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('trade.admin.card_templates.index.title'), { controller: 'trade/admin/card_templates' }, class: active_helper(controllers: ['card_templates', 'cards', 'advances', 'purchases', 'privileges', 'card_promotes'], active: 'is-active') %>
    <%= link_to t('trade.admin.wallet_templates.index.title'), { controller: 'trade/admin/wallet_templates' }, class: active_helper(controllers: ['wallet_templates', 'wallets'], active: 'is-active') %>
  </div>
</div>
<div class="<%= active_helper(controllers: ['trade/admin'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-gears"></i>
    <span>配置</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('trade.admin.payment_strategies.index.title'), { controller: 'trade/admin/payment_strategies' }, class: active_helper(controllers: ['payment_strategies'], active: 'is-active') %>
  </div>
</div>
