<div class="<%= active_helper(modules: 'trade/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('trade.admin.orders.index.title'), { controller: 'trade/admin/orders' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.admin.payments.index.title'), { controller: 'trade/admin/payments' }, class: active_helper(controllers: 'payments', active: 'is-active') %>
    <%= link_to t('trade.admin.payment_methods.index.title'), { controller: 'trade/admin/payment_methods' }, class: active_helper(controllers: 'payment_methods', active: 'is-active') %>
    <%= link_to t('trade.admin.promotes.index.title'), { controller: 'trade/admin/promotes' }, class: active_helper(controllers: 'promotes', active: 'is-active') %>
    <%= link_to t('trade.admin.carts.index.title'), { controller: 'trade/admin/carts' }, class: active_helper(controllers: 'carts', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-shopping-cart fa-fw"></i>
    <span><%= t('trade.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
