<div class="<%= role_permit?(business: 'trade', namespace: 'admin') ? 'menu ex-accordion is-active' : 'display-none' %>">
  <%= link_to({ controller: 'trade/admin/home' }, text: true, class: 'menu-label') do %>
    <div>
      <i class="fa-solid fa-fw fa-shopping-cart"></i>
      <span><%= t('trade.admin.title') %></span>
    </div>
  <% end %>
  <div class="menu-list">
    <%= link_to t('trade.admin.orders.index.title'), { controller: 'trade/admin/orders' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.admin.payments.index.title'), { controller: 'trade/admin/payments' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'payments', active: 'is-active') %>
    <%= link_to t('trade.admin.items.index.title'), { controller: 'trade/admin/items' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'items', active: 'is-active') %>
  </div>
</div>
