<div data-controller="menu empty" class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-shopping-cart"></i>
      <span><%= t('trade.admin.title') %></span>
    </div>
    <%= link_to({ controller: 'trade/admin/home' }, aria: { label: '设置' }) do %>
      <i class="fa-solid fa-cog"></i>
    <% end %>
  </div>
  <div data-empty-target="content" class="menu-list">
    <%= link_to t('trade.admin.orders.index.title'), { controller: 'trade/admin/orders' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.admin.payments.index.title'), { controller: 'trade/admin/payments' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'payments', active: 'is-active') %>
    <%= link_to t('trade.admin.card_templates.index.title'), { controller: 'trade/admin/card_templates' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['card_templates', 'cards'], active: 'is-active') %>
    <%= link_to t('trade.admin.wallet_templates.index.title'), { controller: 'trade/admin/wallet_templates' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['wallet_templates', 'custom_wallets'], active: 'is-active') %>
  </div>
</div>
