<div class="<%= active_helper(modules: 'vip/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('vip.admin.card_templates.index.title'), admin_card_templates_path, class: active_helper(controllers: ['card_templates', 'advances', 'card_promotes'], active: 'is-active') %>
    <%= link_to t('vip.admin.cashes.index.title'), admin_cashes_path, class: active_helper(controllers: 'cashes', active: 'is-active') %>
    <%= link_to t('vip.admin.payouts.index.title'), admin_payouts_path, class: active_helper(controllers: 'payouts', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-coins"></i>
    <span><%= t('vip.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
