<td>
  <p><%= model.card_template.name %></p>
  <p class="family-monospace text-grey"><%= model.card_uuid %></p>
</td>
<td>
  <p><time data-controller="time"><%= model.effect_at.to_fs(:iso8601) %></time></p>
  <p>
  <% if model.expire_at && model.expire_at > Date.today %>
    <time data-controller="time" class="text-success"><%= model.expire_at.to_fs(:iso8601) %></time>
  <% elsif model.expire_at %>
    <time data-controller="time" class="text-danger"><%= model.expire_at.to_fs(:iso8601) %></time>
  <% else %>
    <span class="text-success">长期</span>
  <% end %>
  </p>
</td>
<td><%= model.temporary_i18n %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
<% model.carts.each do |cart| %>
  <p><%= button_to cart.id, { controller: 'carts', action: 'show', id: cart.id } %></p>
<% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'card_purchases', card_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-gem text-primary"></i>
      <span class="ml-1"><%= t('.card_purchases.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'trade/admin/card/promote_goods', card_template_id: model.card_template_id, card_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-tags text-success"></i>
      <span class="ml-1"><%= t('.promote_goods.index.title') %></span>
    <% end %>
  </div>
</td>
