<tr id="tr_<%= model.id %>">
  <%= yield %>
  <td>
    <div>
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'eye', class: 'icon text-info' %>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pencil', class: 'icon text-link' %>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'trash', class: 'icon text-danger' %>
      <% end %>
    </div>
    <div>
      <%= link_to({ controller: 'card_purchases', card_id: model.id }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-gem text-primary"></i>
        <span class="ml-1"><%= t('.card_purchases.index.title') %></span>
      <% end %>
      <%= link_to({ controller: 'trade/admin/card/promote_goods', card_template_id: model.card_template_id, card_id: model.id }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-tags text-success"></i>
        <span class="ml-1"><%= t('.promote_goods.index.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
