<div id="payment_<%= model.id %>" class="media p-3">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <%= form_with theme: nil, scope: :payment_order, url: { controller: 'trade/admin/payment_orders', action: 'create', payment_id: model.id }, class: 'button_to' do |f| %>
      <%= f.hidden_field :order_id, value: order.id %>
      <%= f.hidden_field :order_amount, value: order.amount %>
      <%= f.hidden_field :payment_amount, value: model.total_amount %>
      <button type="submit" class="button is-small is-danger">
        <%= svg_tag 'cart-plus' %>
        <span class="ml-1"><%= t("trade.admin.payment_orders.create.title") %></span>
      </button>
    <% end %>
  </div>
</div>
