<p><%= model.type_i18n %></p>
<p>
  <span><%= model.total_amount.to_money.format.html_safe %></span>
  <span class="tag <%= model.state_paying? ? 'is-danger' : 'is-success' %>"><%= model.state_i18n %></span>
</p>
<p class="has-text-grey">
  <time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time>
</p>
