<div class="box as-bar">
  <% if @order.unpaid? %>
    <%= link_to({ controller: 'orders', action: 'unpaid' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% else %>
    <%= link_to({ controller: 'orders', action: 'unpaid' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% end %>
  <div class="weui-title"><%= @order.uuid %></div>
  <i class="px-5"></i>
</div>
