<td><%= payout.payout_uuid %></td>
<td>
  <p><%= payout.account_bank %></p>
  <p><%= payout.account_name %></p>
  <p><%= payout.account_num %></p>
</td>
<td><%= payout.requested_amount %></td>
<td><%= payout.actual_amount %></td>
<td>
  <span class="tag"><%= payout.state_i18n %></span>
</td>
<td><time data-controller="time"><%= payout.created_at.to_formatted_s(:iso8601) %></time></td>
