<fieldset>

  <div class="inline field">
    <%= f.label :photo, "上传图片：", :class => "six wide field" %>
    <%= image_tag(@photo.photo_url) if @photo.photo? %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>

  <div class="inline field">
    <%= f.label :title, "标题：", :class => "six wide field" %>
    <%= f.text_field :title, :class => "nine wide field" %>
  </div>

  <div class="inline field">
    <%= f.label :description, "配图描述：", :class => "six wide field" %>
    <%= f.text_area :description, :rows => 3, :class => "nine wide field" %>
  </div>

  <div class="inline field">
    <label class="six wide field"></label>
    <%= f.submit class: 'ui button' %>
  </div>

</fieldset>







