<div data-controller="menu" class="<%= role_permit?(business: 'trade', namespace: 'agent') ? 'menu ex-accordion is-active' : 'display-none' %>">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-shopping-cart"></i>
      <span><%= t('trade.agent.title') %></span>
    </div>
    <%= link_to({ controller: 'trade/agent/home' }, aria: { label: '设置' }) do %>
      <i class="fa-solid fa-cog"></i>
    <% end %>
  </div>
  <div class="menu-list">
    <%= link_to t('trade.agent.orders.index.title'), { controller: 'trade/agent/orders' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('trade.agent.carts.index.title'), { controller: 'trade/agent/carts' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'carts', active: 'is-active') %>
  </div>
</div>
