<td>
  <span><%= model.name %></span>
  <div class="is-several">
  <% if model.member %>
    <i class="fa-solid fa-user-tie has-text-primary"></i>
    <span><%= model.member.name %></span>
  <% elsif model.user %>
    <i class="fa-solid fa-user color-info"></i>
    <span><%= model.user.name %></span>
  <% end %>
  </div>
</td>
<td>
  <p><%= model.amount.to_money.format.html_safe %></p>
  <p class="color-grey"><%= model.frozen_amount.to_money.format.html_safe %></p>
</td>
<td><%= model.income_amount.to_money.format.html_safe %></td>
<td>
  <p>
    <%= link_to({ controller: 'wallet_advances', wallet_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <span class="color-grey"><%= t('.wallet_advances.index.title') %></span>
      <span class="pl-1"><%= model.advances_amount.to_money.format.html_safe %></span>
    <% end %>
  </p>
  <p class="mt-2">
    <%= link_to({ controller: 'wallet_sells', wallet_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <span class="color-grey"><%= t('.wallet_sells.index.title') %></span>
      <span class="pl-1"><%= model.sells_amount.to_money.format.html_safe %></span>
    <% end %>
  </p>
</td>
<td>
  <span><%= model.expense_amount.to_money.format.html_safe %></span>
</td>
<td>
  <p>
    <%= link_to({ controller: 'wallet_payments', wallet_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-credit-card"></i>
      <span class="pl-1"><%= t('.wallet_payments.index.title') %></span>
    <% end %>
  </p>
  <p>
    <%= link_to({ controller: 'payouts', wallet_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-wallet"></i>
      <span class="pl-1"><%= t('.payouts.index.title') %></span>
    <% end %>
  </p>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
