<tr id="tr_<%= model.id %>">
  <%= yield %>
  <td>
    <div>
      <%= button_to({ action: 'edit', id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-link"></i>
        <span class="ml-1"><%= t('.edit.title') %></span>
      <% end %>
      <% if ['unpaid'].include?(model.payment_status) %>
        <%= button_to({ action: 'adjust_edit', id: model.id }, class: 'button is-small is-rounded is-light') do %>
          <i class="fa-solid fa-pen-clip text-primary"></i>
          <span class="ml-1"><%= t('.adjust_edit.title') %></span>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to({ controller: 'trade/admin/refunds', order_id: model.id }, class: 'button is-small is-rounded is-link') do %>
        <span><%= t('trade.admin.refunds.index.title') %></span>
      <% end if ['refunding', 'refunded', 'denied'].include?(model.payment_status) %>
      <% if ['unpaid', 'part_paid'].include?(model.payment_status) %>
        <%= button_to({ controller: 'order_payments', action: 'new', order_id: model.id }, class: 'button is-small is-rounded is-danger') do %>
          <i class="fa-solid fa-receipt"></i>
          <span class="ml-1"><%= t('.order_payments.new.title') %></span>
        <% end %>
        <%= button_to({ controller: 'order_payments', action: 'new_micro', order_id: model.id }, class: 'button is-small is-rounded is-danger') do %>
          <i class="fa-solid fa-receipt"></i>
          <span class="ml-1"><%= t('trade.admin.order_payments.new_micro.title') %></span>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
