<tr>
  <td class="has-text-right"><%= Trade::CardTemplate.human_attribute_name(:name) %></td>
  <td><%= @card_template.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardTemplate.human_attribute_name(:valid_days) %></td>
  <td><%= @card_template.valid_days %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardTemplate.human_attribute_name(:amount) %></td>
  <td><%= @card_template.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardTemplate.human_attribute_name(:price) %></td>
  <td><%= @card_template.price %></td>
</tr>
