<div>
  <dt><%= Trade::CardTemplate.human_attribute_name(:name) %></dt>
  <dd><%= @card_template.name %></dd>
</div>
<div>
  <dt><%= Trade::CardTemplate.human_attribute_name(:valid_days) %></dt>
  <dd><%= @card_template.valid_days %></dd>
</div>
<div>
  <dt><%= Trade::CardTemplate.human_attribute_name(:amount) %></dt>
  <dd><%= @card_template.amount %></dd>
</div>
<div>
  <dt><%= Trade::CardTemplate.human_attribute_name(:price) %></dt>
  <dd><%= @card_template.price %></dd>
</div>
