<div class="ui top attached borderless menu">
  <%= link_to '促销列表', admin_promotes_path, class: active_helper(controllers: ['promotes', 'promote_charges']) %>
  <%= link_to '服务列表', admin_serves_path, class: active_helper(controllers: ['serves', 'serve_charges']) %>
  <div class="right menu">
    <div class="item"><%= link_to '新建', new_admin_serve_path, class: 'ui teal button' %></div>
  </div>
</div>

<div class="ui attached segment">
  <p>
    <span>Scope: </span>
    <%= link_to 'Single', filter_params(scope: 'single'), class: active_params(scope: 'single', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to 'Total', filter_params(scope: 'total'), class: active_params(scope: 'total', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  </p>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Serve.human_attribute_name(:type) %></th>
      <th><%= Serve.human_attribute_name(:name) %></th>
      <th><%= Serve.human_attribute_name(:scope) %></th>
      <th><%= Serve.human_attribute_name(:verified) %></th>
      <th><%= Serve.human_attribute_name(:status) %></th>
      <th><%= Serve.human_attribute_name(:deal) %></th>
      <th><%= Serve.human_attribute_name(:extra) %></th>
      <th><%= Serve.human_attribute_name(:action) %></th>
    </tr>
  </thead>

  <tbody>
  <% @serves.each do |serve| %>
    <tr>
      <td><%= serve.type %></td>
      <td><%= serve.name %></td>
      <td><span class="ui blue label"><%= serve.scope_i18n %></span></td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'serve[verified]', nil, serve.verified, data: { method: :patch, remote: true, params: "[serve]verified=#{!serve.verified}", url: admin_serve_path(serve.id), submit: true }, id: nil %>
        </div>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'serve[overall]', nil, serve.overall, data: { method: :patch, remote: true, url: admin_serve_path(serve.id), submit: true }, id: nil %>
          <label><%= Serve.human_attribute_name(:overall) %></label>
        </div>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'serve[contain_max]', nil, serve.contain_max, data: { method: :patch, remote: true, url: admin_serve_path(serve.id), submit: true }, id: nil %>
          <label><%= Serve.human_attribute_name(:contain_max) %></label>
        </div>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'serve[default]', nil, serve.default, data: { method: :patch, remote: true, url: admin_serve_path(serve.id), submit: true }, id: nil %>
          <label><%= Serve.human_attribute_name(:default) %></label>
        </div>
      </td>
      <td>
        <%= serve.deal_type %>: <%= serve.deal_id %>
      </td>
      <td>
        <% serve.extra.each do |e| %>
          <span class="ui label"><%= e %></span>
        <% end %>
      </td>
      <td>
        <%= link_to '细则', admin_serve_charges_path(serve) %>
        <%= link_to '编辑', edit_admin_serve_path(serve) %>
        <%= link_to '删除', admin_serve_path(serve), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
