<td>
  <span><%= model.name %></span>
  <div class="is-several">
  <% if model.user %>
    <i class="fa-solid fa-user"></i>
    <span><%= model.user_id %></span>
  <% end %>
  </div>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td>
  <p>
    <%= link_to({ controller: 'wallet_advances', wallet_id: model.id }, aria: { label: t('trade.admin.wallet_advances.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-gem"></i>
      <span class="pl-1"><%= model.advances_amount.to_money.format.html_safe %></span>
    <% end %>
  </p>
  <p class="mt-2">
    <%= link_to({ controller: 'wallet_sells', wallet_id: model.id }, aria: { label: t('trade.admin.wallet_sells.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-gem"></i>
      <span class="pl-1"><%= model.sells_amount.to_money.format.html_safe %></span>
    <% end %>
  </p>
</td>
<td>
  <span><%= model.expense_amount.to_money.format.html_safe %></span>
  <%= link_to({ controller: 'wallet_payments', wallet_id: model.id }, aria: { label: t('trade.admin.wallet_payments.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-credit-card"></i>
  <% end %>
  <%= link_to({ controller: 'payouts', wallet_id: model.id }) do %>
    <i class="fa-solid fa-wallet"></i>
  <% end %>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
