<tr id="checked_<%= payment_order.order_id %>">
  <td>
    <%= payment_order.order.id %>
  </td>
  <td><%= payment_order.order.uuid %></td>
  <td>
    <% if payment_order.order.payment_memo_id %>
      <%= link_to 'Download', attachment_url(payment_order.order, :payment_memo) %>
    <% end %>
  </td>
  <td><%= payment_order.order.amount %></td>
  <td><%= payment_order.check_amount %><span style="color: #999;">（已核销）</span></td>
  <td><%= PaymentOrder.enum_i18n(:state, payment_order.state) %></td>
  <td>
    <% if payment_order.confirmed? && the_role_user.has_role?('admin/payment_orders', 'destroy') %>
      <%= link_to '撤销', cancel_admin_payment_payment_order_path(@payment, payment_order), method: :patch, remote: true %>
    <% else %>
      <%= link_to '确认', admin_payment_payment_order_path(@payment, payment_order), method: :patch, remote: true, class: 'ui mini button' %>
    <% end %>
  </td>
</tr>
