<td><%= model.good_type_i18n %></td>
<td>
  <% if model.good_id %>
    <%= model.good.name %>
  <% else %>
    不限商品
  <% end %>
</td>
<td><%= model.promote.name %></td>
<td><%= model.status_i18n %></td>
<td>
  <p><time data-controller="time"><%= model.effect_at.to_s(:rfc822) %></time></p>
  <p><time data-controller="time"><%= model.expire_at.to_s(:rfc822) %></time></p>
</td>
