<%= form_with theme: 'modal', model: @promote_good, url: { action: 'create' }, data: { controller: 'equal', equal_plus_value: { years: 1 }.to_json } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object  %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
