<div>
  <dt><%= Trade::PromoteGood.human_attribute_name(:effect_at) %></dt>
  <dd><time data-controller="time"><%= @promote_good.effect_at.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Trade::PromoteGood.human_attribute_name(:expire_at) %></dt>
  <dd><time data-controller="time"><%= @promote_good.expire_at.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Trade::PromoteGood.human_attribute_name(:good_type) %></dt>
  <dd><%= @promote_good.good_type %></dd>
</div>
