<%= form_with model: @promote_good, url: { action: 'create' }, data: { controller: 'equal' } do |f| %>
  <%= f.hidden_field :promote_id %>
  <%= f.hidden_field :good_type %>
  <%= f.hidden_field :good_id %>
  <%= f.datetime_field :effect_at, data: { action: 'change->equal#updateTime' }, step: 1 %>
  <%= f.datetime_field :expire_at, data: { equal_target: 'goal' }, step: 1 %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">用户</label>
    </div>
    <div class="field-body">
      <div class="panel" data-controller="typer" data-typer-url-value="<%= url_for(action: 'search') %>" data-typer-method-value="post">
        <%= f.hidden_field :member_id, data: { typer_target: 'value' } %>
        <div class="control has-icons-left">
          <%= search_field_tag :identity, nil, class: 'input', placeholder: '搜索', data: { typer_target: 'input' } %>
          <span class="icon is-left"><i class="fa-regular fa-search"></i></span>
        </div>
        <div class="panel" id="user_content"></div>
      </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>
