<div class="ui top attached borderless menu">
  <div class="header item">Promote Goods</div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<div class="ui segment top attached">
  <%= link_to 'New Promote Good', new_promote_good_path, class: 'ui teal button' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      </tr>
  </thead>

  <tbody>
  <% @promote_goods.each do |promote_good| %>
    <tr>
      <td>
        <%= link_to 'Show', promote_good_path(promote_good), class: 'ui blue label' %>
        <%= link_to 'Edit', edit_promote_good_path(promote_good), class: 'ui pink label' %>
        <%= link_to 'Destroy', promote_good_path(promote_good), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @promote_goods %>
