<% content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <%= link_to 'All Promotes', admin_promotes_path, class: 'section' %>
  <% if params[:promote_id] %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= @promote.name %></div>
  <% end %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">设置商品</div>
</div>
<% end %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= PromoteGood.human_attribute_name(:id) %></th>
      <th>
        <p><%= PromoteGood.human_attribute_name(:good_type) %></p>
        <p><%= PromoteGood.human_attribute_name(:good_id) %></p>
      </th>
      <th><%= PromoteGood.human_attribute_name(:available) %></th>
      <th>
        <%= link_to new_admin_promote_good_path(promote_id: params[:promote_id]), remote: true, class: 'ui teal button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @promote_goods.each do |promote_good| %>
    <tr>
      <td><%= promote_good.id %></td>
      <td>
        <p><%= promote_good.good_type_i18n %></p>
        <% if promote_good.good_id %>
          <p><%= promote_good.good.name_detail %></p>
        <% else %>
          <p>不限商品</p>
        <% end %>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote_good[available]', nil, promote_good.available, data: { method: :patch, remote: true, url: admin_promote_good_path(promote_good.id), submit: true }, id: nil %>
        </div>
      </td>
      <td>
        <%= link_to admin_promote_good_path(promote_good), method: :delete, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @promote_goods %>
