<%= form.fields :items, model: model.purchase_items.build do |f| %>
<div id="tr_<%= model.id %>" data-controller="show" class="media">
  <div class="media-left">
    <%= f.check_box 'xx', form: 'new_order', data: { action: 'show#toggle' } %>
    <%= f.hidden_field :source_id, disabled: true, form: 'new_order' %>
  </div>
  <%= link_to({ action: 'show', id: model.id }, class: 'media-content') do %>
    <p><%= model.good_name %></p>
    <p data-show-target="check">
      <%= f.number_field :number, value: model.number, disabled: true, form: 'new_order' %>
      <% if model.default_production_provide&.cost_price %>
        <%= f.number_field :single_price, value: model.default_production_provide.cost_price, disabled: true, form: 'new_order' %>
      <% else %>
        <%= f.number_field :single_price, value: model.single_price, disabled: true, form: 'new_order' %>
      <% end %>
      <% if model.unit %>
        <span class="tag"><%= model.unit.name %></span>
      <% end %>
    </p>
  <% end %>
  <div class="media-right">
    <%= button_to({ action: 'actions', id: model.id }, class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h text-grey"></i>
    <% end %>
  </div>
</div>
<% end %>