<%= form.fields :items, model: model.purchase_items.build do |f| %>

<td><%= f.check_box 'xx', form: 'purchase_order', data: { action: 'show#toggle' } %></td>
<td>
  <div class="is-several">
    <% if model.good_type == 'Factory::Production' %>
      <%= image_tag model.good.logo, class: 'image is-32x32' if model.good && model.good.logo&.attached? %>
      <%= link_to({ controller: 'factory/admin/productions', product_id: model.good.product_id }, target: '_blank') do %>
        <span><%= model.good_name %></span>
      <% end %>
    <% elsif model.good %>
      <%= image_tag model.good.logo, class: 'image is-32x32' if model.good && model.good.logo&.attached? %>
      <%= link_to model.good, target: '_blank' do %>
        <span><%= model.good_name %></span>
      <% end %>
    <% end %>
    <span class="tag"><%= model.aim_i18n %></span>
  </div>
</td>
<td>
  <span><%= model.number %></span>
</td>
<td>
  <div data-show-target="check">
    <%= f.hidden_field :source_id, disabled: true, form: 'purchase_order' %>
    <%= f.number_field :number, disabled: true, form: 'purchase_order' %>
  </div>
</td>
<td>
  <div data-show-target="check">
    <%= f.number_field :single_price, value: model.single_price, disabled: true, form: 'purchase_order' %>
  </div>
</td>
<td>
  <p><%= model.additional_amount.to_money.format.html_safe %></p>
  <p><%= model.reduced_amount.to_money.format.html_safe %></p>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td>
  <p><%= link_to '订单流程', { controller: 'items', action: 'show', id: model.id } %></p>
  <p>
    <%= link_to({ controller: 'trade/admin/holds', item_id: model.id }, aria: { label: t('trade.admin.holds.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-face-meh text-success"></i>
    <% end %>
  </p>
</td>
<% end %>