<%= form_with theme: nil, model: @order, url: { action: 'create' }, id: 'new_order' do |f| %>
  <%= f.fields :trade_items do |ef| %>
    <%= ef.hidden_field :good_type %>
    <%= ef.hidden_field :good_id %>
    <%= ef.hidden_field :extra, value: ef.object.extra.to_json %>
  <% end %>
<% end %>

<div class="weui-panel mt-0">
  <div class="weui-panel__bd">
    <%= render partial: 'trade_item', collection: @order.trade_items, as: :trade_item %>
    <div class="weui-media-box weui-media-box_text pb-1 pt-2">
      <ul class="weui-media-box__info m-0">
        <li class="weui-media-box__info__meta">
          <span>总价：</span>
          <span><%= @order.amount.to_money.format(html_wrap: true).html_safe %></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="weui-panel__ft p-4">
    <%= submit_tag t('.confirm'), class: 'weui-btn weui-btn_primary', form: 'new_order' %>
  </div>
</div>
