<tr>
  <td class="has-text-right"><%= Trade::CardPrepayment.human_attribute_name(:amount) %></td>
  <td><%= @card_prepayment.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardPrepayment.human_attribute_name(:token) %></td>
  <td><%= @card_prepayment.token %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CardPrepayment.human_attribute_name(:expire_at) %></td>
  <td><%= @card_prepayment.expire_at %></td>
</tr>
<tr>
  <td></td>
  <td><%= image_tag QrcodeHelper.data_url(@card_prepayment.token) %></td>
</tr>
