<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td>
  <p><%= link_to model.uuid, { action: 'show', id: model.id }, class: 'family-monospace' %></p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
<% if model.organ_id %>
  <%= model.organ.name %>
<% else %>
  <%= button_to({ action: 'edit_organ', id: model.id }, data: { show_target: 'item' }, class: 'visibility-hidden') do %>
    <i class="fa-solid fa-sm fa-pencil text-grey"></i>
    <span class="ml-1 size-7"><%= t('.edit_organ.title') %></span>
  <% end %>
<% end %>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td>
  <div class="is-several">
  <span><%= model.payment_status_i18n %></span>
  <%= button_to({ action: 'payment_types', id: model.id }, class: 'button is-small') do %>
    <span>支付</span>
  <% end if model.can_pay? %>
  </div>
</td>
<td><%= model.note %></td>
<td>
  <p><%= model.aim_i18n %></p>
  <p><%= model.state_i18n %></p>
</td>
