<td>
  <%= form_with theme: 'inline', model: model.good.production_plans.build do |f| %>
    <%= f.hidden_field :production_id %>
  <% end %>
</td>
<td>
<% if model.good %>
  <%= link_to model.good.name, { action: 'show', id: model.id } %>
<% elsif model.purchase %>
  <span><%= model.purchase.name %></span>
<% else %>
  <span><%= model.good_name %></span>
<% end %>
<% if ['rent', 'invest'].include?(model.aim) %>
  <span class="tag is-danger"><%= model.aim_i18n %></span>
<% end %>
</td>
<td>
  <div data-show-target="check" class="display-none">
    <%= number_field_tag :number, model.number, form: 'purchase_order', disabled: true, style: 'width: 5em' %>
  </div>
  <span data-show-target="hidden"><%= model.number.to_human %></span>
</td>
<td><%= model.single_price.to_money.format.html_safe %></td>
<td>
  <time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time>
</td>
<td><%= model.status_i18n %></td>
<td>
  <% if model.user %>
  <p class="is-several">
    <%= image_tag model.user.avatar, class: 'image is-32x32' if model.user.avatar.attached? %>
    <span><%= model.user.name.presence || model.user_id %></span>
  </p>
  <% end %>
  <p>
    <span><%= model.member&.name %></span>
    <% if model.member_organ %>
      <span class="text-grey">（<%= model.member_organ.name %>）</span>
    <% end %>
  </p>
</td>
