<td>
  <%= link_to model.good_name, { action: 'show', id: model.id } %>
  <% if ['rent', 'invest'].include?(model.aim) %>
    <span class="tag is-danger"><%= model.aim_i18n %></span>
  <% end %>
</td>
<td>
  <div data-show-target="check" class="display-none">
    <%= number_field_tag :number, model.number, form: 'purchase_order', disabled: true, style: 'width: 5em' %>
  </div>
  <span data-show-target="hidden"><%= model.number.to_human %></span>
</td>
<td><%= model.single_price.to_money.format.html_safe %></td>
<td>
  <time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time>
</td>
<td><%= model.status_i18n %></td>
<td>
  <%= button_to({ controller: 'factory/admin/production_plans', action: 'new', production_id: model.good_id }, class: 'button is-small is-primary') do %>
    <span><%= t('factory.admin.production_plans.new.title') %></span>
  <% end %>
</td>
