<div class="panel-block" data-action="click->typer#choose" data-id="<%= model.id %>" data-name="<%= model.name %>">
  <span><%= image_tag model.logo, class: 'image is-16x16' if model.logo.attached? %></span>
  <span><%= model.name %></span>
  <span class="has-text-grey">(<%= model.id %>)</span>
</div>
