<tr>
  <td class="has-text-right"><%= PromoteGoodType.human_attribute_name(:effect_at) %></td>
  <td><%= @promote_good_type.effect_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PromoteGoodType.human_attribute_name(:expire_at) %></td>
  <td><%= @promote_good_type.expire_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PromoteGoodType.human_attribute_name(:good_type) %></td>
  <td><%= @promote_good_type.good_type %></td>
</tr>
