<p id="notice"><%= notice %></p>

<h1>Refunds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @refunds.each do |refund| %>
      <tr>
        <td><%= link_to 'Show', refund %></td>
        <td><%= link_to 'Edit', edit_refund_path(refund) %></td>
        <td><%= link_to 'Destroy', refund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Refund', new_refund_path %>
