<div class="ui grid">

  <div class="three wide column">
    <%= render 'nav' %>
  </div>


  <div class="thirteen wide column">
    <table class="ui table">
      <thead>
      <tr>
        <th>服务名称</th>
        <th>供货价</th>
        <th>审核状态</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @facilitate_providers.each do |facilitate_provider| %>
        <tr>
          <td><%= link_to facilitate_provider.facilitate.name, facilitate_path(facilitate_provider.facilitate_id), class: 'ui blue label' %></td>
          <td><%= facilitate_provider.export_price %></td>
          <td>
            <% if facilitate_provider.verified %>
              <i class="green checkmark icon"></i>
            <% else %>
              <i class="grey remove icon"></i>
            <% end %>
          </td>
          <td><%= link_to '服务管理', my_facilitate_provider_path(facilitate_provider) %></td>
          <td><%= link_to 'Destroy', my_facilitate_provider_path(facilitate_provider), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



