

<div class="sixteen wide column">

  <div class="ui segment breadcrumb">
    <%= link_to '返回', my_facilitate_providers_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">新增</div>
  </div>

  <div>
    <%= default_form_with model: @pipeline, url: pipeline_my_facilitate_provider_path(@facilitate_provider) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.submit %>
    <% end %>
  </div>

</div>