<div class="weui-panel is-box">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <i class="fa-solid fa-fw fa-location-dot has-text-danger pr-2"></i>
        </div>
        <div class="weui-cell__bd">
          <p>
            <strong><%= model.contact %></strong>
            <span><%= model.tel %></span>
            <% if model.station %>
              <span class="tag"><%= model.station.name %></span>
            <% end %>
          </p>
          <p class="has-text-grey size-7">
            <span><%= model.area.full_name %></span>
            <span><%= model.detail %></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
