<div
  data-controller="weui-dialog"
  data-weui-dialog-id-value="fetch_dialog_<%= item.uuid %>"
  data-action="click->weui-dialog#toggle"
  class="button mx-3 mb-3"
>
  <span class="has-text-grey">添加物品</span>
</div>

<div data-controller="weui-dialog" id="fetch_dialog_<%= item.uuid %>" class="weui-dialog__wrap">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">添加物品</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <%= form.fields :items, model: item do |f| %>
        <%= render partial: 'item_form', locals: { f: f } %>
      <% end %>
    </div>
    <div class="weui-half-screen-dialog__ft">
      <%= button_tag '确认', form: 'new_order', class: 'button is-primary' %>
    </div>
  </div>
</div>
