<%= form_with theme: 'search', model: Trade::Order.new(params.permit(:uuid)), data: { switch_target: 'src' }, class: 'display-none' do |f| %>
  <div class="field-body">
    <%= f.text_field :uuid, style: 'width: 240px' %>
    <%= f.date_field 'created_at-gte' %>
    <%= f.date_field 'created_at-lte' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:uuid, :user_id, 'created_at-gte', 'created_at-lte']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
