<tr id="tr_<%= model.id %>">
  <%= yield %>
  <td>
    <div>
      <%= button_to({ action: 'edit', id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil color-link"></i>
        <span class="ml-1"><%= t('.edit.title') %></span>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash color-danger"></i>
        <span class="ml-1"><%= t('.destroy.title') %></span>
      <% end %>
    </div>
    <div>
      <%= link_to({ controller: 'trade/admin/refunds', order_id: model.id }, class: 'button is-small is-rounded is-link') do %>
        <span><%= t('trade.admin.refunds.index.title') %></span>
      <% end if ['refunding', 'refunded', 'denied'].include?(model.payment_status) %>
      <% if ['unpaid', 'part_paid'].include?(model.payment_status) %>
        <%= button_to({ controller: 'order_payments', action: 'new', order_id: model.id }, class: 'button is-small is-rounded is-danger') do %>
          <i class="fa-solid fa-receipt"></i>
          <span class="ml-1">立即支付</span>
        <% end %>
      <% end %>
      <% if ['unpaid'].include?(model.payment_status) %>
        <%= button_to({ action: 'adjust_edit', id: model.id }, class: 'button is-small is-rounded is-light') do %>
          <i class="fa-solid fa-pen-clip has-text-primary"></i>
          <span class="ml-1"><%= t('.adjust_edit.title') %></span>
        <% end %>
      <% end %>
      <%= link_to({ action: 'purchase', id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pen-clip color-link"></i>
        <span class="ml-1"><%= t('.purchase.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
