<div
  data-controller="dispatch"
  data-dispatch-modal-outlet="#modal_<%= item.uuid %>"
  data-dispatch-click-value="show"
  data-action="click->dispatch#doClick"
  class="button justify-content-space-between mx-3 mb-3"
>
  <div>
    <span><%= item.good_name %></span>
    <span class="color-danger"><%= item.single_price.to_money.format.html_safe %></span>
  </div>
  <div>
    <i class="fa-solid fa-xmark color-grey size-7"></i>
    <span class="tag"><%= item.number %></span>
    <span class="pl-3"><%= item.amount.to_money.format.html_safe %></span>
  </div>
</div>

<div id="modal_<%= item.uuid %>" data-controller="modal" class="modal is-mobile">
  <div class="modal-background" data-action="click->modal#hide"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">修改</div>
      <button class="delete" data-action="modal#hide"></button>
    </header>
    <section data-controller="coeff" class="modal-card-body">
      <%= form.fields :items, model: item do |f| %>
        <%= render partial: 'item_form', locals: { f: f } %>
      <% end %>
    </section>
    <footer class="modal-card-foot justify-content-center">
      <%= button_tag '确认', value: 'new', form: 'new_order', class: 'button is-primary' %>
    </footer>
  </div>
</div>
