<div>
  <dt><%= Trade::Purchase.human_attribute_name(:years) %></dt>
  <dd><%= @purchase.years %></dd>
</div>
<div>
  <dt><%= Trade::Purchase.human_attribute_name(:months) %></dt>
  <dd><%= @purchase.months %></dd>
</div>
<div>
  <dt><%= Trade::Purchase.human_attribute_name(:days) %></dt>
  <dd><%= @purchase.days %></dd>
</div>
<div>
  <dt><%= Trade::Purchase.human_attribute_name(:price) %></dt>
  <dd><%= @purchase.price.to_money.format(html_safe: true).html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Purchase.human_attribute_name(:note) %></dt>
  <dd><%= @purchase.note %></dd>
</div>
