<div class="level-left">
  <div class="is-size-7 is-flex-direction-column is-justify-content-center is-align-items-start">
    <p>
      <span class="has-text-grey"><%= Trade::Cart.human_attribute_name(:amount) %></span>
      <span>：</span>
      <span class="is-size-6 has-text-danger"><%= @cart.amount.to_money.format(html_wrap: true).html_safe %></span>
    </p>
    <p class="has-text-left">
      <span class="has-text-grey"><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></span>
      <span>：</span>
      <span class="has-text-grey"><%= @cart.overall_reduced_amount.to_money.format(html_wrap: true).html_safe %></span>
      <span class="weui-badge" data-controller="weui-dialog" data-weui-dialog-id-value="dialog" data-action="click->weui-dialog#toggle">
        <i class="fa-light fa-angles-up"></i>
        <span>优惠明细</span>
      </span>
    </p>
  </div>
</div>
<div class="level-right mt-0 p-2">
  <%= render 'cart_order' %>
</div>
