<% (0..3).each do |hour| %>
<div class="weui-media-box weui-media-box_text">
  <div class="weui-media-box__title">
  <% if hour == 0 %>
    <span>现在</span>
  <% else %>
    <span><%= hour %>小时后</span>
  <% end %>
  </div>
  <div class="pt-4" data-controller="custom">
  <% TimeHelper.step(after: hour).each_with_index do |arr, index| %>
    <label
      data-action="click->time-range#time"
      data-start-at="<%= Time.current.change(hour: arr[0][0..1], min: arr[0][-2..-1]).to_fs(:iso8601) %>"
      data-finish-at="<%= Time.current.change(hour: arr[1][0..1], min: arr[1][-2..-1]).to_fs(:iso8601) %>"
      for="time_<%= "#{model.id}_#{hour}_#{index}" %>"
    >
      <%= radio_button_tag 'x', nil, model.fetch_include?(arr[0], arr[1]), class: 'weui-check', id: "time_#{model.id}_#{hour}_#{index}" %>
      <div class="button is-small mb-2"><%= arr.join('-') %></div>
    </label>
  <% end %>
  </div>
</div>
<% end %>
