<div class="weui-cell">
  <div class="weui-cell__bd">
    <% if model.produce_plan&.book_finish_at.acts_like?(:time) %>
      <div class="is-flex is-align-items-center has-background-danger-light is-size-0_9" style="border-radius: 18px">
        <span class="has-text-grey ml-2">
          <time data-controller="time-count" data-time-count-time-value="<%= model.produce_plan.book_finish_at.to_fs(:iso8601) %>" class="has-text-danger" style="font-family: monospace"><%= exact_distance_time(model.produce_plan.book_finish_at) %></time>
          <span>后截止下单</span>
        </span>
      </div>
    <% end %>
    <% if model.respond_to?(:produce_plan) && model.produce_plan %>
      <div class="is-flex is-align-items-center is-size-0_9">
        <div class="weui-badge">
          <span><%= model.produce_plan.scene.title %></span>
        </div>
        <span class="has-text-grey ml-2">
          <span><%= model.produce_on.to_s(:month_and_day) %></span>
          <span><%= model.produce_plan.scene.deliver_start_at.to_fs(:time) %></span>
          <span>~</span>
          <span><%= model.produce_plan.scene.deliver_finish_at.to_fs(:time) %></span>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="weui-cell weui-cell_access" data-controller="weui-dialog" data-weui-dialog-id-value="fetch_dialog" data-action="click->weui-dialog#toggle">
  <div class="weui-cell__hd">
  <% if model.fetch_oneself %>
    <span>自取</span>
  <% else %>
    <span>配送</span>
  <% end %>
  </div>
  <div class="weui-cell__bd"></div>
  <div class="weui-cell__ft">
    <time data-controller="time"><%# cart.fetch_start_at&.to_fs(:iso8601) %></time>
  </div>
</div>

<div data-controller="weui-dialog time-range" id="fetch_dialog" class="weui-dialog__wrap">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog weui-half-screen-dialog_large" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">选择时间</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <%= render partial: 'fetch_time', locals: { model: model } %>
    </div>
    <div class="weui-half-screen-dialog__ft">
      <%= form_with(model: model, url: { controller: 'items', action: 'update', id: model.id }, method: :patch) do |f| %>
        <%= f.hidden_field :fetch_start_at, data: { time_range_target: 'start' } %>
        <%= f.hidden_field :fetch_finish_at, data: { time_range_target: 'finish' } %>
        <%= f.submit '确认' %>
      <% end %>
    </div>
  </div>
</div>
