<div class="weui-panel is-borderless">
  <div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="weui-panel__hd as-bar">
    <%= link_to({ controller: '/factory/productions' }, state: 'return', class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Factory::Production' %>
    <%= link_to({ controller: '/ship/box_hosts' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Ship::BoxHost' && @cart.aim == 'use' %>
    <%= link_to({ controller: '/ship/box_hosts', action: 'rent' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Ship::BoxHost' && @cart.aim == 'rent' %>
    <%= link_to({ controller: '/serve/services' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Serve::Service' %>
    <span class="weui-title">
      <span class="mr-1"><%= t('.title') %></span>
      <% if @cart.member %>
        <span class="weui-badge weui-badge__primary">
          <i class="fa-solid fa-building-user"></i>
          <span><%= @cart.member.organ.name %></span>
        </span>
      <% end %>
      <% if @cart.aim != 'use' %>
        <span class="weui-badge">
          <i class="fa-solid fa-hand-holding-box"></i>
          <span><%= @cart.aim_i18n %></span>
        </span>
      <% end %>
    </span>
    <i style="width: 3rem"></i>
  </div>
</div>
