<tr class="<%= 'active' if model.status_checked? %>" id="item_<%= model.id %>">
  <td>
    <%= form_with theme: nil, model: model, url: { controller: 'items', action: 'toggle', id: model.id }, data: { controller: 'input' } do |f| %>
      <%= f.hidden_field :current_cart_id, value: @cart.id %>
      <%= f.check_box :status, { checked: model.status_checked?, data: { action: 'click->input#form' }, id: nil }, id: model.id %>
    <% end %>
  </td>
  <td>
    <%= model.good&.name %>
    <p style="color: grey;"><%= model.good_type_i18n %></p>
  </td>
  <td>
    <p><%= model.retail_price %></p>
    <% if model.weight > 0 %>
    <p>
      <span><%= model.weight %></span>
      <span><%# model.unit %></span>
    </p>
    <% end %>
  </td>
  <td>
    <div class="field has-addons">
      <div class="control">
        <%= form_with theme: nil, model: model, url: { controller: 'items', action: 'update', id: model.id }, method: :patch, class: 'button_to' do |f| %>
          <%= f.hidden_field :current_cart_id, value: @cart.id %>
          <%= f.hidden_field :number, value: model.number - 1 %>
          <%= button_tag class: 'button' do %>
            <i class="fa-solid fa-minus"></i>
          <% end %>
        <% end %>
      </div>
      <div class="control">
        <%= form_with theme: nil, model: model, url: { controller: 'items', action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
          <%= f.hidden_field :current_cart_id, value: @cart.id %>
          <%= f.number_field :number, value: model.number.to_human, step: 1, data: { action: 'input#form' }, class: 'input has-text-centered', id: nil %>
        <% end %>
      </div>
      <div class="control">
        <%= form_with theme: nil, model: model, url: { controller: 'items', action: 'update', id: model.id }, method: :patch, class: 'button_to' do |f| %>
          <%= f.hidden_field :number, value: model.number + 1 %>
          <%= f.hidden_field :current_cart_id, value: @cart.id %>
          <%= button_tag class: 'button is-link' do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </td>
  <td>
    <% if model.amount != model.wholesale_price %>
    <div>
      <del class="has-text-grey"><%= model.wholesale_price %></del>
      <% if model.reduced_amount < 0 %>
        <span class="is-inline-block" data-controller="hover" data-hover-url-value="<%= url_for(controller: 'items', action: 'promote', id: model.id) %>">
          <span class="has-text-danger" data-action="mouseenter->hover#show mouseleave->hover#hide"><%= model.reduced_amount %></span>
        </span>
      <% end %>
    </div>
    <% end %>
    <p>
      <strong><%= model.amount %></strong>
    </p>
  </td>
</tr>
