<div class="weui-cell">
  <div class="weui-cell__hd"></div>
  <div class="weui-cell__bd">
    <% if model.expired? %>
      <div class="has-text-grey">
        <span>已于</span>
        <time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.expire_at.to_fs(:iso8601) %></time>
        <span>过期</span>
      </div>
    <% elsif model.expire_at.acts_like?(:time) %>
      <div class="is-flex is-align-items-center has-background-danger-light" style="border-radius: 18px">
        <span class="has-text-grey ml-2">
          <time data-controller="time-count" data-time-count-time-value="<%= model.expire_at.to_fs(:iso8601) %>" class="has-text-danger" style="font-family: monospace"><%= exact_distance_time(model.expire_at) %></time>
          <span>后截止下单</span>
        </span>
      </div>
    <% end %>
    <% if model.respond_to?(:produce_plan) && model.produce_plan %>
      <div class="is-flex is-align-items-center">
        <div class="weui-badge">
          <span><%= model.produce_plan.scene.title %></span>
        </div>
        <span class="has-text-grey ml-2">
          <span><%= model.produce_on.to_s(:month_and_day) %></span>
          <span><%= model.produce_plan.scene.deliver_start_at.to_fs(:time) %></span>
          <span>~</span>
          <span><%= model.produce_plan.scene.deliver_finish_at.to_fs(:time) %></span>
        </span>
      </div>
    <% end %>
  </div>
  <div class="weui-cell__ft">
    <div class="is-flex is-align-items-center">
      <%= form_with theme: nil, scope: :trade_item, url: { controller: 'trade_items', action: 'update', id: model.id }, method: :patch, class: 'button_to', data: { turbo_scroll: true, turbo_scroll_container: 'weui-tab__panel' } do |f| %>
        <%= f.hidden_field :number, value: model.number - 1 %>
        <%= f.hidden_field :current_cart_id, value: @cart.id %>
        <%= button_tag class: 'mr-1' do %>
          <i class="fa-solid fa-circle-minus fa-2x has-text-grey-dark"></i>
        <% end %>
      <% end if model.number > 1 %>
      <%= button_to({ controller: 'trade/my/trade_items', action: 'destroy', id: model.id }, method: :delete, class: 'mr-1', form: { data: { turbo_scroll: true, turbo_scroll_container: 'weui-tab__panel' } }) do %>
        <i class="fa-solid fa-circle-minus fa-2x has-text-grey-dark"></i>
      <% end if model && model.number <= 1 %>
      <%= form_with(theme: nil, scope: 'trade_item', url: { controller: 'trade_items', action: 'update', id: model.id }, method: :patch, data: { controller: 'input', turbo_scroll: true, turbo_scroll_container: 'weui-tab__panel' }) do |f| %>
        <%= f.hidden_field :current_cart_id, value: @cart.id %>
        <%= f.number_field :number, value: model.number, data: { action: 'change->input#form' }, class: 'has-background-light has-text-centered', style: 'width: 30px; height: 26px' %>
      <% end %>
      <%= form_with theme: nil, scope: :trade_item, url: { controller: 'trade_items', action: 'update', id: model.id }, method: :patch, class: 'button_to', data: { turbo_scroll: true, turbo_scroll_container: 'weui-tab__panel' } do |f| %>
        <%= f.hidden_field :number, value: model.number + 1 %>
        <%= f.hidden_field :current_cart_id, value: @cart.id %>
        <%= button_tag class: 'ml-1' do %>
          <i class="fa-solid fa-circle-plus fa-2x has-text-grey-dark"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
