<label class="level is-flex p-4 mb-0 has-border-bottom" for="xx_<%= card_template.id %>">
  <span class="level-left is-flex is-justify-content-space-between">
    <span>
      <span><%= card_template.name %></span>
      <span class="has-text-grey ml-2"><%= card_template.promote&.name %></span>
    </span>
    <span>
      <span><%= card_template.purchase.price.to_money.format.html_safe if card_template.purchase %></span>
    </span>
  </span>
  <span class="weui-cells_checkbox">
  <% if @cart.temp_owned?(card_template) %>
    <%= form_with theme: nil, url: { controller: 'items', action: 'destroy', id: @cart.temp_owned?(card_template).item_id }, method: :delete, data: { controller: 'input' } do |f| %>
      <%= f.check_box 'xx', checked: true, disabled: @cart.any_rent?, data: { action: 'input#form' }, id: "xx_#{card_template.id}", class: 'weui-check' %>
      <span class="weui-icon-checked"></span>
    <% end %>
  <% else %>
    <%= form_with theme: nil, url: { controller: 'trade/my/items', action: 'trial' }, data: { controller: 'input', turbo_scroll: true, turbo_scroll_container: 'production_body' }, class: 'ml-1 button_to' do |f| %>
      <%= f.hidden_field :good_type, value: card_template.purchase.class_name %>
      <%= f.hidden_field :good_id, value: card_template.purchase.id %>
      <%= f.hidden_field :current_cart_id, value: @cart.id %>
      <%= check_box_tag 'xx', 'x', false, data: { action: 'input#form' }, id: "xx_#{card_template.id}", class: 'weui-check' %>
      <span class="weui-icon-checked"></span>
    <% end if card_template.purchase %>
  <% end %>
  </span>
</label>
