<div class="p-4">
<% @card_templates.each do |card_template| %>
<label class="level is-flex" for="xx">
  <span class="level-left is-flex is-justify-content-space-between">
    <span>
      <span><%= card_template.name %></span>
      <span class="has-text-grey ml-2"><%= card_template.promote&.name %></span>
    </span>
    <span>
      <span><%= card_template.purchase.price.to_money.format(html_wrap: true).html_safe if card_template.purchase %></span>
    </span>
  </span>
  <span class="weui-cells_checkbox">
  <% if current_cart.temp_owned?(card_template) %>
    <%= form_with theme: nil, url: { controller: 'trade_items', action: 'destroy', id: current_cart.temp_owned?(card_template).trade_item_id }, method: :delete, data: { controller: 'input' } do |f| %>
      <%= f.check_box 'xx', checked: true, class: 'weui-check', data: { action: 'input#form' } %>
      <span class="weui-icon-checked"></span>
    <% end %>
  <% else %>
    <%= form_with theme: nil, url: { controller: 'trade/my/trade_items', action: 'trial' }, data: { controller: 'input', turbo_scroll: true, turbo_scroll_container: 'production_body' }, class: 'ml-1 button_to' do |f| %>
      <%= f.hidden_field :member_id, value: current_member&.id %>
      <%= f.hidden_field :good_type, value: card_template.purchase.class_name %>
      <%= f.hidden_field :good_id, value: card_template.purchase.id %>
      <%= check_box_tag 'xx', 'x', false, class: 'weui-check', data: { action: 'input#form' } %>
      <span class="weui-icon-checked"></span>
    <% end if card_template.purchase %>
  <% end %>
  </span>
</label>
<% end %>
</div>
