<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_trade_promote_path(@trade_promote), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= TradePromote.human_attribute_name(:amount) %></td>
      <td><%= @trade_promote.amount %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= TradePromote.human_attribute_name(:note) %></td>
      <td><%= @trade_promote.note %></td>
    </tr>
  </tbody>
</table>
