<div class="tabs is-centered mb-3">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to({ action: 'index' }) do %>
        <%= svg_tag 'users' %>
        <span class="ml-1"><%= t('.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(action: 'member_organ', active: 'is-active') %>">
      <%= link_to({ action: 'member_organ' }) do %>
        <i class="fa-solid fa-building-user"></i>
        <span class="ml-1"><%= t('.member_organ.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(action: 'user', active: 'is-active') %>">
      <%= link_to({ action: 'user' }) do %>
        <%= svg_tag 'users' %>
        <span class="ml-1"><%= t('.user.title') %></span>
      <% end %>
    </li>
  </ul>
</div>
