<div>
  <span style="color: grey;">Good price: </span>
  <%= model.single_price %>
</div>
<div>
  <span style="color: grey;">Serve Price: </span>
  <%= model.additional_amount %><i class="info circle icon xx_popup" style="color: grey;"></i>
  <div class="ui popup">
    <% model.trade_promotes.each do |trade_promote| %>
      <p><%= trade_promote.promote.name %>: <%= trade_promote.amount %></p>
    <% end %>
  </div>
  <%= link_to 'edit', { controller: 'trade_promotes', trade_item_id: model.id }, class: 'ui mini label' %>
</div>
<div>
  <span style="color: grey;">Promote Price: </span>
  <span style="color: red;"><%= model.reduced_amount %></span>
  <i class="info circle icon xx_popup" style="color: grey;"></i>
  <div class="ui popup">
    <% model.trade_promotes.each do |trade_promote| %>
      <p><%= trade_promote.promote.name %>: <%= trade_promote.amount %></p>
    <% end %>
  </div>
</div>
<div>
  <span style="color: grey;">Final Price: </span>
  <span><%= model.amount %></span>
</div>
