<div>
  <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:single_price) %></span>
  <span><%= model.single_price.to_money.format(html_wrap: true).html_safe %></span>
</div>
<div>
  <span><%= Trade::TradeItem.human_attribute_name(:additional_amount) %></span>
  <%= model.additional_amount %><i class="info circle icon xx_popup" style="color: grey;"></i>
  <div class="ui popup">
    <% model.item_promotes.each do |item_promote| %>
      <p><%= item_promote.promote&.name %>: <%= item_promote.amount %></p>
    <% end %>
  </div>
  <%= link_to 'edit', { controller: 'item_promotes', trade_item_id: model.id }, class: '' %>
</div>
<div>
  <span><%= Trade::TradeItem.human_attribute_name(:reduced_amount) %></span>
  <span><%= model.reduced_amount %></span>
  <div>
    <% model.item_promotes.each do |item_promote| %>
      <p><%= item_promote.promote&.name %>: <%= item_promote.amount %></p>
    <% end %>
  </div>
</div>
<div>
  <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:amount) %></span>
  <span><%= model.amount.to_money.format(html_wrap: true).html_safe %></span>
</div>
