<div class="item">
  <div class="<%= active_helper(controllers: ['orders', 'payments', 'payment_methods'], active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-shopping-cart"></i>
    <span>订单管理</span>
    <i class="dropdown icon"></i>
  </div>
  <div class="<%= active_helper(controllers: ['orders', 'payments', 'payment_methods'], active_class: 'active content menu', item_class: 'content menu') %>">
    <%= link_to '订单列表', admin_orders_path, class: active_helper(controllers: 'orders') %>
    <%= link_to '支付流水', admin_payments_path, class: active_helper(controllers: 'payments') %>
    <%= link_to 'Payment Methods', admin_payment_methods_path, class: active_helper(controllers: 'payment_methods') %>
  </div>
</div>
<div class="item">
  <div class="<%= active_helper(controllers: ['promotes', 'promote_buyers'], active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-tags"></i>
    <span>促销管理</span>
    <i class="dropdown icon"></i>
  </div>
  <div class="<%= active_helper(controllers: ['promotes', 'promote_buyers'], active_class: 'active content menu', item_class: 'content menu') %>">
    <%= link_to '促销管理', admin_promotes_path, class: active_helper(controllers: 'promotes') %>
    <%= link_to '优惠卷', admin_promote_buyers_path, class: active_helper(controllers: 'promote_buyers') %>
  </div>
</div>
<div class="item">
  <a class="title">
    <i class="fas fa-money-bill"></i>
    <span>财务</span>
    <i class="dropdown icon"></i>
  </a>
  <div class="menu content">
    <%= link_to '订单流水', payments_admin_orders_path, class: active_helper('admin/orders': ['payments']) %>
    <%= link_to '支付流水', admin_payments_path, class: active_helper(controller: 'trade/admin/payments', action: 'index') %>
    <%= link_to '支付方式', admin_payment_methods_path, class: active_helper(controllers: 'payment_methods') %>
  </div>
</div>
