<td>
<% if model.contact %>
  <p><%= link_to model.contact.identity, { action: 'show', id: model.id } %></p>
  <p><span class="text-grey"><%= model.contact.name %></span></p>
<% end %>
</td>
<td>
  <p><%= model.good_type_i18n %></p>
  <p><%= model.aim_i18n %></p>
</td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p><%= model.deposit_ratio %></p>
</td>
<td class="text-right">
  <p><%= model.item_amount.to_money.format.html_safe %></p>
  <p><%= model.overall_additional_amount.to_money.format.html_safe %></p>
  <p><%= model.overall_reduced_amount.to_money.format.html_safe %></p>
  <p><%= model.amount.to_money.format.html_safe %></p>
</td>
<td class="text-centered"><%= link_to model.items.size, { action: 'show', id: model.id } %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil text-link"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>
</td>