<div class="columns">
  <div class="column">
    <table class="table is-fullwidth is-hoverable">
      <%= render 'index_thead' %>
      <%= render partial: 'index_tbody', layout: 'index_tr', collection: @items, as: :model %>
      <%= render partial: 'cart_promote', layout: 'cart_promote_tr', collection: @cart.cart_promotes, as: :model %>
      <%= render 'show_total' %>
    </table>

    <% if @cart.checked_item_ids.present? && @cart.has_address? %>
      <%= link_to({ controller: 'orders', action: 'cart', current_cart_id: @cart.id }, class: 'button is-primary') do %>
        <span class="pr-1">结算</span>
        <i class="fa-solid fa-angle-right"></i>
      <% end %>
    <% else %>
      <button class="button is-primary" disabled>
        <span class="pr-1">结算</span>
        <i class="fa-solid fa-angle-right"></i>
      </button>
    <% end %>
  </div>
  <div class="column is-one-quarter">
    <%= render partial: 'cart_nav', locals: { cart: @cart } if @cart %>
  </div>
</div>