<th><%= Trade::CardTemplate.human_attribute_name(:name) %></th>
<th><%= Trade::CardTemplate.human_attribute_name(:cover) %></th>
<th>
  <p><%= Trade::CardTemplate.human_attribute_name(:valid_years) %></p>
  <p><%= Trade::CardTemplate.human_attribute_name(:valid_months) %></p>
  <p><%= Trade::CardTemplate.human_attribute_name(:valid_days) %></p>
</th>
<th><%= Trade::CardTemplate.human_attribute_name(:currency) %></th>
<th><%= Trade::CardTemplate.human_attribute_name(:default) %></th>
<th></th>
