<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <main class="columns container">
    <div class="column">
      <div class="breadcrumb has-succeeds-separator">
        <ul>
          <%= render 'breadcrumb' %>
        </ul>
      </div>
      <%= yield %>
    </div>
    <div class="column is-one-quarter">
      <%= render partial: 'cart_nav', locals: { cart: @cart } if @cart %>
    </div>
  </main>
<% end %>
