<div>
  <dt><%= Trade::ExchangeRate.human_attribute_name(:from) %></dt>
  <dd><%= @exchange_rate.from %></dd>
</div>
<div>
  <dt><%= Trade::ExchangeRate.human_attribute_name(:to) %></dt>
  <dd><%= @exchange_rate.to %></dd>
</div>
<div>
  <dt><%= Trade::ExchangeRate.human_attribute_name(:rate) %></dt>
  <dd><%= @exchange_rate.rate %></dd>
</div>
