<tr>
  <td><%= Trade::ExchangeRate.human_attribute_name(:from) %></td>
  <td><%= @exchange_rate.from %></td>
</tr>
<tr>
  <td><%= Trade::ExchangeRate.human_attribute_name(:to) %></td>
  <td><%= @exchange_rate.to %></td>
</tr>
<tr>
  <td><%= Trade::ExchangeRate.human_attribute_name(:rate) %></td>
  <td><%= @exchange_rate.rate %></td>
</tr>
