<td>
  <p><%= link_to model.payment.payment_uuid, { controller: 'payments', action: 'show', id: model.payment_id } %></p>
  <p><%= model.refund_uuid %></p>
</td>
<td><%= model.total_amount.to_money(model.currency).format %></td>
<td><%= model.type_i18n %></td>
<td><%= model.state_i18n %></td>
<td><%= model.comment %></td>
<td>
    <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>

<% if model.refunded_at %>
    <p><time data-controller="time"><%= model.refunded_at.to_fs(:iso8601) %></time></p>
  <% else %>
    <div class="buttons are-small">
      <%= button_to 'Approve', { action: 'confirm', id: model.id }, method: :patch, data: { turbo_confirm: t('.confirm') }, class: 'button is-primary' %>
      <div class="or"></div>
      <%= button_to 'Deny', { action: 'deny', id: model.id }, method: :patch, data: { turbo_confirm: 'Deny model!' }, class: 'button is-danger' %>
    </div>
  <% end %>
  <% if model.reason %>
    <p><%= model.reason.truncate(27) %></p>
  <% end %>
</td>
<td><%= model.operator&.name %></td>
