<td>
  <p>
    <span><%= link_to model.payment.payment_uuid, { controller: 'payments', action: 'show', id: model.payment_id } %></span>
    <span class="tag is-info"><%= model.type_i18n %></span>
  </p>
  <p>
    <span><%= model.refund_uuid %></span>
    <span class="tag"><%= model.state_i18n %></span>
  </p>
</td>
<td><%= model.total_amount.to_money(model.currency).format.html_safe %></td>
<td>
  <p class="has-text-grey"><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-success"><time data-controller="time" data-format="human"><%= model.refunded_at.to_fs(:iso8601) if model.refunded_at %></time></p>
</td>
<td><%= model.operator&.name %></td>
