<div class="box as-bar">
  <% if @payment.state_all_checked? %>
    <%= link_to({ controller: 'payments' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% else %>
    <%= link_to({ controller: 'payments' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left' %>
    <% end %>
  <% end %>
  <div class="weui-title"><%= @payment.payment_uuid %></div>
  <i class="px-5"></i>
</div>
