<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-info text-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-link"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash text-danger"></i>
      <% end if model.is_a?(Trade::HandPayment) %>
    </div>
    <div data-show-target="item" class="mt-2 visibility-hidden">
      <%= button_to({ controller: 'refunds', action: 'new', payment_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-thumbs-down text-danger"></i>
        <span class="ml-1"><%= t('.refunds.new.title') %></span>
        <span class="pl-1"><%= model.refunds_count %></span>
      <% end %>
      <% if model.payment_method.present? %>
        <%= button_to({ controller: 'payment_methods', action: 'show', id: model.payment_method_id }, class: 'button is-small is-rounded is-light') do %>
          <i class="fa-solid fa-cash-register"></i>
          <span class="pl-1"><%= t('.payment_methods.show.title') %></span>
        <% end %>
      <% end %>
      <%= button_to({ controller: 'payment_orders', action: 'confirmable', payment_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-check-double"></i>
        <span class="pl-1"><%= t('.payment_orders.new.title') %></span>
      <% end if model.payment_orders_count > 0 %>
      <%= button_to({ controller: 'auditor/admin/audits', audited_type: 'Trade::Payment', audited_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-comments"></i>
        <span class="pl-1"><%= t('auditor.admin.audits.index.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
