<td>
  <p><%= link_to model.payment_uuid, { action: 'show', id: model.id } %></p>
  <div class="tag"><%= model.type_i18n %></div>
</td>
<td id="checked_amount_<%= model.id %>">
  <%= model.checked_amount.to_money.format.html_safe %>
  <% if model.part_checked? %>
    <%= button_to t('.adjust'), { action: 'adjust', id: model.id }, method: :patch, class: 'button' %>
  <% else %>
    <span class="tag <%= active_asserts(false, grey: ['init', 'part_checked'].include?(model.state), teal: model.adjust_checked?, green: model.all_checked?) %>"><%= model.state_i18n %></span>
  <% end %>
</td>
<td>
  <p><%= model.total_amount.to_money.format.html_safe %></p>
  <p class="has-text-success"><%= model.income_amount.to_money.format.html_safe %></p>
</td>
<td>
  <p><%= model.fee_amount.to_money.format.html_safe %></p>
  <p class="has-text-danger-dark"><%= model.refunded_amount.to_money.format.html_safe %></p>
</td>
<td><%= model.adjust_amount.to_money.format.html_safe %></td>
<td>
  <p><%= model.buyer_name %></p>
  <p><%= model.buyer_identifier %></p>
  <p><%= model.buyer_bank %></p>
</td>
<td>
  <time data-controller="time">
  <% if model.notified_at.present? %>
    <%= model.notified_at.to_fs(:iso8601) %>
  <% else %>
    <%= model.created_at.to_fs(:iso8601) %>
  <% end %>
  </time>
</td>
