<p class="has-inline-space-between pr-3">
  <%= link_to model.payment_uuid, { controller: 'payment_orders', payment_id: model.id } %>
  <span class="tag"><%= model.state_i18n %></span>
</p>
<p>
  <strong class="has-text-danger"><%= model.total_amount.to_money.format.html_safe %></strong>
  <span class="tag"><%= model.type_i18n %></span>
</p>
<p><%= model.buyer_identifier %></p>
<p class="size-7">
  <time data-controller="time">
  <% if model.notified_at.present? %>
    <%= model.notified_at.to_fs(:iso8601) %>
  <% else %>
    <%= model.created_at.to_fs(:iso8601) %>
  <% end %>
  </time>
</p>
