<div>

  <%= render 'menu' %>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <p>
      <span>State:</span>
      <%= link_to 'All', filter_params(except: [:payment_status]), class: active_params(payment_status: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    </p>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>Credit Terms(Period)</th>
      <th>负责人</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.id %></td>
        <td><%= buyer.name %></td>
        <td><%= buyer.payment_strategy&.name %></td>
        <td><%# buyer.charger&.name %></td>
        <td><%# buyer.sum_amount %></td>
        <td>
          <%= link_to 'Orders', orders_admin_buyer_path(buyer.id), class: 'ui mini blue button' %>
          <%= link_to 'Promotes', admin_promote_buyers_path(buyer_id: buyer.id), class: 'ui mini green button' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @buyers %>
</div>
