<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= check_box_tag :all %></th>
      <th><%= TradeItem.human_attribute_name(:good_name) %></th>
      <th><%= TradeItem.human_attribute_name(:single_price) %></th>
      <th><%= TradeItem.human_attribute_name(:number) %></th>
      <th><%= TradeItem.human_attribute_name(:amount) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @trade_items.each do |trade_item| %>
    <tr class="<%= 'active' if trade_item.checked? %>" id="trade_item_<%= trade_item.id %>">
      <td>
        <%= check_box_tag '[trade_item]status', trade_item.checked? ? 'init' : 'checked', trade_item.checked?, data: { method: :patch, remote: true, url: my_trade_item_path(trade_item), submit: true }, id: nil %>
      </td>
      <td>
        <%= trade_item.good&.name %>
        <p style="color: grey;"><%= trade_item.good_type %></p>
      </td>
      <td>
        <p><%= trade_item.retail_price %></p>
        <p><%= trade_item.weight %><%= trade_item.unit %></p>
      </td>
      <td>
        <div class="field has-addons" data-controller="cart">
          <div class="control">
            <div class="button" data-action="click->cart#decrease"><i class="fas fa-minus"></i></div>
          </div>
          <div class="control">
            <%= number_field_tag '[trade_item]number', trade_item.number, id: "quantity_#{trade_item.id}", step: 1, data: { action: 'change->cart#update', target: 'cart.number', url: my_trade_item_path(trade_item) }, class: 'input' %>
          </div>
          <div class="control">
            <div class="button is-link" data-action="click->cart#increase"><i class="fas fa-plus"></i></div>
          </div>
        </div>
      </td>
      <td>
        <p>
          <span class="has-text-grey"><%= trade_item.wholesale_price %></span>
          <% if trade_item.discount_price < 0 %>
            <span class="has-text-danger"><%= trade_item.discount_price %></span>
            <i class="fas fa-info"></i>
          <% end %>
        </p>
        <p>
          <strong><%= trade_item.amount %></strong>
        </p>
      </td>
      <td>
        <%= link_to t('.destroy'), my_trade_item_path(trade_item), method: :delete, remote: true %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tbody>
  <%= render 'trade/my/trade_items/additions' %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4"></th>
      <th id="total_price">
        <%= render 'trade/my/trade_items/total_price' %>
      </th>
      <th></th>
    </tr>
    <tr>
      <th colspan="5">
      </th>
      <th>
        <%= link_to 'å»ç»“ç®—', new_my_order_path, class: 'button is-primary', id: 'new_order' %>
      </th>
    </tr>
  </tfoot>
</table>

