<div class="weui-panel">
  <div class="weui-panel__hd">
    <div><%= @trade_item.status_i18n %></div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= @trade_item.organ&.name %></div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <%= image_tag @trade_item.good.logo, class: 'weui-media-box__thumb' %>
      </div>
      <div class="weui-media-box__bd">
        <strong class="weui-media-box__title"><%= @trade_item.good_name %></strong>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd p-4">
    <p>
      <span class="has-text-grey">订单编号：</span>
      <span><%= @trade_item.order.uuid %></span>
    </p>
    <p>
      <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:number) %>：</span>
      <span><%= @trade_item.number %></span>
    </p>
    <p>
      <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:single_price) %>：</span>
      <span><%= @trade_item.single_price.to_money.format(html_wrap: true).html_safe %></span>
    </p>
    <p>
      <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:retail_price) %>：</span>
      <span><%= @trade_item.retail_price.to_money.format(html_wrap: true).html_safe %></span>
    </p>
    <p>
      <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:wholesale_price) %>：</span>
      <span><%= @trade_item.wholesale_price.to_money.format(html_wrap: true).html_safe %></span>
    </p>
    <p>
      <span class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:amount) %>：</span>
      <span><%= @trade_item.amount.to_money.format(html_wrap: true).html_safe %></span>
    </p>
  </div>
</div>
