<%= button_to({ action: 'destroy' }, method: :delete, class: 'text-danger', form: { data: { turbo_confirm: t('.destroy.confirm') }, class: 'cell has-column-centered' }) do %>
  <div>
    <%= svg_tag 'trash' %>
  </div>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'circle-info', class: 'icon text-info' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= button_to({ action: 'print' }, class: 'text-danger', form: { class: 'cell has-column-centered' }) do %>
  <div>
    <i class="fa-solid fa-print"></i>
  </div>
  <span><%= t('trade.admin.items.print.title') %></span>
<% end %>
