<div class="weui-panel">
  <div class="weui-panel__hd"><%= model.payment_status_i18n %></div>
  <div class="weui-panel__bd">
    <% model.trade_items.each do |trade_item| %>
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <%= image_tag trade_item.good.logo, class: 'weui-media-box__thumb' if trade_item.good.logo.attached? %>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title"><%= trade_item.good.name %></h4>
          <p class="weui-media-box__desc"><%= trade_item.amount %></p>
        </div>
      </a>
    <% end %>
    <div class="weui-media-box weui-media-box_text">
      <ul class="weui-media-box__info">
        <li class="weui-media-box__info__meta"><%= model.amount %></li>
        <li class="weui-media-box__info__meta"></li>
        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
          <%= link_to '支付', { action: 'payment_types', id: model.id } %>
        </li>
      </ul>
    </div>
  </div>
  <div class="weui-panel__ft">
    <%= link_to({ action: 'show', id: model.id }, class: 'weui-cell weui-cell_link') do %>
      <div class="weui-cell__bd">更多</div>
      <span class="weui-cell__ft"></span>
    <% end %>
  </div>
</div>
