<div id="tr_<%= model.id %>" class="box is-padding-less">
  <%= render partial: 'order_overview', locals: { model: model } %>
  <div class="box-body">
  <% if model.from_address.present? %>
    <%= render partial: 'ship_info', locals: { model: model } %>
  <% else %>
    <%= render partial: 'item', collection: model.items, as: :item, locals: { model: model } %>
  <% end %>
  </div>
  <%= link_to({ controller: 'orders', action: 'show', id: model.id }, class: 'p-3 justify-content-space-between') do %>
    <span class="size-7">
      <span class="text-grey">总价：</span>
      <span class="text-danger"><%= model.amount.to_money.format.html_safe %></span>
    </span>
    <span class="pl-2 size-7">
      <span>共</span>
      <span><%= model.items_count %></span>
      <span>份</span>
    </span>
    <div>
      <% if model.serial_number %>
        <span class="text-grey size-7">顺序号：</span>
        <span><%= model.serial_str %></span>
      <% end %>
    </div>
  <% end %>
</div>
