<%= render 'top_bar' %>
<%= render 'order_for_payment' %>

<div class="box mx-3">
<% @order.payment_orders.select(&:new_record?).each do |payment_order| %>
  <% if payment_order.payment.is_a?(Trade::WalletPayment) && payment_order.payment.wallet.wallet_template %>
    <%= render partial: 'wallet_payment', locals: { payment_order: payment_order } %>
  <% elsif payment_order.payment.is_a?(Trade::WalletPayment) %>
    <%= render partial: 'lawful_wallet_payment', locals: { payment_order: payment_order } %>
  <% elsif payment_order.payment.is_a?(Trade::WxpayPayment) %>
    <%= render partial: 'wxpay', locals: { payment_order: payment_order } %>
  <% end %>
<% end %>
</div>

<div class="box mx-3">
  <%= render 'pending_form' %>
</div>

<%= turbo_stream_from @order, channel: Trade::OrderChannel unless @order.all_paid? %>
