<%= render 'top_bar' %>
<%= render 'order_for_payment' %>

<div class="weui-panel is-box">
  <div class="weui-panel__bd">
    <div class="weui-cells">
    <% @order.payment_orders.select(&:new_record?).each do |payment_order| %>
      <% if payment_order.payment.is_a?(Trade::WalletPayment) && payment_order.payment.wallet.wallet_template %>
        <%= render partial: 'wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WalletPayment) %>
        <%= render partial: 'lawful_wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WxpayPayment) %>
        <%= render partial: 'wxpay', locals: { payment_order: payment_order } %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="weui-panel is-box">
<% if @order.all_paid? %>
  <div class="weui-panel__bd">
    <p class="p-4 has-text-centered">订单已完成支付</p>
  </div>
<% else %>
  <div class="weui-panel__bd">
    <%= form_with theme: nil, model: payment_order.payment, scope: 'payment', url: { controller: 'payments', action: 'create' }, state: 'redirect' do |f| %>
      <%= f.hidden_field :wallet_id %>
      <%= f.hidden_field :type %>
      <%= f.hidden_field :total_amount  %>
      <%= f.fields :payment_orders do |ef| %>
        <%= ef.hidden_field :order_id %>
        <%= ef.hidden_field :state, value: 'confirmed' %>
        <%= ef.hidden_field :payment_amount %>
      <% end %>
      <%= f.check_box 'xx', checked: false, class: 'weui-check', data: { action: 'input#form' } %>
      <span class="weui-icon-checked"></span>
    <% end %>
  </div>
<% end %>
</div>

<%= turbo_stream_from @order, channel: Trade::OrderChannel unless @order.all_paid? %>
