<%= render 'top_bar' %>
<%= render 'order_for_payment' %>

<div class="weui-panel is-box">
  <div class="weui-panel__bd">
    <div class="weui-cells">
    <% @order.payment_orders.select(&:new_record?).each do |payment_order| %>
      <% if payment_order.payment.is_a?(Trade::WalletPayment) && payment_order.payment.wallet.wallet_template %>
        <%= render partial: 'wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WalletPayment) %>
        <%= render partial: 'lawful_wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WxpayPayment) %>
        <%= render partial: 'wxpay', locals: { payment_order: payment_order } %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="weui-panel is-box">
<% if @order.all_paid? %>
  <div class="weui-panel__bd">
    <p class="p-4 has-text-centered">订单已完成支付</p>
  </div>
<% else %>
  <div class="weui-panel__bd has-block-centered py-3">
    <%= form_with theme: nil, scope: 'xx', url: { controller: 'payments', action: 'create' } do |f| %>
      <% @order.payments.each do |payment| %>
        <%= f.fields '', model: payment do |df| %>
          <%= df.hidden_field :wallet_id %>
          <%= df.hidden_field :type %>
          <%= df.fields :payment_orders do |ef| %>
            <%= ef.hidden_field :order_id %>
            <%= ef.hidden_field :order_amount %>
            <%= ef.hidden_field :state, value: 'confirmed' %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.submit '确认', class: 'button is-success' %>
    <% end %>
  </div>
<% end %>
</div>

<%= turbo_stream_from @order, channel: Trade::OrderChannel unless @order.all_paid? %>
