<%= turbo_stream.update 'weui-tab__panel' do %>
  <%= render 'top_bar' %>

  <%= form_with model: @order, url: { action: 'blank' }, id: 'new_order' do |f| %>
    <%= f.hidden_field :address_id %>
  <% end %>

  <%= render 'address' %>

  <div class="weui-panel">
    <%= render partial: 'trade_item', locals: { form: form_object(@order, theme: 'weui') } %>
  </div>
<% end %>
