<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Trade::Order.human_attribute_name(:uuid) %></th>
      <th><%= Trade::Order.human_attribute_name(:amount) %></th>
      <th><%= Trade::Order.human_attribute_name(:payment_status) %></th>
      <th>Pay</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to order.uuid, { action: 'show', id: order.id } %>
      </td>
      <td>
        <%= order.amount %>
      </td>
      <td><%= order.payment_status_i18n %></td>
      <td>
        <% if order.can_pay? %>
          <%= link_to '支付', { action: 'edit_payment_type', id: order.id }, data: { turbo_frame: 'modal' }, class: 'button' %>
        <% end %>
      </td>
      <td>
        <%= link_to({ action: 'show', id: order.id }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to({ action: 'edit', id: order.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @orders %>
