<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['chooseWXPay'] -%>
<% end %>

<% if @orders.blank? %>
  <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center" style="height: 100%">
    <%= image_vite_tag 'no_order.png' %>
    <p>客官，快上车~</p>
    <p class="mt-4" style="margin-bottom: 10rem">
      <%= link_to '去点单', { controller: '/factory/products' }, class: 'button is-warning px-6' %>
    </p>
  </div>
<% end %>

<%= render partial: 'order', collection: @orders, as: :model %>
