<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['chooseWXPay'] -%>
<% end %>

<div class="weui-panel weui-panel_access">
  <% @orders.each do |order| %>
  <div class="weui-panel__hd"><%= order.payment_status_i18n %></div>
  <div class="weui-panel__bd">
    <% order.trade_items.each do |trade_item| %>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <%= image_tag trade_item.good.logo, class: 'weui-media-box__thumb' if trade_item.good.logo.attached? %>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title"><%= trade_item.good.name %></h4>
        <p class="weui-media-box__desc"><%= trade_item.amount %></p>
      </div>
    </a>
    <% end %>
    <div class="weui-media-box weui-media-box_text">
      <ul class="weui-media-box__info">
        <li class="weui-media-box__info__meta"><%= order.amount %></li>
        <li class="weui-media-box__info__meta"></li>
        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
          <%= link_to '微信支付', wxpay_pay_my_order_path(order.id), remote: true %>
        </li>
      </ul>
    </div>
  </div>
  <div class="weui-panel__ft">
    <%= link_to my_order_path(order), class: 'weui-cell weui-cell_access weui-cell_link' do %>
      <div class="weui-cell__bd">更多</div>
      <span class="weui-cell__ft"></span>
    <% end %>
  </div>
  <% end %>
</div>
