<%= render 'filter_form' %>

<%= render 'nav_bar' %>

<%= render partial: 'no_order' if @orders.blank? %>

<div class="pt-3 px-3">
  <%= render partial: 'order', collection: @orders, as: :model %>
</div>

<%= paginate @orders %>