<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= form_with model: @order, url: { action: 'create' }, id: 'new_order' do %><% end %>
      </th>
      <th><%= Trade::TradeItem.human_attribute_name(:good_name) %></th>
      <th><%= Trade::TradeItem.human_attribute_name(:number) %></th>
      <th><%= Trade::TradeItem.human_attribute_name(:amount) %></th>
    </tr>
  </thead>
  <tbody>
  <% current_cart.trade_items.checked.each do |trade_item| %>
    <tr>
      <td></td>
      <td><%= trade_item.good_name %></td>
      <td><%= trade_item.number %></td>
      <td><%= trade_item.amount %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th>
        <%= submit_tag '确认订单', class: 'button is-primary', form: 'new_order' %>
      </th>
    </tr>
  </tfoot>
</table>
