<%= form_with model: @order, url: { action: 'create' }, id: 'new_order' do |f| %>
  <%= f.hidden_field :current_cart_id %>
<% end %>

<%= render 'top_bar' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= render partial: 'trade_item', collection: @cart.trade_items.status_checked, as: :trade_item %>
  </div>
</div>

<%= render partial: 'cart', locals: { cart: @cart } %>

<div class="weui-panel">
  <div class="weui-panel__ft p-4">
    <%= submit_tag t('.confirm'), class: 'weui-btn weui-btn_primary', form: 'new_order' %>
  </div>
</div>
