<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= form_with model: @order, url: { action: 'create' }, id: 'new_order' do %><% end %>
      </th>
      <th><%= Trade::Item.human_attribute_name(:good_name) %></th>
      <th><%= Trade::Item.human_attribute_name(:number) %></th>
      <th><%= Trade::Item.human_attribute_name(:amount) %></th>
    </tr>
  </thead>
  <tbody>
  <% current_cart.items.checked.each do |item| %>
    <tr>
      <td></td>
      <td><%= item.good_name %></td>
      <td><%= item.number %></td>
      <td><%= item.amount %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th>
        <%= submit_tag t('.confirm'), class: 'button is-success', form: 'new_order' %>
      </th>
    </tr>
  </tfoot>
</table>
