<div class="weui-panel">
  <div class="weui-panel__hd">
    待支付：<%= @order.remaining_amount.to_money %>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells weui-cells_checkbox">
        <%= render partial: 'card', collection: current_user.cards, as: :card %>
      </div>
      <div class="weui-cells" data-controller="mini-program" data-mini-program-url-value="/pages/trade/my/orders/wxpay_pay?url=<%= url_for(action: 'wxpay_pay', only_path: false) %>">
        <%= link_to({ action: 'wxpay_pay' }, data: { action: 'mini-program#link' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
          <div class="weui-cell__hd"></div>
          <div class="weui-cell__bd weui-cell_primary">微信支付</div>
          <div class="weui-cell__ft"></div>
        <% end unless @order.all_paid? %>
      </div>
    </div>
  </div>
</div>
<div class="weui-bottom-fixed-opr-page">
  <div class="weui-bottom-fixed-opr-page__content">
    <% if @order.all_paid? %>
      <p class="has-text-centered">已支付 <%= @order.received_amount %></p>
      <%= link_to '查看订单', { action: 'show', id: @order.id }, class: 'weui-btn weui-btn_primary' %>
    <% end %>
  </div>
  <div class="weui-bottom-fixed-opr">
    <%= link_to '订单列表', { action: 'index' }, class: 'weui-btn weui-btn_primary' %>
  </div>
</div>
