<%= render 'order' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells weui-cells_checkbox">
      <% if current_wallet && @order.trade_items.map(&:good_type).exclude?('Trade::Advance') %>
        <%= render partial: 'wallet', locals: { wallet: current_wallet } %>
      <% end %>
      </div>
      <div class="weui-cells">
      <% unless @order.all_paid? %>
        <%= render partial: 'wxpay' %>
        <%= render 'hand_payment' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="weui-bottom-fixed-opr-page">
  <div class="weui-bottom-fixed-opr-page__content">
    <% if @order.all_paid? %>
      <p class="has-text-centered">已支付 <%= @order.received_amount %></p>
      <%= link_to '查看订单', { action: 'show', id: @order.id }, class: 'weui-btn weui-btn_primary' %>
    <% end %>
  </div>
  <div class="weui-bottom-fixed-opr">
    <%= link_to '订单列表', { action: 'index' }, class: 'weui-btn weui-btn_primary' %>
  </div>
</div>
