<%= render 'top_bar' %>
<%= render 'order' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells weui-cells_checkbox">
      <% @order.payment_orders.each do |payment_order| %>
        <% if payment_order.payment.is_a?(Trade::WalletPayment) && payment_order.payment.wallet.wallet_template %>
          <%= render partial: 'wallet_payment', locals: { payment_order: payment_order } %>
        <% elsif payment_order.payment.is_a?(Trade::WalletPayment) %>
          <%= render partial: 'lawful_wallet_payment', locals: { payment_order: payment_order } %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <% unless @order.all_paid? %>
        <%= render partial: 'wxpay' %>
        <%= render 'hand_payment' %>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_stream_from @order, channel: Com::ModelChannel %>
<div id="order_result"></div>
