<%= render 'top_bar' %>
<%= render 'order' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells weui-cells_checkbox">
        <%= render partial: 'wallet_payment', collection: @order.payment_orders, as: :payment_order %>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <% unless @order.all_paid? %>
        <%= render partial: 'wxpay' %>
        <%= render 'hand_payment' %>
      <% end %>
    </div>
  </div>
</div>
