<%= render 'order_for_payment' %>

<% if @order.payment_orders.select(&:new_record?).present? %>
<div class="box is-padding-less mx-3">
  <div class="box-body">
    <% @order.payment_orders.select(&:new_record?).each do |payment_order| %>
      <% if payment_order.payment.is_a?(Trade::WalletPayment) && payment_order.payment.wallet.wallet_template %>
        <%= render partial: 'wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WalletPayment) %>
        <%= render partial: 'lawful_wallet_payment', locals: { payment_order: payment_order } %>
      <% elsif payment_order.payment.is_a?(Trade::WxpayPayment) %>
        <%= render partial: 'wxpay', locals: { payment_order: payment_order } %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

<% if @order.all_paid? %>
<div class="box mx-3">
  <p class="text-centered">订单已完成支付</p>
</div>
<% end %>

<%= turbo_stream_from @order, channel: Trade::OrderChannel unless @order.all_paid? %>
