<%= render 'top_bar' %>

<%= render partial: 'order', locals: { model: @order } %>

<%= render partial: 'packages', locals: { model: @order } %>

<%= render partial: 'order_items', locals: { model: @order } %>

<div class="weui-panel">

  <div class="weui-panel__ft">
    <div class="weui-cell weui-cell_link">
      <button
        class="weui-btn weui-btn_mini weui-btn_default"
        data-controller="wechat"
        data-wechat-options-value="<%= current_wechat_app.js_config(request.original_url).to_json %>"
        data-wechat-apis-value="<%= ['closeWindow'].to_json %>"
        data-action="wechat#close"
      >联系客服</button>
      <%= link_to '支付', { action: 'payment_types', id: model.id }, class: 'weui-btn weui-btn_mini weui-btn_primary' unless model.all_paid? %>
    </div>
  </div>
</div>
