<%= render 'top_bar' %>

<%= render partial: 'order', locals: { model: @order } %>

<%= render partial: 'address', locals: { model: @order.address } if @order.address %>
<%= render partial: 'from_address', locals: { model: @order.from_address } if @order.from_address %>

<% if @order.packages.present? %>
  <%= render partial: 'packages', locals: { model: @order } %>
<% elsif @order.address && @order.from_address %>
  <%= render partial: 'package_buttons', locals: { model: @order } %>
<% end %>

<%= render partial: 'items', locals: { model: @order } %>

<div class="weui-panel is-box" data-controller="empty">
  <div class="weui-panel__hd">支付</div>
  <div class="weui-panel__bd" data-empty-target="content">
    <%= render partial: 'payment_order', collection: @order.payment_orders.where(user_id: current_user.id), as: :model %>
  </div>
</div>
