<%= render 'top_bar' %>

<%= render partial: 'order', locals: { model: @order } %>

<%= render partial: 'packages', locals: { model: @order } %>

<%= render partial: 'order_items', locals: { model: @order } %>

<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">支付</div>
  <div class="weui-panel__bd" data-empty-target="content">
    <%= render partial: 'payment', collection: @order.payment_orders, as: :model %>
  </div>
</div>

<%= render 'buttons' %>
