<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['chooseWXPay'] -%>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div data-controller="wxpay"
     data-wxpay-timestamp="<%= @wxpay_order[:timeStamp] %>"
     data-wxpay-nonce-str="<%= @wxpay_order[:nonceStr] %>"
     data-wxpay-package="<%= @wxpay_order[:package] %>"
     data-wxpay-sign-type="<%= @wxpay_order[:signType] %>"
     data-wxpay-pay-sign="<%= @wxpay_order[:paySign] %>"
     class="weui-loadmore"
     style="display: none"
>
  <i class="weui-loading"></i>
  <span class="weui-loadmore__tips">等待支付结果确认</span>
</div>

<% if @wxpay_order %>
<div><%# @wxpay_order %></div>
<% end %>
