<div data-controller="wxpay"
     data-wxpay-timestamp="<%= @wxpay_order[:timeStamp] %>"
     data-wxpay-nonce-str="<%= @wxpay_order[:nonceStr] %>"
     data-wxpay-package="<%= @wxpay_order[:package] %>"
     data-wxpay-sign-type="<%= @wxpay_order[:signType] %>"
     data-wxpay-pay-sign="<%= @wxpay_order[:paySign] %>"
>

</div>
