<tr>
  <td>
    <p><%= model.promote.name %></p>
    <p class="has-text-grey"><%= model.good_type_i18n %></p>
  </td>
  <td class="has-text-centered">
    <time data-controller="time"><%= model.expire_at&.to_fs(:iso8601) %></time>
  </td>
  <td class="has-text-centered">
    <p>
      <span class="size-7">
      <% if model.use_limit.blank? %>
        <span>不限次</span>
      <% else %>
        <span class="has-text-grey">限用</span><span><%= model.use_limit %></span>
      <% end %>
      </span>
    </p>
    <p>
      <span class="size-7">已用<%= model.item_promotes_count %></span>
    </p>
  </td>
</tr>
