<div class="thirteen wide column">

  <div class="ui top attached menu borderless">
    <%= link_to '促销列表', admin_promotes_path, class: active_helper(controllers: ['promotes', 'promote_charges']) %>
    <%= link_to '服务列表', admin_serves_path, class: active_helper(controllers: ['serves', 'serve_charges']) %>
    <div class="right menu">
      <div class="item"><%= link_to '新建', new_admin_serve_path, class: 'ui teal button' %></div>
    </div>
  </div>

  <div class="ui segment bottom attached">
    <p>
      <span>Scope: </span>
      <%= link_to 'Single', filter_params(scope: 'single'), class: active_params(scope: 'single', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <%= link_to 'Total', filter_params(scope: 'total'), class: active_params(scope: 'total', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    </p>
  </div>

  <table class="ui table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Scope</th>
      <th>Verified</th>
      <th>Overall</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @serves.each do |serve| %>
      <tr>
        <td><%= serve.type %></td>
        <td><%= serve.name %></td>
        <td><%= serve.scope_i18n %></td>
        <td>
          <%= form_tag toggle_admin_serve_path(serve.id), method: :patch do %>
          <span class="ui toggle checkbox">
            <label></label>
            <%= check_box_tag :verified, 1, serve.verified, onChange: 'this.form.submit()' %>
          </span>
          <% end %>
        </td>
        <td>
          <%= form_tag overall_admin_serve_path(serve.id), method: :patch do %>
          <span class="ui toggle checkbox">
            <label></label>
            <%= check_box_tag :overall, 1, serve.overall, onChange: 'this.form.submit()' %>
          </span>
          <% end %>
        </td>
        <td><%= link_to '详细', admin_serve_charges_path(serve) %></td>
        <td><%= link_to '编辑', edit_admin_serve_path(serve) %></td>
        <td><%= link_to '删除', admin_serve_path(serve), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>




