<th id="xxd" data-controller="check" data-check-container-value="tbody" data-check-form-outlet="form.button_to">
  <%= check_box_tag 'xxdx', 'xx', false, data: { check_target: 'all', action: 'check#toggleAll' }, id: nil %>
</th>
<th>
  <p><%= Trade::Order.human_attribute_name(:uuid) %></p>
  <p><%= Trade::Order.human_attribute_name(:serial_number) %></p>
</th>
<th class="text-right"><%= Trade::Order.human_attribute_name(:amount) %></th>
<th>
  <p><%= Trade::Order.human_attribute_name(:payment_strategy_id) %></p>
  <p><%= Trade::Order.human_attribute_name(:pay_deadline_at) %></p>
</th>
<th>
  <p><%= Trade::Order.human_attribute_name(:created_at) %></p>
</th>
<th></th>
<th><%= Trade::Order.human_attribute_name(:items_count) %></th>
<th><%= Trade::Order.human_attribute_name(:extra) %></th>
