<td>
  <p>
    <%= link_to model.uuid, { action: 'show', id: model.id }, text: true %>
    <span class="tag"><%= model.state_i18n %></span>
  </p>
  <p class="has-text-grey"><%= model.serial_number %></p>
</td>
<td class="has-text-right">
  <p>
    <span class="tag"><%= model.amount.to_money.format(html_wrap: true).html_safe %></span>
  </p>
  <% if model.received_amount.to_d > 0 %>
    <div class="tags has-addons is-justify-content-end">
      <span class="tag"><%= Trade::Order.human_attribute_name(:received_amount) %></span>
      <span class="tag is-success"><%= model.received_amount.to_money.format(html_wrap: true).html_safe %></span>
    </div>
  <% end %>
  <% if model.unreceived_amount.to_d > 0 %>
    <p class="tags has-addons is-justify-content-end">
      <span class="tag"><%= Trade::Order.human_attribute_name(:unreceived_amount) %></span>
      <span class="tag is-danger"><%= model.unreceived_amount.to_money.format(html_wrap: true).html_safe %></span>
    </p>
  <% end %>
</td>
<td>
  <%= button_to({ action: 'refund', id: model.id }, method: :patch, class: 'button is-small is-warning', form: { data: { turbo_confirm: t('.confirm') } }) do %>
    <span><%= t('trade.admin.orders.refund.title') %></span>
  <% end if ['part_paid', 'all_paid'].include?(model.payment_status) %>
  <%= link_to({ controller: 'trade/admin/refunds', order_id: model.id }, class: 'button is-small is-link') do %>
    <span><%= t('trade.admin.refunds.index.title') %></span>
  <% end if ['refunding', 'refunded', 'denied'].include?(model.payment_status) %>
  <%= link_to({ action: 'payment_types', id: model.id }, class: 'button is-small is-link') do %>
    <span><%= t('trade.admin.orders.payment_types.title') %></span>
  <% end if ['unpaid', 'part_paid'].include?(model.payment_status) %>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-success"><time data-controller="time"><%= model.paid_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= link_to model.user_name, { action: 'user', user_id: model.user_id } %></p>
  <p>
  <% if model&.member %>
    <span><%= model.member.name %></span>
    <span class="has-text-grey">（<%= model.member_organ.name %>）</span>
  <% end %>
  </p>
</td>
<td><%= simple_format(model.extra_i18n) %></td>
