<td>
  <p>
    <%= link_to model.uuid, { action: 'show', id: model.id }, text: true %>
    <span class="tag"><%= model.state_i18n %></span>
  </p>
  <p class="has-text-grey"><%= model.serial_number %></p>
</td>
<td class="has-text-right">
  <p>
    <span class="tag"><%= model.amount.to_money.format(html_wrap: true).html_safe %></span>
  </p>
  <% if model.received_amount.to_d > 0 %>
    <div class="tags has-addons is-justify-content-end mt-1">
      <span class="tag is-success"><%= Trade::Order.human_attribute_name(:received_amount) %></span>
      <span class="tag"><%= model.received_amount.to_money.format(html_wrap: true).html_safe %></span>
    </div>
  <% end %>
  <% if model.unreceived_amount.to_d > 0 %>
    <p class="tags has-addons is-justify-content-end mt-1">
      <span class="tag is-danger"><%= Trade::Order.human_attribute_name(:unreceived_amount) %></span>
      <span class="tag"><%= model.unreceived_amount.to_money.format(html_wrap: true).html_safe %></span>
    </p>
  <% end %>
</td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p class="has-text-success"><time data-controller="time"><%= model.pay_deadline_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-success"><time data-controller="time"><%= model.paid_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= link_to model.user_name, { action: 'user', user_id: model.user_id, payment_status: ['unpaid', 'part_paid'] } %></p>
  <p>
  <% if model&.member %>
    <span><%= model.member.name %></span>
    <span class="has-text-grey">（<%= model.member_organ.name %>）</span>
  <% end %>
  </p>
</td>
<td><%= simple_format(model.extra_i18n) %></td>
<td>
<% model.payment_orders.each do |payment_order| %>
  <%= button_to({ controller: 'payment_orders', action: 'refund', payment_id: payment_order.payment_id, id: payment_order.id }, class: 'button is-small is-rounded is-warning', form: { data: { turbo_confirm: t('.confirm') } }) do %>
    <span><%= t('trade.admin.orders.refund.title') %></span>
  <% end if ['pending', 'confirmed'].include?(payment_order.state) %>
<% end %>
</td>
