<tr id="payment_<%= payment.id %>">
  <td>
    <%= payment.payment_uuid %>
    <span class="ui tiny orange label"><%= Payment.enum_i18n(:type, payment.type) %></span>
  </td>
  <td>
    <%= payment.total_amount %>
  </td>
  <td id="checked_amount_<%= payment.id %>" class="warning">
    <%= payment.checked_amount %>
    <% if payment.part_checked? && payment.init_adjust_amount > -1 && payment.init_adjust_amount < 1 %>
      <%= link_to t('.adjust'), adjust_admin_payment_path(payment), method: :patch, class: 'ui mini grey button' %>
    <% elsif payment.init? || payment.part_checked? %>
      <span class="ui tiny grey label"><%= Payment.enum_i18n(:state, payment.state) %></span>
    <% elsif payment.all_checked? %>
      <span class="ui tiny green label"><%= Payment.enum_i18n(:state, payment.state) %></span>
    <% end %>
  </td>
  <td>
    <% if payment.income_amount.present? || payment.fee_amount %>
      <%= [payment.income_amount, payment.fee_amount].join(' + ') %>
    <% end %>
  </td>
  <td><%= payment.adjust_amount %></td>
  <td><%= payment.buyer_name %></td>
  <td>
    <%= payment.buyer_identifier %>
    <% if payment.payment_method %>
      <%= link_to 'Payment Method', admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini label', targe: '_blank' %>
    <% end %>
  </td>
  <td><%= payment.buyer_bank %></td>
  <td><%= payment.notified_at.to_s %></td>
  <td>
    <% if payment.payment_method.present? %>
      <%= link_to t('.show'), admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini blue button', target: '_blank' %>
    <% else %>
      <%= link_to t('.analyze'), analyze_admin_payment_path(payment), method: :patch, class: 'ui mini blue button', remote: true %>
    <% end %>
    <%= link_to t('.checking'), new_admin_payment_payment_order_path(payment), class: 'ui mini red button', remote: true %>
  </td>
  <td>
    <%= link_to t('.edit'), edit_admin_payment_path(payment) %>
  </td>
</tr>

