<tr id="payment_<%= payment.id %>">
  <td>
    <%= payment.payment_uuid %>
    <span class="ui tiny orange label"><%= Payment.enum_i18n(:type, payment.type) %></span>
  </td>
  <td>
    <%= payment.total_amount %>
    <span style="color: #999;">（已核销：<%= payment.checked_amount %>)</span>
  </td>
  <td>
    <% if payment.income_amount.present? || payment.fee_amount %>
      <%= [payment.income_amount, payment.fee_amount].join(' + ') %>
    <% end %>
  </td>
  <td><%= payment.buyer_name %></td>
  <td>
    <%= payment.buyer_identifier %>
    <% if payment.payment_method %>
      <%= link_to 'Payment Method', admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini label', targe: '_blank' %>
    <% end %>
  </td>
  <td><%= payment.buyer_bank %></td>
  <td><%= payment.notified_at.to_s %></td>
  <td>
    <% if payment.payment_method.present? %>
      <%= link_to 'show', admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini blue button', target: '_blank' %>
      <%= link_to 'checking', new_admin_payment_payment_order_path(payment), class: 'ui mini red button', remote: true %>
    <% else %>
      <%= link_to 'analyze', analyze_admin_payment_path(payment), method: :patch, class: 'ui mini blue button', remote: true %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Edit', edit_admin_payment_path(payment) %>
    <%= link_to 'Destroy', admin_payment_path(payment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>

