<%= search_form_with css: { submit: 'ui green button' } do |f| %>
  <div class="fields">
    <%= f.text_field :payment_uuid, placeholder: 'UUID', css: { wrapper_input: 'two wide field' } %>
    <%= f.text_field :'buyer_name-like', placeholder: 'Account Name' %>
    <%= f.text_field :buyer_identifier, placeholder: 'Account Num' %>
    <%= f.text_field :buyer_bank, placeholder: 'Buyer Bank' %>
    <%= f.text_field :'orders.uuid', placeholder: 'Order UUID' %>
    <%= f.submit 'Search' %>
    <%= link_to 'Clear All Filters', filter_params(only: []), class: 'ui white button' %>
  </div>
<% end %>


