<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Payments List</strong></div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <p>
      <span>Status:</span>
      <%= link_to 'All', filter_params(except: [:type]), class: ex_active_params(type: '') %>
      <%= link_to 'Bank', filter_params(type: 'BankPayment'), class: ex_active_params(type: 'BankPayment') %>
      <%= link_to 'Hand', filter_params(type: 'HandPayment'), class: ex_active_params(type: 'HandPayment') %>
      <%= link_to 'Paypal', filter_params(type: 'PaypalPayment'), class: ex_active_params(type: 'PaypalPayment') %>
    </p>
    <p>
      <%= link_to 'Add New', new_admin_payment_path, class: 'ui teal button' %>
      <%= link_to '导入', import_data_list_table_lists_path('PaymentImport'), class: 'ui blue button', remote: true %>
    </p>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Total Amount</th>
      <th>Income + Fee Amount</th>
      <th>Buyer Name</th>
      <th>Buyer Account</th>
      <th>Buyer Bank</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: 'item', collection: @payments, as: :payment %>
    </tbody>
  </table>

  <%= paginate @payments %>
</div>