<div class="level-left">
  <div class="is-size-7 is-flex-direction-column is-justify-content-center is-align-items-start">
    <p>
      <span class="has-text-grey"><%= Trade::Cart.human_attribute_name(:amount) %></span>
      <span>：</span>
      <span class="is-size-6 has-text-danger"><%= current_cart.amount.to_money.format(html_wrap: true).html_safe %></span>
    </p>
    <p class="has-text-left">
      <span class="has-text-grey"><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></span>
      <span>：</span>
      <span class="has-text-grey"><%= current_cart.overall_reduced_amount.to_money.format(html_wrap: true).html_safe %></span>
      <span class="weui-badge" data-controller="weui-dialog" data-weui-dialog-id-value="dialog" data-action="click->weui-dialog#toggle">优惠明细</span>
    </p>
  </div>
</div>
<div class="level-right mt-0 p-2">
  <% if @checked_ids.present? %>
    <%= link_to({ controller: 'orders', action: 'new' }, class: 'weui-btn weui-btn_mini weui-btn_primary') do %>
      <span>结算</span>
      <i class="fa-solid fa-angle-right"></i>
    <% end %>
  <% else %>
    <button class="weui-btn weui-btn_mini weui-btn_disabled">
      <span>结算</span>
      <i class="fa-solid fa-angle-right"></i>
    </button>
  <% end %>
</div>
