<div data-controller="weui-dialog" id="dialog">
  <div class="weui-half-screen-dialog" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">优惠明细</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:original_amount) %></label>
            <span class="weui-form-preview__value"><%= current_cart.original_amount %></span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></label>
            <span class="weui-form-preview__value has-text-danger"><%= current_cart.overall_reduced_amount %></span>
          </div>
          <% current_cart.trade_promotes.each do |trade_promote| %>
          <div class="weui-form-preview__item pl-4">
            <label class="weui-form-preview__label"><%= trade_promote.promote.name %></label>
            <span class="weui-form-preview__value"><%= trade_promote.amount %></span>
          </div>
          <% end %>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:amount) %></label>
            <span class="weui-form-preview__value"><%= current_cart.amount %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-half-screen-dialog__ft"></div>
  </div>
</div>
