<div data-controller="weui-dialog" id="dialog" class="weui-dialog__wrap">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">优惠明细</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <div class="weui-form-preview">
        <div class="weui-form-preview__bd">
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:original_amount) %></label>
            <span class="weui-form-preview__value has-text-danger"><%= current_cart.original_amount.to_money.format(html_wrap: true).html_safe %></span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></label>
            <span class="weui-form-preview__value has-text-danger"><%= current_cart.overall_reduced_amount.to_money.format(html_wrap: true).html_safe %></span>
          </div>
          <% current_cart.cart_promotes.each do |cart_promote| %>
          <div class="weui-form-preview__item pl-4" title="<%= cart_promote.id %>">
            <label class="weui-form-preview__label"><%= cart_promote.promote.name %></label>
            <span class="weui-form-preview__value has-text-grey"><%= cart_promote.amount.to_money.format(html_wrap: true).html_safe %></span>
          </div>
          <% end %>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:amount) %></label>
            <span class="weui-form-preview__value has-text-danger"><%= current_cart.amount.to_money.format(html_wrap: true).html_safe %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-half-screen-dialog__ft"></div>
  </div>
</div>
