<div class="weui-tabbar_fixed">
  <div class="weui-tabbar">
    <div class="weui-tabbar__item p-3">
      <div class="weui-tabbar__content is-size-7 is-flex-direction-column is-justify-content-center is-align-items-start">
        <p>
          <span class="has-text-grey"><%= Trade::Cart.human_attribute_name(:amount) %></span>
          <span>：￥</span>
          <span class="has-text-danger is-size-6"><%= current_cart.amount %></span>
        </p>
        <p>
          <span class="has-text-grey"><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></span>
          <span>：￥</span>
          <span class="has-text-grey"><%= current_cart.overall_reduced_amount %></span>
          <%= link_to '优惠明细', { action: 'promote' }, class: 'badge' %>
        </p>
      </div>
    </div>
    <div class="weui-tabbar__item">
    <% if @checked_ids.present? %>
      <%= link_to '结算', { controller: 'orders', action: 'new' }, class: 'weui-btn weui-btn_primary' %>
    <% else %>
      <button class="weui-btn weui-btn_primary weui-btn_disabled">结算</button>
    <% end %>
    </div>
  </div>
  <div class="weui-tabbar">
    <%= render 'tab_bar_item' %>
  </div>
</div>
