<%= render 'top_bar_left' do %>
  <span class="bar-title">
    <span class="mr-1"><%= t('.title') %></span>
    <% if @cart.member %>
      <span class="weui-badge weui-badge__primary">
        <i class="fa-solid fa-building-user"></i>
        <span><%= @cart.member.organ.name %></span>
      </span>
    <% end %>
    <% if @cart.aim != 'use' %>
      <span class="weui-badge">
        <i class="fa-solid fa-hand-holding-box"></i>
        <span><%= @cart.aim_i18n %></span>
      </span>
    <% end %>
  </span>
  <%= link_to({ action: 'admin' }) do %>
    <%= svg_tag 'ellipsis-vertical' %>
  <% end %>
<% end %>