<td colspan="2">
  <% if model.payment_strategy %>
    <div class="tags has-addons mt-1">
      <span class="tag is-danger"><%= model.payment_strategy.name %></span>
      <span class="tag"><%= model.payment_strategy.from_pay_i18n %></span>
    </div>
  <% end %>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td></td>
<td>
  <p><%# link_to model.user_name, { action: 'user', user_id: model.user_id } if model.user_id %></p>
  <p>
  <% if model&.member %>
    <span><%= model.member.name %></span>
    <span class="text-grey">（<%= model.member_organ.name %>）</span>
  <% end %>
  </p>
</td>
<td></td>
<td></td>
