<div class="thirteen wide column">

  <div class="ui top attached menu borderless">
    <div class="item"><strong>供应商管理</strong></div>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>供应商</th>
      <th>供应价格</th>
      <th>验证</th>
      <th>默认供应商</th>
      <th>Created At</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @good_providers.each do |good_provider| %>
      <tr>
        <td><%= good_provider.id %></td>
        <td><%= good_provider.provider.name %></td>
        <td><%= good_provider.export_price %></td>
        <td>
          <%= form_tag verify_admin_good_provider_path(good_provider.id), method: :patch do %>
            <span class="ui toggle checkbox">
              <label></label>
              <%= check_box_tag :verified, 1, good_provider.verified, onChange: 'this.form.submit()' %>
            </span>
          <% end %>
        </td>
        <td>
          <%= form_tag select_admin_good_provider_path(good_provider.id), method: :patch do %>
            <span class="<%= active_assert(good_provider.selected, expected: 'ui toggle disabled checkbox', unexpected: 'ui toggle checkbox') %>">
              <label><%= good_provider.selected %></label>
              <%= check_box_tag :selected, nil, good_provider.selected, onChange: 'this.form.submit()' %>
            </span>
          <% end %>
        </td>
        <td><%= good_provider.created_at.to_s(:admin) %></td>
        <td>
          <%= link_to '删除', admin_good_provider_path(good_provider), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @good_providers %>
</div>


