<div class="box as-bar">
  <% if current_state %>
    <%= link_to(current_state.referer, class: 'px-4') do %>
      <%= svg_tag 'angle-left' %>
    <% end %>
  <% else %>
    <%= link_to({ controller: 'space/admin/desks', action: 'all' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left' %>
    <% end %>
  <% end %>
  <div class="text-centered flex-grow-1">
    <p><%= @desk.name %></p>
    <p class="size-7 text-grey"><%= @desk.room.name %></p>
  </div>
  <i class="px-5"></i>
</div>
