<%= button_to({ action: 'edit' }, class: 'cell') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'trade/admin/promote_good_users', cart_id: model.id }, class: 'cell') do %>
  <%= svg_tag 'gift' %>
  <span><%= t('trade.admin.promote_good_users.index.title') %></span>
<% end %>
