<%= form_with theme: 'modal', model: @cart, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <%= f.collection_select :payment_strategy_id, @payment_strategies, :id, :name %>
    <%= f.number_field :deposit_ratio %>
  </section>
  <%= f.submit %>
<% end %>
