<td><%= model.user_id %></td>
<td><%= model.member_id %></td>
<td><%= model.item_amount %></td>
<td><%= model.overall_additional_amount %></td>
<td><%= model.overall_reduced_amount %></td>
<td><%= model.amount %></td>
