<td>
  <%= link_to({ action: 'show', id: model.id }) do %>
    <span><%= model.user.name.presence %></span>
    <span class="text-grey">（<%= model.user_id %>）</span>
  <% end %>
  <%= link_to({ user_id: model.user_id }, data: { show_target: 'item' }, class: 'visibility-hidden') do %>
    <i class="fa-solid fa-filter text-grey"></i>
  <% end %>
</td>
<td>
  <p><%= model.client_id %></p>
  <p><%= model.contact_id %></p>
</td>
<td>
  <p><%= model.good_type_i18n %></p>
</td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p><%= model.deposit_ratio %></p>
</td>
<td class="text-right">
  <p><%= model.amount.to_money.format.html_safe %></p>
</td>
<td class="text-centered"><%= link_to model.items.size, { action: 'show', id: model.id } %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'cart/promote_goods', cart_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-gift text-success"></i>
      <span class="ml-1"><%= t('.cart.promote_goods.index.title') %></span>
    <% end %>
  </div>
</td>