<th>
  <p><%= Trade::Cart.human_attribute_name(:user_id) %></p>
</th>
<th>
  <p><%= Trade::Cart.human_attribute_name(:client_id) %></p>
  <p><%= Trade::Cart.human_attribute_name(:contact_id) %></p>
</th>
<th>
  <p><%= Trade::Cart.human_attribute_name(:good_type) %></p>
</th>
<th>
  <p><%= Trade::Cart.human_attribute_name(:payment_strategy_id) %></p>
  <p><%= Trade::Cart.human_attribute_name(:deposit_ratio) %></p>
</th>
<th class="text-right">
  <p><%= Trade::Cart.human_attribute_name(:amount) %></p>
</th>
<th class="text-centered"><%= Trade::Cart.human_attribute_name(:items_count) %></th>
<th></th>