<tr>
  <td><%= order.buyer_id %></td>
  <td><%= order.buyer_type %></td>
  <td><%= order.buyer.name %></td>
  <td><%= order.charger&.name %></td>
  <td><%= order.count_id %></td>
  <td><%= order.sum_amount %></td>
  <td><%= link_to '详细', orders_admin_buyers_path(buyer_id: order.buyer_id, buyer_type: order.buyer_type) %></td>
</tr>

