<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Buyers Overview with orders</strong></div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <p>
      <span>State:</span>
      <%= link_to 'All', filter_params(except: [:payment_status]), class: active_params(payment_status: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    </p>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>类型</th>
      <th>ID</th>
      <th>名称</th>
      <th>Credit Terms(Period)</th>
      <th>负责人</th>
      <th>逾期数量</th>
      <th>逾期日期</th>
      <th>逾期金额</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.buyer_type %></td>
        <td><%= order.buyer_id %></td>
        <td><%= order.buyer.name %></td>
        <td>
          <%= order.payment_strategy.strategy %>
          <% if order.payment_strategy.credit? %>
          (<%= order.payment_strategy.period %>)
          <% end %>
        </td>
        <td><%= order.charger&.name %></td>
        <td><%= order.count_id %></td>
        <td><%= order.overdue_date %></td>
        <td><%= order.sum_amount %></td>
        <td><%= link_to '详细', orders_admin_buyers_path(buyer_id: order.buyer_id, buyer_type: order.buyer_type) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @orders %>
</div>
