<th>
  <p><%= Trade::Order.human_attribute_name(:uuid) %></p>
  <p><%= Trade::Order.human_attribute_name(:created_at) %></p>
</th>
<th><%= Trade::Order.human_attribute_name(:amount) %></th>
<th><%= Trade::Order.human_attribute_name(:payment_status) %></th>
<th><%= Trade::Order.human_attribute_name(:note) %></th>
<th>
  <p><%= Trade::Order.human_attribute_name(:aim) %></p>
  <p><%= Trade::Order.human_attribute_name(:state) %></p>
</th>
