<th></th>
<th><%= Trade::Cart.human_attribute_name(:id) %></th>
<th><%= Trade::Cart.human_attribute_name(:user_id) %></th>
<th><%= Trade::Cart.human_attribute_name(:member_organ_id) %></th>
<th><%= Trade::Cart.human_attribute_name(:member_id) %></th>
<th><%= Trade::Cart.human_attribute_name(:organ_id) %></th>
<th><%= Trade::Cart.human_attribute_name(:good_type) %></th>
<th><%= Trade::Cart.human_attribute_name(:aim) %></th>
<th class="has-text-right">
  <p><%= Trade::Cart.human_attribute_name(:amount) %></p>
</th>
<th class="has-text-centered"><%= Trade::Cart.human_attribute_name(:items_count) %></th>
