<div class="box as-bar">
  <%= link_to({ controller: '/ship/box_specifications' }, class: 'px-4') do %>
    <%= svg_tag 'angle-left' %>
  <% end %>
  <span class="weui-title">
    <span class="mr-1"><%= t('.title') %></span>
    <%= link_to(action: 'list', return_url: url_for) do %>
      <% if current_cart.member %>
        <span class="weui-badge weui-badge__primary">
          <i class="fa-solid fa-building-user"></i>
          <span><%= current_cart.member.organ.name %></span>
        </span>
      <% else %>
        <span class="weui-badge">
           <%= svg_tag 'user' %>
          <span>个人版</span>
        </span>
      <% end %>
    <% end %>
  </span>
  <i style="width: 3rem"></i>
</div>
