<td>
  <div class="is-several">
    <span style="width: <%= model.member_organ.depth * 1.43 %>em; display: inline-block"></span>
    <% if !model.member_organ.leaf? %>
      <i class="fa-solid fa-caret-down fa-fw" data-action="click->tree#collapse" style="cursor: pointer"></i>
    <% else %>
      <i class="fa-solid fa-minus fa-fw"></i>
    <% end %>
    <%= image_tag model.member_organ.logo.variant(resize_to_limit: [30, 30]), class: 'image is-24x24' if model.member_organ.logo.attached? %>
    <span><%= model.member_organ.name %></span>
    <% if model.member_organ.name_short.present? %>
      <span>（<%= model.member_organ.name_short %>）</span>
    <% end %>
  </div>
</td>
<td><%= model.member_organ.code %></td>
<td>
  <p><%= model.member_organ.area&.full_name %></p>
  <p><%= model.member_organ.address %></p>
</td>

