<% if @wallet.wallet_template_id %>
  <li><%= link_to t('.wallet_templates.index.title'), { controller: 'wallet_templates' } %></li>
  <li><span class="px-3"><%= @wallet.wallet_template.name %></span></li>
  <li><%= link_to t('.wallets.index.title'), { controller: 'wallets', anchor: "tr_#{@wallet.id}" } %></li>
<% else %>
  <li><%= link_to t('.lawful_wallets.index.title'), { controller: 'lawful_wallets', anchor: "tr_#{@wallet.id}" } %></li>
<% end %>
<li class="is-active"><%= t('.title') %></li>
