<td><%= model.title %></td>
<td><%= model.tag_str %></td>
<td><%= model.amount.to_money.format(html_wrap: true).html_safe %></td>
<td>
  <p><%= model.source_type %></p>
  <p><%= model.source_id %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
