<td><%= model.title %></td>
<td><%= model.tag_str %></td>
<td>
  <span><%= model.amount.to_fs(:rounded, precision: model.wallet.wallet_template.digit) %></span>
  <span><%= model.wallet.wallet_template.unit %></span>
</td>
<td>
  <p><%= model.source_type %></p>
  <p><%= model.source_id %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
