<%= form_with theme: 'modal', model: @wallet_advance, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object if f.object.errors.present? %>
    <%= f.text_area :note %>
  </section>
  <%= f.submit %>
<% end %>
