<%= search_form_with css: { wrapper_all: 'inline field', wrapper_input: 'field', wrapper_submit: 'field', submit: 'ui green button'} do |f| %>
  <div class="fields">
  <%= f.text_field :name, placeholder: 'Input Name' %>
  <%= f.text_field :mobile, placeholder: 'Input Mobile' %>
  <%= f.text_field :email, placeholder: 'abc@123.com' %>
  <%= f.submit 'Search' %>
  </div>
<% end %>


