<div>

  <div class="ui top attached menu borderless">
    <div class="header item">Payment Methods List</div>
    <%= link_to 'Unverified', unverified_admin_payment_methods_path, class: 'item' %>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <%= link_to 'Add New', new_admin_payment_method_path, class: 'ui teal button' %>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Account Name</th>
      <th>Account Num</th>
      <th>Bank</th>
      <th>Related Buyers</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td><%= payment_method.id %></td>
        <td><%= payment_method.account_name %></td>
        <td><%= payment_method.account_num %></td>
        <td><%= payment_method.bank %></td>
        <td>
          <% payment_method.buyers.each do |buyer| %>
            <p><%= buyer.name %></p>
          <% end %>
        </td>
        <td>
          <%= link_to '关联买家', new_admin_payment_method_reference_path(payment_method), class: 'ui mini red button', remote: true %>
          <% if payment_method.repeat_results.blank? %>
            <%= form_tag verify_admin_payment_method_path(payment_method), method: :patch do %>
              <span class="ui toggle checkbox">
                <label></label>
                <%= check_box_tag :verified, 1, payment_method.verified, onChange: 'this.form.submit()', id: nil %>
              </span>
            <% end %>
          <% end %>
          <%= link_to 'Edit', edit_admin_payment_method_path(payment_method) %>
        </td>
        <td><%= link_to 'Destroy', admin_payment_method_path(payment_method), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% payment_method.repeat_results.each do |result| %>
        <tr class="warning">
          <td><%= result.id %></td>
          <td><%= result.account_name %></td>
          <td><%= result.account_num %></td>
          <td><%= result.bank %></td>
          <td>
            <% result.buyers.each do |buyer| %>
              <p><%= buyer.name %></p>
            <% end %>
          </td>
          <td>
            <%= link_to 'Merge to This', merge_from_admin_payment_method_path(result, other_id: payment_method.id), method: :patch %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <%= paginate @payment_methods %>
</div>
