<div class="ui grid">
  <div class="three wide column">
    <%= render 'my/base/nav' %>
  </div>

  <div class="thirteen wide column">
    <div class="ui segment">
      <h1>Addresses</h1>
      <%= link_to 'New Address', new_my_address_path, remote: true, class: 'ui mini button' %>
    </div>

    <table class="ui table">
      <thead>
      <tr>
        <th>联系人</th>
        <th>联系方式</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.contact_person %></td>
          <td><%= address.tel %></td>
          <td>
            <%= address.area.nation %>
            <%= address.area.province %>
            <%= address.area.city %>
          </td>
          <td><%= address.address %></td>
          <td><%= link_to 'Show', address_path(address) %></td>
          <td><%= link_to 'Edit', edit_my_address_path(address), remote: true %></td>
          <td><%= link_to 'Destroy', my_address_path(address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>

