<%= form_with theme: 'modal', model: @payment, scope: :payment, url: { controller: 'scan_payments', action: 'create' } do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= f.hidden_field :type %>
    <%= f.fields :payment_orders do |ef| %>
      <%= ef.number_field :order_amount %>
      <%= ef.hidden_field :state %>
      <%= ef.hidden_field :order_id %>
    <% end %>
  </section>
  <footer class="modal-card-foot">
    <%= f.submit %>
  </footer>
<% end %>
