<tr id="serve_<%= @cart_item_serve.serve_id %>">
  <td>
    <%= form_with model: @cart_item_serve, url: admin_cart_item_cart_item_serves_path(@cart_item), method: :post, id: "cart_item_serve_new_#{@cart_item_serve.serve_id}" %>
    <%= @cart_item_serve.serve.name %>
  </td>
  <td><%= @serve_charge.default_subtotal %></td>
  <td>
    <%= text_field_tag 'cart_item_serve[price]', @cart_item_serve.price, class: 'three wide field', form: "cart_item_serve_new_#{@cart_item_serve.serve_id}" %>
    <%= hidden_field_tag 'cart_item_serve[serve_id]', @cart_item_serve.serve_id, form: "cart_item_serve_new_#{@cart_item_serve.serve_id}" %>
  </td>
  <td>
    <%= submit_tag 'Save', class: 'ui green button', form: "cart_item_serve_new_#{@cart_item_serve.serve_id}" %>
    <a class="ui grey button" onclick="removeForm()">取消</a>
  </td>
</tr>
