<tr id="serve_<%= serve_charge.serve_id %>">
  <td><%= serve_charge.item.name %></td>
  <td><%= serve_charge.default_subtotal %></td>
  <td><%= serve_charge.subtotal %></td>
  <td>
    <%= link_to 'edit', new_admin_cart_item_cart_item_serve_path(serve_id: serve_charge.serve_id), remote: true, class: 'ui label' %>
    <% if serve_charge.cart_item_serve  %>
      <%= link_to 'remove', admin_cart_item_cart_item_serve_path(@cart_item, serve_charge.cart_item_serve.id), method: :delete, remote: true, class: 'ui label' %>
    <% elsif @cart_item_serve&.persisted? %>
      <%= link_to 'remove', admin_cart_item_cart_item_serve_path(@cart_item, @cart_item_serve.id), method: :delete, remote: true, class: 'ui label' %>
    <% end %>
  </td>
</tr>


