<td><%= model.title %></td>
<td><%= model.years %></td>
<td><%= model.months %></td>
<td><%= model.days %></td>
<td><%= model.price %></td>
<td><%= model.note %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
