<td>
  <i class="child icon<%= model.myself ? ' green' : '' %>"></i>
  <%= link_to model.good.name, { action: 'show', id: model.id } %>
</td>
<td><%= model.status_i18n %></td>
<td>
  <%= render partial: 'good_price', locals: { model: model } %>
</td>
<td><%= model.number %></td>
<td id="retail_price_<%= model.id %>">
  <%= render partial: 'retail_price', locals: { model: model } %>
</td>
<td id="single_price_<%= model.id %>">
  <%= render partial: 'single_price', locals: { model: model } %>
</td>
<td id="order_price_<%= model.id %>">
  <%# render partial: 'order_price', locals: { model: model } %>
</td>
