<div class="row">

  <div class="col-md-2">
    <%= render 'nav' %>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to '新建地区', new_admin_area_path %></div>
    </div>

    <table class="table">
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @areas.each do |area| %>
        <tr>
          <td><%= area.name %></td>
          <td><%= link_to 'Show', admin_area_path(area) %></td>
          <td><%= link_to 'Edit', edit_admin_area_path(area) %></td>
          <td><%= link_to 'Destroy', admin_area_path(area), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>



  </div>

</div>