<th>
  <p><%= Trade::WalletTemplate.human_attribute_name(:name) %></p>
  <p><%= Trade::WalletTemplate.human_attribute_name(:appid) %></p>
</th>
<th><%= Trade::WalletTemplate.human_attribute_name(:unit) %></th>
<th><%= Trade::WalletTemplate.human_attribute_name(:digit) %></th>
<th><%= Trade::WalletTemplate.human_attribute_name(:enabled) %></th>
<th><%= Trade::WalletTemplate.human_attribute_name(:wallets_count) %></th>
