<th><%= check_box_tag :all %></th>
<th>
  <p><%= Trade::TradeItem.human_attribute_name('good/name') %></p>
  <p><%= Trade::TradeItem.human_attribute_name('good/quantity') %></p>
  <p><%= Trade::TradeItem.human_attribute_name('good/unit') %></p>
</th>
<th><%= Trade::TradeItem.human_attribute_name(:status) %></th>
<th>
  <p><%= Trade::TradeItem.human_attribute_name(:single_price) %></p>
  <p class="has-text-grey"><%= Trade::TradeItem.human_attribute_name(:number) %></p>
</th>
<th>
  <p><%= Trade::TradeItem.human_attribute_name(:retail_price) %></p>
  <p><%= Trade::TradeItem.human_attribute_name(:wholesale_price) %></p>
</th>
<th>
  <p><%= Trade::TradeItem.human_attribute_name(:original_amount) %></p>
  <p class="has-text-danger"><%= Trade::TradeItem.human_attribute_name(:reduced_amount) %></p>
  <p><%= Trade::TradeItem.human_attribute_name(:additional_amount) %></p>
</th>
<th><%= Trade::TradeItem.human_attribute_name(:amount) %></th>
