<td>
  <%= form_with theme: nil, model: model, url: { controller: 'items', action: 'toggle', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.hidden_field :current_cart_id, value: @cart.id %>
    <%= f.check_box :status, { checked: model.status_checked?, data: { action: 'click->input#form' }, id: nil }, id: model.id %>
  <% end %>
</td>
<td><%= model.good_name %></td>
<td><%= model.single_price.to_money.format.html_safe %></td>
<td>
  <%= render partial: 'cart_item_show', locals: { item: model, cart: @cart, item_con: "trade/#{params[:namespace]}/items" } %>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
