<tr>
  <td class="has-text-right"><%= CardPurchase.human_attribute_name(:years) %></td>
  <td><%= @card_purchase.years %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardPurchase.human_attribute_name(:months) %></td>
  <td><%= @card_purchase.months %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardPurchase.human_attribute_name(:days) %></td>
  <td><%= @card_purchase.days %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardPurchase.human_attribute_name(:price) %></td>
  <td><%= @card_purchase.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardPurchase.human_attribute_name(:note) %></td>
  <td><%= @card_purchase.note %></td>
</tr>
