<div class="ui modal" id="payment_logs">
  <i class="close icon"></i>
  <div class="header">
    <span style="color: #0d71bb">Payment Logs</span>
  </div>
  <div class="content">
    <table class="ui basic red table">
      <thead>
      <tr>
        <th>Payment ID</th>
        <th><%= Payment.human_attribute_name(:type) %></th>
        <th><%= PaymentOrder.human_attribute_name(:order_amount) %></th>
        <th><%= PaymentOrder.human_attribute_name(:check_amount) %></th>
        <th><%= PaymentOrder.human_attribute_name(:created_at) %></th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
        <% @order.payment_orders.each do |payment_order| %>
        <tr id="checked_<%= payment_order.id %>">
          <td style="color: #999;"><%= payment_order.payment_id %></td>
          <td><%= payment_order.payment.type %></td>
          <td><%= payment_order.order_amount %></td>
          <td><%= payment_order.check_amount.to_money(payment_order.payment.currency).format %></td>
          <td><%= payment_order.created_at.to_s %></td>
          <td>
            <%= link_to '退款', new_admin_payment_refund_path(payment_order.payment_id, order_id: payment_order.order_id), remote: true %>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="5"></th>
        <th class="center aligned">
          预核销合计：<span id="checked_amount"><%= @order.payment_orders.sum(:check_amount) %></span>
        </th>
        <th colspan="2"></th>
      </tr>
      </tfoot>
    </table>

  </div>
</div>
