<th><%= CardLog.human_attribute_name(:title) %></th>
<th><%= CardLog.human_attribute_name(:tag_str) %></th>
<th>
  <p><%= CardLog.human_attribute_name(:source_type) %></p>
  <p><%= CardLog.human_attribute_name(:source_id) %></p>
</th>
<th><%= CardLog.human_attribute_name(:amount) %></th>
<th><%= CardLog.human_attribute_name(:created_at) %></th>
<th></th>
