<tr>
  <td class="has-text-right"><%= CardLog.human_attribute_name(:title) %></td>
  <td><%= @card_log.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardLog.human_attribute_name(:tag_str) %></td>
  <td><%= @card_log.tag_str %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardLog.human_attribute_name(:source_type) %></td>
  <td><%= @card_log.source_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardLog.human_attribute_name(:source_id) %></td>
  <td><%= @card_log.source_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardLog.human_attribute_name(:amount) %></td>
  <td><%= @card_log.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardLog.human_attribute_name(:created_at) %></td>
  <td><%= @card_log.created_at %></td>
</tr>
