<td>
  <p><%= model.account_bank %></p>
  <p><%= model.account_name %></p>
  <p><%= model.account_num %></p>
</td>
<td><%= model.amount %></td>
<td>
  <%= link_to model.income_amount, { controller: 'wallet_advances', wallet_id: model.id } %>
</td>
<td>
  <%= link_to model.expense_amount, { controller: 'payouts', wallet_id: model.id } %>
</td>
<td>
  <p><%= link_to 'incomes', { controller: 'wallet_logs', wallet_id: model.id } %></p>
</td>
