<td><%= model.amount %></td>
<td>
  <span><%= model.income_amount %></span>
  <%= link_to({ controller: 'wallet_advances', wallet_id: model.id }, aria: { label: t('trade.admin.wallet_advances.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-gem"></i>
  <% end %>
</td>
<td>
  <span><%= model.expense_amount %></span>
  <%= link_to({ controller: 'wallet_payments', wallet_id: model.id }, aria: { label: t('trade.admin.wallet_payments.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-credit-card"></i>
  <% end %>
  <%= link_to({ controller: 'payouts', wallet_id: model.id }) do %>
    <i class="fa-light fa-wallet"></i>
  <% end %>
</td>
<td>
  <p><%= link_to 'incomes', { controller: 'wallet_logs', wallet_id: model.id } %></p>
</td>
<td><%= model.default %></td>
<td>
  <p><%= model.account_bank %></p>
  <p><%= model.account_name %></p>
  <p><%= model.account_number %></p>
</td>
