<th><%= Trade::WalletTemplate.human_attribute_name(:name) %></th>
<th>
  <p class="has-text-centered"><%= Trade::WalletTemplate.human_attribute_name(:unit_kind) %></p>
  <p class="has-text-centered"><%= Trade::WalletTemplate.human_attribute_name(:unit) %></p>
</th>
<th><%= Trade::WalletTemplate.human_attribute_name(:digit) %></th>
<th><%= Trade::WalletTemplate.human_attribute_name(:enabled) %></th>
<th><%= Trade::WalletTemplate.human_attribute_name(:wallets_count) %></th>
