<div class="fields">
  <div class="field">
    <%= label :nation, 'Nation' %>
    <%= f.select :nation, options_for_select(Area.all_nations), { on: { wrapper_all: false, wrapper_input: false }, label: false }, { class: 'ui search selection dropdown' } %>
  </div>
  <div class="field">
    <%= label :province, 'Province' %>
    <%= f.select :province, options_for_select([]), { on: { wrapper_all: false, wrapper_input: false }, label: false }, { class: 'ui search selection dropdown' } %>
  </div>
  <div class="field">
    <%= label :city, 'City' %>
    <%= f.select :city, options_for_select([]), { on: { wrapper_all: false, wrapper_input: false }, label: false }, { class: 'ui search selection dropdown' } %>
  </div>
</div>
<%= f.hidden_field :area_id %>
<%= f.hidden_field :user_id %>
<%= f.select :address_type, options_for_select(Address.options_i18n(:address_type)) %>
<%= f.select :proxy_shipment, options_for_select(Address.options_i18n(:proxy_shipment)) %>
<%= f.text_field :contact_person %>
<%= f.text_field :tel %>
<%= f.email_field :email %>
<%= f.text_field :address %>
<%= f.text_field :postcode %>
<%= f.submit %>
