<div class="breadcrumb has-succeeds-separator">
  <ul>
    <% if params[:maintain_id] %>
      <li><%= link_to t('crm.admin.maintains.index.title'), { controller: 'crm/admin/maintains' } %></li>
      <li><span class="px-3"><%= @maintain.client.name %></span></li>
    <% end %>
    <li><%= link_to t('trade.admin.wallet_templates.index.title'), { controller: 'wallet_templates' } %></li>
    <li><%= link_to t('trade.admin.wallets.index.title'), { controller: 'wallets', wallet_template_id: @wallet.wallet_template_id, id: @wallet.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
