<%= form_with theme: 'modal', model: @payment, scope: :payment, url: { controller: 'payments', action: 'confirm', desk_id: params[:desk_id] } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= f.hidden_field :type %>
    <%= f.fields :payment_orders do |ef| %>
      <div class="field-label is-normal">
        <label class="label family-monospace text-grey display-inline"><%= ef.object.order.uuid %></label>
        <span class="size-7 text-grey">第 <%= ef.index + 1 %> 次下单</span>
      </div>
      <%= ef.number_field :order_amount, readonly: true, label: nil %>
      <%= ef.hidden_field :state %>
      <%= ef.hidden_field :order_id %>
    <% end %>
    <%= f.number_field :adjust_amount %>
    <%= f.file_field :proof %>
  </section>
  <%= f.submit %>
<% end %>
