<%= form_with theme: 'modal', model: @payment, scope: :payment, url: { controller: 'payments', action: 'confirm', desk_id: params[:desk_id] } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= f.hidden_field :type %>
    <%= f.fields :payment_orders do |ef| %>
      <%= ef.number_field :order_amount, readonly: true %>
      <%= ef.hidden_field :state %>
      <%= ef.hidden_field :order_id %>
    <% end %>
    <%= f.file_field :proof %>
  </section>
  <%= f.submit %>
<% end %>
