<td>
  <p class="size-0_9 family-monospace"><%= link_to model.uuid, { action: 'show', id: model.id } %></p>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td>
  <span><%= model.payment_status_i18n %></span>
  <%= button_to({ action: 'payment_types', id: model.id }, class: 'button is-small') do %>
    <span><%= t('.payment_types.title') %></span>
  <% end if model.can_pay? %>
</td>
<td><time data-controller="time" data-format="human" class="text-grey"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <span><%= model.note %></span>
  <%= button_to({ action: 'edit', id: model.id }, data: { show_target: 'item' }, aria: { label: t('.edit.title') }, class: 'pl-1 visibility-hidden') do %>
    <i class="fa-solid fa-pencil text-grey"></i>
  <% end %>
</td>
