<%= link_to(item.good, class: 'weui-media-box weui-media-box_appmsg', text: true) do %>
  <div class="weui-media-box__hd" data-controller="empty">
    <%= image_tag item.good.logo, class: 'weui-media-box__thumb' if item.good && item.good.logo.attached? %>
  </div>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title">
      <span><%= item.good_name %></span>
      <% if ['rent', 'invest'].include?(item.aim) %>
        <span class="tag is-danger"><%= item.aim_i18n %></span>
      <% end %>
    </h4>
    <p class="weui-media-box__desc">
    <% if item.aim_rent? %>
      <span><%= item.amount.to_money.format(html_wrap: true).html_safe %></span>
    <% else %>
      <span><%= item.single_price.to_money.format(html_wrap: true).html_safe %></span>
      <span class="has-text-grey-lighter">x</span>
      <span class="is-size-7"><%= item.number %></span>
    <% end %>
    </p>
    <% if item.respond_to?(:produce_plan) && item.produce_plan %>
      <p class="weui-media-box__desc">提货：<%= item.produce_plan.produce_on %></p>
    <% end %>
  </div>
<% end %>
