<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd" data-controller="empty">
  <%= link_to(item.good, text: true) do %>
    <%= image_tag item.good.logo, class: 'weui-media-box__thumb' if item.good && item.good.logo.attached? %>
  <% end %>
  </div>
  <div class="weui-media-box__bd">
    <%= link_to(item.good, text: true, class: 'weui-media-box__title') do %>
      <span><%= item.good_name %></span>
      <% if ['rent', 'invest'].include?(item.aim) %>
        <span class="tag is-danger"><%= item.aim_i18n %></span>
      <% end %>
    <% end %>
    <p class="weui-media-box__desc">
    <% if item.aim_rent? %>
      <span><%= item.amount.to_money.format(html_wrap: true).html_safe %></span>
    <% else %>
      <span><%= item.single_price.to_money.format(html_wrap: true).html_safe %></span>
      <span class="has-text-grey-lighter">x</span>
      <span class="is-size-7"><%= item.number %></span>
    <% end %>
    </p>
    <% if item.respond_to?(:produce_plan) && item.produce_plan %>
      <p class="weui-media-box__desc">提货：<%= item.produce_plan.produce_on %></p>
    <% end %>
  </div>
  <div class="weui-media-box__ft px-3">
    <%= link_to({ controller: 'bench/my/facilitatings', item_id: item.id }, class: 'button is-primary') do %>
      <i></i>
      <span><%= t('bench.my.facilitatings.index.title') %></span>
    <% end if item.good_type == 'Bench::Facilitate' && item.respond_to?(:facilitatings) %>
    <%= link_to({ controller: 'packageds', item_id: item.id }, class: 'button is-primary') do %>
      <i></i>
      <span><%= t('trade.my.packageds.index.title') %></span>
    <% end if ['Ship::BoxHost'].include?(item.good_type) %>
  </div>
</div>
