<label class="weui-cell weui-cell_active weui-cells_checkbox">
  <span class="weui-cell__bd has-v-centered">
    <span class="is-several">
      <span>钱包</span>
    </span>
    <span class="tags has-addons is-tag-price pl-2">
      <span class="tag">余</span>
      <span class="tag is-success"><%= payment_order.payment.wallet.amount.to_money.format.html_safe %></span>
    </span>
  </span>
  <span class="weui-cell__ft has-v-centered" data-controller="input">
    <span class="has-text-danger"><%= payment_order.payment_amount.to_money.format.html_safe %></span>
    <%= form_with theme: nil, model: payment_order.payment, scope: 'payment', url: { action: 'payment_pending' } do |f| %>
      <%= f.hidden_field :wallet_id %>
      <%= f.hidden_field :type %>
      <%= f.fields :payment_orders do |ef| %>
        <%= ef.hidden_field :order_id %>
        <%= ef.hidden_field :payment_amount %>
        <%= ef.hidden_field :order_amount %>
        <%= ef.hidden_field :state, value: ef.object.state_init? ? 'pending' : 'init' %>
        <%= f.check_box 'xx', checked: ef.object.state_pending?, class: 'weui-check', data: { action: 'input#form' } %>
      <% end %>
      <span class="weui-icon-checked"></span>
    <% end %>
  </span>
</label>
