<div class="weui-panel">
  <%= render partial: 'order_overview', locals: { model: model } %>
  <div class="weui-panel__bd">
  <% if model.from_address.present? %>
    <%= render partial: 'ship_info', locals: { model: model } %>
  <% else %>
    <%= render partial: 'item', collection: model.items, as: :item, locals: { model: model } %>
  <% end %>
  </div>
  <div class="weui-panel__ft">
    <%= link_to({ action: 'show', id: model.id }, class: 'weui-cell weui-cell_link') do %>
      <div class="weui-cell__bd"></div>
      <div class="weui-cell__ft">
        <span class="is-size-7">
          <span class="has-text-grey">总价：</span>
          <span class="has-text-danger"><%= model.amount.to_money.format(html_wrap: true).html_safe %></span>
        </span>
        <span class="pl-2 is-size-7">
          <span>共</span>
          <span><%= model.items_count %></span>
          <span>份</span>
        </span>
      </div>
    <% end %>
    <div class="is-flex is-justify-content-flex-end has-border-top py-2">
      <%= button_to({ action: 'cancel', id: model.id }, method: :patch, class: 'weui-btn weui-btn_mini weui-btn_default mx-2', form: { class: '' }) do %>
        <span>取消订单</span>
      <% end if model.can_cancel? %>
      <%= link_to({ action: 'show', id: model.id }, class: 'weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea mx-2') do %>
        <span>售后</span>
      <% end if model.all_paid? %>
      <%= link_to({ action: 'payment_types', id: model.id }, class: 'weui-btn weui-btn_mini weui-btn_primary mx-2') do %>
        <span>去支付</span>
      <% end if model.can_pay? %>
    </div>
  </div>
</div>
