<div class="weui-panel">
  <div class="weui-panel__hd has-text-weight-normal is-flex is-justify-content-space-between">
    <time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time>
    <span><%= model.payment_status_i18n %></span>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'trade_item', collection: model.trade_items, as: :trade_item, locals: { model: model } %>
  </div>
  <div class="weui-panel__ft has-border-top">
    <div class="level m-4">
      <ul class="weui-media-box__info m-0">
        <li class="weui-media-box__info__meta">
          <span>总价：</span>
          <span><%= model.amount.to_money.format(html_wrap: true).html_safe %></span>
        </li>
        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
          <span>共</span>
          <span><%= model.trade_items_count %></span>
          <span>份</span>
        </li>
      </ul>
    </div>
    <div class="weui-cell weui-cell_link">
      <div class="weui-cell__bd"></div>
      <div class="weui-cell__ft is-flex">
        <%= button_to({ action: 'cancel', id: model.id }, method: :patch, class: 'weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea ml-2', form: { class: '' }) do %>
          <span>取消订单</span>
        <% end if model.can_cancel? %>
        <%= link_to({ action: 'show', id: model.id }, class: 'weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea ml-2') do %>
          <span>售后</span>
        <% end if model.all_paid? %>
        <%= link_to({ action: 'payment_types', id: model.id }, class: 'weui-btn weui-btn_mini weui-btn_primary weui-wa-hotarea ml-2') do %>
          <span>去支付</span>
        <% end if model.can_pay? %>
      </div>
    </div>
  </div>
</div>
