<div class="weui-panel">
  <%= render partial: 'order_overview', locals: { model: model } %>
  <div class="weui-panel__bd">
  <% if model.from_address.present? %>
    <%= render partial: 'ship_info', locals: { model: model } %>
  <% else %>
  <% model.items.each do |item| %>
    <% if item.aim_rent? %>
      <%= render partial: 'rent_item', locals: { item: item, model: model } %>
    <% else %>
      <%= render partial: 'item', locals: { item: item, model: model } %>
    <% end %>
  <% end %>
  <% end %>
  </div>
  <div class="weui-panel__ft">
    <%= link_to({ action: 'show', id: model.id }, class: 'weui-cell weui-cell_link') do %>
      <div class="weui-cell__bd">

      </div>
      <div class="weui-cell__ft">
        <span class="is-size-7">
          <span class="has-text-grey">总价：</span>
          <span class="has-text-danger"><%= model.amount.to_money.format.html_safe %></span>
        </span>
        <span class="pl-2 is-size-7">
          <span>共</span>
          <span><%= model.items_count %></span>
          <span>份</span>
        </span>
      </div>
    <% end %>
    <div class="buttons are-small is-flex-end has-border-top py-2">
      <%= button_to({ action: 'cancel', id: model.id }, method: :patch, class: 'button is-outlined is-default', form: { class: '' }) do %>
        <span>取消订单</span>
      <% end if model.can_cancel? %>
      <%= link_to({ action: 'show', id: model.id }, class: 'button is-outlined is-default') do %>
        <span>售后</span>
      <% end if model.all_paid? %>
      <%= link_to({ action: 'payment_types', id: model.id }, class: 'button is-outlined is-danger') do %>
        <span>去支付</span>
      <% end if model.can_pay? %>
    </div>
  </div>
</div>
