<div class="weui-form-preview is-box mt-3">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:amount) %></label>
      <span class="weui-form-preview__value"><%= @order.amount.to_money.format.html_safe %></span>
    </div>
    <% if @order.advance_amount.to_d > 0 %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:advance_amount) %></label>
        <span class="weui-form-preview__value"><%= @order.advance_amount.to_money.format.html_safe %></span>
      </div>
    <% end %>
    <% if @order.received_amount.to_d > 0 %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:received_amount) %></label>
        <span class="weui-form-preview__value"><%= @order.received_amount.to_money.format.html_safe %></span>
      </div>
    <% end %>  
    <% @order.payment_orders.select(&->(i){ i.persisted? }).each do |payment_order| %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label pl-4"><%= payment_order.payment.type_i18n %></label>
        <span class="weui-form-preview__value">
          <span class="tag"><%= payment_order.state_i18n %></span>
          <span><%= payment_order.order_amount.to_money.format.html_safe %></span>
        </span>
      </div>
    <% end %>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label has-text-danger"><%= Trade::Order.human_attribute_name(:unreceived_amount) %></label>
      <span class="weui-form-preview__value has-text-danger has-text-weight-bold"><%= @order.unreceived_amount.to_money.format.html_safe %></span>
    </div>
    <% if @order.payment_strategy %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Trade::Order.human_attribute_name(:payment_strategy_id) %></label>
        <span class="weui-form-preview__value"><%= @order.payment_strategy.name %></span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Trade::Cart.human_attribute_name(:deposit_ratio) %></label>
        <span class="weui-form-preview__value"><%= @order.current_cart.deposit_ratio_str %></span>
      </div>
    <% end %>
  </div>
</div>
