<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd" data-controller="empty">
  <%= link_to(item.good, text: true) do %>
    <%= image_tag item.good.logo, class: 'weui-media-box__thumb' if item.good && item.good.logo.attached? %>
  <% end %>
  </div>
  <div class="weui-media-box__bd">
    <%= link_to(item.good, text: true, class: 'weui-media-box__title') do %>
      <span><%= item.good_name %></span>
      <span class="has-text-grey">x</span>
      <span class="has-text-grey-dark"><%= item.number %></span>
    <% end %>
    <div class="pt-2 is-size-0_9">
      <p>
        <span class="has-text-grey">起租：</span>
        <time data-controller="time" data-format="human" data-value="<%= item.rent_start_at&.to_fs(:iso8601) %>"><%= item.rent_start_at&.to_fs(:human) %></time>
      </p>
      <% if item.rent_finish_at %>
        <p>
          <span class="has-text-grey">截止：</span>
          <time data-controller="time" data-format="human"><%= item.rent_finish_at.to_fs(:iso8601) %></time>
        </p>
      <% elsif item.rent_start_at %>
        <p>
          <span class="has-text-grey">已租：</span>
          <time data-controller="count-up" data-count-up-time-value="<%= item.rent_start_at.to_fs(:iso8601) %>" class="has-text-mono has-text-danger"><%= exact_distance_time(item.rent_start_at, Time.current) %></time>
        </p>
      <% end %>
      <p>
        <span class="has-text-grey">计费：</span>
        <span><%= item.amount.to_money.format.html_safe %></span>
      </p>
    </div>
  </div>
  <div class="weui-media-box__ft px-3">
    <%= button_to({ controller: 'items', action: 'finish', id: item.id }, class: 'button is-small is-default') do %>
      <i></i>
      <span><%= t('trade.my.items.finish.title') %></span>
    <% end if item.rent_finish_at.blank? %>
  </div>
</div>
