<div class="level is-mobile justify-content-space-around align-content-center">
  <div class="level-item has-text-centered my-1">
    <div>
      <p class="heading"><%= model.from_address.area.full_name %></p>
      <p class=""><%= model.from_address.contact %></p>
    </div>
  </div>
  <div class="level-item has-text-centered my-1">
    <div>
      <p class="heading mb-0"><i class="fa-solid fa-right-long fa-2x has-text-danger"></i></p>
      <p class="size-7"><%= model.payment_status_i18n %></p>
    </div>
  </div>
  <div class="level-item has-text-centered my-1">
    <div>
      <p class="heading"><%= model.address.area.full_name %></p>
      <p class=""><%= model.address.contact %></p>
    </div>
  </div>
</div>
