<label class="weui-cell weui-cell_active weui-cells_checkbox">
  <span class="weui-cell__bd is-flex is-align-items-center">
    <span class="is-several">
      <%= image_tag payment_order.payment.wallet.wallet_template.logo, class: 'image is-24x24' if payment_order.payment.wallet.wallet_template.logo.attached? %>
      <span><%= payment_order.payment.wallet.wallet_template.name %></span>
    </span>
    <span class="tags has-addons is-tag-price pl-2">
      <span class="tag mb-0">余</span>
      <span class="tag is-success mb-0">
        <span><%= payment_order.payment.wallet.amount.to_fs(:rounded, precision: payment_order.payment.wallet.wallet_template.digit) %></span>
        <span><%= payment_order.payment.wallet.wallet_template.unit %></span>
      </span>
    </span>
  </span>
  <span class="weui-cell__ft has-v-centered" data-controller="input">
    <span class="is-size-7 has-text-danger">
      <span><%= payment_order.payment_amount.to_fs(:rounded, precision: payment_order.payment.wallet.wallet_template.digit) %></span>
      <span><%= payment_order.payment.wallet.wallet_template.unit %></span>
      <span>抵扣</span>
      <span><%= payment_order.order_amount.to_money.format(html_safe: true).html_safe %></span>
    </span>
    <% if payment_order.payment.persisted? %>
      <%= form_with theme: nil, url: { controller: 'payments', action: 'destroy', id: payment_order.payment_id }, method: :delete, data: { controller: 'input' } do |f| %>
        <%= f.check_box 'xx', checked: true, class: 'weui-check', data: { action: 'input#form' } %>
        <span class="weui-icon-checked"></span>
      <% end %>
    <% else %>
      <%= form_with theme: nil, model: payment_order.payment, scope: 'payment', url: { action: 'payment_pending' } do |f| %>
        <%= f.hidden_field :wallet_id %>
        <%= f.hidden_field :type %>
        <%= f.fields :payment_orders do |ef| %>
          <%= ef.hidden_field :order_id %>
          <%= ef.hidden_field :payment_amount %>
          <%= ef.hidden_field :order_amount %>
          <%= ef.hidden_field :state, value: ef.object.state_init? ? 'pending' : 'init' %>
          <%= ef.check_box 'xx', checked: ef.object.state_pending?, class: 'weui-check', data: { action: 'input#form' } %>
        <% end %>
        <span class="weui-icon-checked"></span>
      <% end %>
    <% end %>
  </span>
</label>
