<%= link_to({ controller: 'trade/agent/orders' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-list"></i>
  </div>
  <div class="size-7 text-grey mt-1"><%= t('trade.agent.orders.index.title') %></div>
<% end %>
<%= link_to({ controller: 'trade/agent/orders', action: 'unpaid' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-list"></i>
  </div>
  <span class="size-7 text-grey mt-1"><%= t('trade.agent.orders.unpaid.title') %></span>
<% end %>
<%= link_to({ controller: 'trade/agent/payments', action: 'uncheck' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-cash-register"></i>
  </div>
  <span class="size-7 text-grey mt-1"><%= t('trade.agent.payments.uncheck.title') %></span>
<% end %>