<%= link_to({ controller: 'trade/admin/payments', action: 'uncheck' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'cash-register', class: 'icon is-medium' %>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.admin.payments.uncheck.title') %></p>
  </div>
<% end %>
<%= link_to({ controller: 'trade/admin/orders' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'list', class: 'icon is-medium' %>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.admin.orders.index.title') %></p>
  </div>
<% end %>
<%= link_to({ controller: 'trade/in/orders' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'list-check', class: 'icon is-medium' %>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.in.orders.index.title') %></p>
  </div>
<% end %>