<%= link_to({ controller: 'trade/agent/orders' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-list"></i>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.admin.orders.index.title') %></p>
    <p>（由我代下）</p>
  </div>
<% end %>
<%= link_to({ controller: 'trade/agent/orders', action: 'unpaid' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-list"></i>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.admin.orders.unpaid.title') %></p>
    <p>（由我代下）</p>
  </div>
<% end %>
<%= link_to({ controller: 'trade/agent/payments', action: 'uncheck' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-cash-register"></i>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.agent.payments.uncheck.title') %></p>
    <p>（由我代下）</p>
  </div>
<% end %>
<%= link_to({ controller: 'trade/in/orders' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-list"></i>
  </div>
  <div class="size-7 text-grey text-centered mt-1">
    <p><%= t('trade.in.orders.index.title') %></p>
  </div>
<% end %>