<ul class="breadcrumb">
  <li><%= link_to '个人首页', user_path %></li>
  <li class="active"><%= link_to '我的相册', photos_path %></li>
  <li class="pull-right"><%= link_to '我的主页', person_path(current_user) %></li>
  <li class="pull-right"><%= link_to 'New Photo', new_photo_path %></li>
</ul>


<div class="row">

  <div class="col-md-12">
    <%= form_for @photo, :url => photos_path, :html => { :class => 'well form-horizontal', :multipart => true } do |f| %>
      <%= render :partial => 'panel/photos/form', :locals => { :f => f } %>
    <% end %>
  </div>

</div>