<ul class="breadcrumb">
  <li><%= link_to 'Back', photos_path %></li>
  <li class="pull-right"><%= link_to 'Edit', edit_photo_path(@photo) %></li>
  <li class="pull-right"><%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>

<div class="row">
  <div class="col-md-12">
    <p><%= @photo.photo.url %></p>
    <p><%= @photo.photo.small.url %></p>
  </div>
</div>