<tr id="checked_<%= payment_order.order_id %>">
  <td>
    <%= form_with url: { action: 'update', id: payment_order.id }, id: "edit_payment_order_#{payment_order.id}", method: :patch do |f| %>
    <% end %>
  </td>
  <td>
    <%= link_to payment_order.order.uuid, { controller: 'orders', action: 'show', id: payment_order.order_id }, data: { turbo_frame: 'modal' } %>
  </td>
  <td><%= payment_order.order.amount.to_money.format(html_wrap: true).html_safe %></td>
  <td>
    <% if payment_order.confirmed? %>
      <%= payment_order.check_amount.to_money.format(html_wrap: true).html_safe %>
    <% else %>
      <%= number_field_tag 'payment_order[check_amount]', payment_order.check_amount, class: 'input', step: 0.01, form: "edit_payment_order_#{payment_order.id}" %>
    <% end %>
  </td>
  <td><%= Trade::PaymentOrder.enum_i18n(:state, payment_order.state) %></td>
  <td>
    <% if payment_order.confirmed? %>
      <%= button_to({ action: 'cancel', payment_id: @payment, id: payment_order.id }, method: :patch, class: 'button is-small is-warning') do %>
        <i class="fa-light fa-clock-rotate-left"></i>
        <span class="pl-1">撤销</span>
      <% end %>
    <% else %>
      <%= submit_tag '核销', form: "edit_payment_order_#{payment_order.id}", class: 'button is-small is-success' %>
    <% end %>
  </td>
</tr>
