<tr id="checked_<%= payment_order.order_id %>">
  <td>
    <%= form_with url: admin_payment_payment_order_path(@payment, payment_order), id: "edit_payment_order_#{payment_order.id}", method: :patch do |f| %>
    <% end %>
  </td>
  <td>
    <%= link_to payment_order.order.uuid, admin_order_path(payment_order.order_id) %>
  </td>
  <td><%= payment_order.order.amount %></td>
  <td>
    <% if payment_order.confirmed? %>
      <%= payment_order.check_amount %>
    <% else %>
      <%= number_field_tag 'payment_order[check_amount]', payment_order.check_amount, class: 'input', step: 0.01, form: "edit_payment_order_#{payment_order.id}" %>
    <% end %>
  </td>
  <td><%= PaymentOrder.enum_i18n(:state, payment_order.state) %></td>
  <td>
    <% if payment_order.confirmed? %>
      <%= link_to '撤销', { action: 'cancel', payment_id: @payment, id: payment_order.id }, method: :patch %>
    <% else %>
      <%= submit_tag '核销', form: "edit_payment_order_#{payment_order.id}", class: 'button is-small' %>
    <% end %>
  </td>
</tr>
