<tr id="checked_<%= payment_order.order_id %>">
  <td>
    <%= link_to payment_order.order.uuid, { controller: 'orders', action: 'show', id: payment_order.order_id }, data: { turbo_frame: 'modal' } %>
  </td>
  <td><%= payment_order.order.amount.to_money.format.html_safe %></td>
  <td>
    <% if payment_order.state_confirmed? %>
      <%= payment_order.order_amount.to_money.format.html_safe %>
    <% else %>
      <%= number_field_tag 'payment_order[order_amount]', payment_order.order_amount, class: 'input', step: 0.01, form: "edit_payment_order_#{payment_order.id}" %>
    <% end %>
  </td>
  <td><%= Trade::PaymentOrder.enum_i18n(:state, payment_order.state) %></td>
  <td>
    <% if payment_order.state_confirmed? %>
      <%= button_to({ action: 'cancel', payment_id: @payment, id: payment_order.id }, class: 'button is-small is-warning') do %>
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span class="pl-1">撤销</span>
      <% end %>
    <% else %>
      <%= button_to({ action: 'update', id: payment_order.id }, method: :patch, class: 'button is-small is-success', form: { id: "edit_payment_order_#{payment_order.id}" }) do %>
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span class="pl-1">核销</span>
      <% end %>
    <% end %>
  </td>
</tr>
