<tr id="add_payment_order">
  <td colspan="11">
    <table class="table is-fullwidth is-borderless">
      <thead>
        <tr>
          <th><%= Trade::Order.human_attribute_name(:uuid) %></th>
          <th><%= Trade::Order.human_attribute_name(:amount) %></th>
          <th><%= Trade::PaymentOrder.human_attribute_name(:check_amount) %></th>
          <th><%= Trade::PaymentOrder.human_attribute_name(:state) %></th>
          <th></th>
        </tr>
      </thead>
      <% unless @payment.all_checked? %>
        <%= render partial: 'order', collection: @orders, as: :order %>
      <% end %>
      <%= render partial: 'index', collection: @payment.payment_orders, as: :payment_order %>
    </table>
  </td>
</tr>
