<tr id="add_payment_order">
  <td colspan="11">
    <table class="ui very basic table">
      <thead>
        <tr>
          <th></th>
          <th><%= Order.human_attribute_name(:uuid) %></th>
          <th><%= Order.human_attribute_name(:amount) %></th>
          <th><%= PaymentOrder.human_attribute_name(:check_amount) %></th>
          <th><%= PaymentOrder.human_attribute_name(:state) %></th>
          <th></th>
        </tr>
      </thead>

      <% unless @payment.all_checked? %>
        <%= render partial: 'orders', collection: @orders, as: :order %>
      <% end %>

      <%= render partial: 'index', collection: @payment.payment_orders, as: :payment_order %>
    </table>
  </td>
</tr>

