<div class="ui segment top attached">
</div>

<div class="ui segment bottom attached items">
  <% @cart_items.each do |cart_item| %>
    <div class="item">

      <div class="content">
        <%= cart_item.good.name %>
        <p><%= cart_item.quantity %></p>

        <div class="ui left right action input">
          <%= link_to cart_item_path(cart_item), method: :patch, class: 'ui button' do %>
            <i class="minus icon"></i>
          <% end %>
          <%= text_field_tag :quantity, cart_item.quantity %>
          <%= link_to cart_item_path(cart_item), method: :patch, class: 'ui button' do %>
            <i class="plus icon"></i>
          <% end %>
        </div>
        <%= link_to 'delete', cart_item_path(cart_item), method: :delete, remote: true %>
      </div>
    </div>
  <% end %>
</div>
