<table class="ui celled table">
  <thead>
  <tr>
    <th class="center aligned">Total Amount</th>
    <th class="center aligned">Order Amount</th>
    <th class="center aligned">Type</th>
    <th class="center aligned">Created At</th>
    <th class="center aligned">State</th>
    <th class="center aligned">Comment</th>
    <th class="center aligned">Refunded At</th>
  </tr>
  </thead>
  <tbody>
  <% @refunds.each do |refund| %>
      <tr>
        <td class="center aligned"><%= refund.total_amount.to_money(refund.currency).format %></td>
        <td class="center aligned"><%= refund.order_amount.to_money.format %></td>
        <td class="center aligned"><%= refund.type %></td>
        <td class="center aligned"><%= refund.created_at.to_s %></td>
        <td class="center aligned"><%= refund.state %></td>
        <td class="center aligned"><%= refund.comment %></td>
        <td class="center aligned">
          <% if refund.refunded_at %>
            <time><%= refund.refunded_at.to_s %></time>
          <% else %>
            <%= refund.reason.to_s.truncate(27) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

