<div class="ui borderless menu">
  <div class="item">Refund</div>
</div>

<div class="ui top attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th>UUID</th>
    <th>Order</th>
    <th>Total Amount</th>
    <th>Type</th>
    <th>Created At</th>
    <th>State</th>
    <th>Comment</th>
    <th>Refunded At</th>
    <th>Operator</th>
  </tr>
  </thead>
  <tbody>
  <% @refunds.each do |refund| %>
    <tr>
      <td><%= refund.refund_uuid %></td>
      <td>
        <p><%= link_to refund.order.uuid, admin_order_path(refund.order_id) %></p>
        <p><%= link_to refund.payment.payment_uuid, admin_payments_path(id: refund.payment_id) %></p>
      </td>
      <td><%= refund.total_amount.to_money(refund.currency).format %></td>
      <td><%= refund.type %></td>
      <td><time><%= refund.created_at.to_s(:admin) %></time></td>
      <td><%= refund.state %></td>
      <td><%= refund.comment %></td>
      <td>
        <% if refund.refunded_at %>
          <time><%= refund.refunded_at.to_s(:admin) %></time>
        <% else %>
          <div class="ui buttons">
            <%= link_to 'Approve', confirm_admin_refund_path(refund), method: :patch, data: { confirm: 'Confirm Do Refund!' }, class: 'ui positive button' %>
            <div class="or"></div>
            <%= link_to 'Deny', confirm_admin_refund_path(refund), method: :patch, data: { confirm: 'Deny Refund!' }, class: 'ui negative button' %>
          </div>
        <% end %>
        <% if refund.reason %>
          <p><%= refund.reason.truncate(27) %></p>
        <% end %>
      </td>
      <td><%= refund.operator&.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>



