<td><%= payment.payment_uuid %></td>
<td><%= payment.buyer_name %></td>
<td><%= payment.buyer_identifier %></td>
<td><%= payment.total_amount %></td>
<td><%= payment.unchecked_amount %></td>
<td><%= payment.notified_at.to_s %></td>
