<div class="ui modal" id="payment_logs">
  <i class="close icon"></i>
  <div class="header">
    <span style="color: #0d71bb">Payment Logs</span>
  </div>
  <div class="content">
    <table class="ui celled table">
      <thead>
      <tr>
        <th class="center aligned">Check Amount</th>
        <th class="center aligned">Type</th>
        <th class="center aligned">Paid ID</th>
        <th class="center aligned">Paid At</th>
        <th class="center aligned">Confirm At</th>
      </tr>
      </thead>
      <tbody>
      <% @payment_orders.each do |payment_order| %>
          <tr>
            <td class="center aligned"><%= payment_order.check_amount.to_money(payment_order.payment.currency).format %></td>
            <td class="center aligned"><%= payment_order.payment.type %></td>
            <td class="center aligned"><%= payment_order.payment_id %></td>
            <td class="center aligned"><%= payment_order.payment.created_at.to_s %></td>
            <td class="center aligned"><%= payment_order.created_at.to_s %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th class="center aligned">
            <%= @payment_orders.sum(:check_amount) %>
          </th>
          <th colspan="4"></th>
        </tr>
      </tfoot>
    </table>
  </div>

</div>

