<th><%= Trade::Cart.human_attribute_name(:member_organ_id) %></th>
<th><%= Trade::Cart.human_attribute_name(:user_id) %></th>
<th><%= Trade::Cart.human_attribute_name(:member_id) %></th>
<th class="has-text-right">
  <p><%= Trade::Cart.human_attribute_name(:item_amount) %></p>
  <p><%= Trade::Cart.human_attribute_name(:overall_additional_amount) %></p>
  <p><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></p>
  <p><%= Trade::Cart.human_attribute_name(:amount) %></p>
</th>
