<td>
  <span><%= link_to model.user.name, { action: 'show', id: model.id } %></span>
  <span class="has-text-grey">（<%= model.user_id %>）</span>
</td>
<td>
  <% if model.member %>
    <span data-id="<%= model.member_id %>"><%= model.member.name %></span>
  <% end %>
</td>
<td class="has-text-right">
  <p><%= model.item_amount %></p>
  <p><%= model.overall_additional_amount %></p>
  <p><%= link_to model.overall_reduced_amount, { controller: 'trade_promotes', cart_id: model.id } %></p>
  <p><%= model.amount %></p>
</td>
