<%= form_for [@good, @good_item], :html => {:class => 'well form-horizontal'} do |f| %>
  <%= render "shared/error_messages", :target => @good_item %>

  <div class="form-group">
    <%= f.label :picture, "配图：", :class => "col-md-2 control-label" %>
    <div class="col-md-6">
      <%= image_tag(@good_item.picture_url) if @good_item.picture? %>
      <%= f.file_field :picture %>
      <%= f.hidden_field :picture_cache %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-5">
      <%= f.submit :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
