<td>
  <%= link_to({ action: 'user_show', user_id: model.user_id }) do %>
    <span><%= model.user.name %></span>
  <% end %>
</td>
<td><%= model.aim %></td>
<td><%= model.good_type %></td>
<td><%= model.payment_strategy&.name %></td>
<td><%= model.items.size %></td>
