<tr id="serve_<%= serve.id %>">
  <td><%= serve.name %></td>
  <td><%=  %></td>
  <td><%=  %></td>
  <td>
    <%= link_to 'add', new_admin_good_serve_path(@good.class.name, @good.id, serve_id: serve.id), remote: true, class: 'ui red label' %>
  </td>
</tr>


