<tr id="serve_<%= @good_serve.serve_id %>">
  <td>
    <%= form_with model: @good_serve, url: admin_good_serves_path(good_type: params[:good_type], good_id: params[:good_id]), method: :post, id: "good_serve_new_#{@good_serve.serve_id}" %>
    <%= @good_serve.serve.name %>
  </td>
  <td><%= @serve_charge.default_subtotal %></td>
  <td>
    <%= text_field_tag 'good_serve[price]', @good_serve.price, class: 'three wide field', form: "good_serve_new_#{@good_serve.serve_id}" %>
    <%= hidden_field_tag 'good_serve[serve_id]', @good_serve.serve_id, form: "good_serve_new_#{@good_serve.serve_id}" %>
    <%= hidden_field_tag :good_type, params[:good_type], form: "good_serve_new_#{@good_serve.serve_id}" %>
    <%= hidden_field_tag :good_id, params[:good_id], form: "good_serve_new_#{@good_serve.serve_id}" %>
  </td>
  <td>
    <%= submit_tag 'Save', class: 'ui green button', form: "good_serve_new_#{@good_serve.serve_id}" %>
    <a class="ui grey button" onclick="removeForm()">取消</a>
  </td>
</tr>
