<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td>
  <%= link_to({ controller: 'items', action: 'show', id: model.id }) do %>
    <p><%= model.good_name %></p>
    <p class="text-grey"><%= model.organ&.name %></p>
  <% end %>
</td>
<td><%= model.purchase_status_i18n %></td>
<td><%= model.number.to_human %></td>
<td>
  <span><%= model.single_price.to_money.format.html_safe %></span>
  <%= button_to({ controller: 'items', action: 'edit_price', id: model.id }, data: { show_target: 'item' }, aria: { label: t('.items.edit_price.title') }, class: 'pl-1 visibility-hidden') do %>
    <i class="fa-solid fa-pencil text-grey"></i>
  <% end %>
</td>
<td class="text-danger"><%= model.amount.to_money.format.html_safe %></td>
