<td>
  <%= link_to({ controller: 'items', action: 'show', id: model.id }) do %>
    <p><%= model.good_name %></p>
    <p class="has-text-grey"><%= model.organ&.name %></p>
  <% end %>
</td>
<td>
  <span><%= model.single_price.to_money.format.html_safe %></span>
  <i class="fa-solid fa-xmark has-text-grey"></i>
  <span><%= model.number.to_human %></span>
</td>
<td><%= model.original_amount.to_money.format.html_safe %></td>
<td>
  <p><%= model.additional_amount.to_money.format.html_safe %></p>
  <p><%= model.reduced_amount.to_money.format.html_safe %></p>
</td>
<td class="has-text-danger"><%= model.amount.to_money.format.html_safe %></td>
