<p>
  <span>Good Type:</span>
  <%= link_to t('.all'), filter_params(except: [:good_type]), class: active_params(type: '', active: 'button is-info', item: 'button is-light') %>
  <% CartItem.good_types.each do |good_type| %>
    <%= link_to good_type, filter_params(good_type: good_type), class: active_params(type: good_type, active: 'button is-info', item: 'button is-light') %>
  <% end %>
</p>
<p>
  <span>Assistant:</span>
  <%= link_to t('.all'), filter_params(except: [:myself]), class: active_params(myself: '', active: 'button is-info', item: 'button is-light') %>
  <%= link_to 'Assistant', filter_params(myself: 0), class: active_params(myself: 0, active: 'button is-info', item: 'button is-light') %>
  <%= link_to 'Self', filter_params(myself: 1), class: active_params(myself: 1, active: 'button is-info', item: 'button is-light') %>
</p>


