<div>
  <%= trade_item.good.price %><i class="info circle icon xx_popup" style="color: grey;"></i>
  <div class="ui popup">
    <p>Export price: <%= trade_item.good.price %></p>
    <% trade_item.trade_promotes.each do |trade_promote| %>
      <p><%= trade_promote.promote.name %>: <%= trade_promote.amount %></p>
    <% end %>
  </div>
</div>
<p><%= trade_item.good&.quantity %><%= trade_item.good&.unit %></p>
