<div>
  <%= trade_item.good.final_price %><i class="info circle icon xx_popup" style="color: grey;"></i>
  <div class="ui popup">
    <p>Export price: <%= trade_item.good.price %></p>
    <% trade_item.good.serve.charges.each do |charge| %>
      <p><%= charge.item.name %>: <%= charge.subtotal %></p>
    <% end %>
  </div>
</div>
<p><%= trade_item.good&.quantity %><%= trade_item.good&.unit %></p>
