<div class="ui segment top attached">
  <% if @user %>
    <p>
      Name: <%= @user.name %>
      <%= link_to 'carts', user_id: @user.id %>
    </p>
    <p>Email: <%= @user.email %></p>
  <% end %>
  <% if @buyer %>
    <p>Company Name: <% @buyer.name %>(<%= @buyer.id %>)
      <%= link_to 'carts', buyer_id: @buyer.id %>
    </p>
    <p>
      <%= select_tag :user_id, options_from_collection_for_select(@buyer.users, :id, :name, @user&.id), include_blank: true, class: 'ui dropdown' %>
    </p>
  <% end %>
</div>

<div class="ui segment top attached">
  <% if @user %>
    <%= link_to '生成订单', new_admin_order_path(user_id: @user.id), class: 'ui red button', id: 'new_order_top' %>
    <%= link_to '生成文档', doc_admin_trade_items_path(user_id: @user.id), class: 'ui orange button', id: 'trade_items_doc' %>
  <% end %>
</div>
<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= check_box_tag :all %></th>
      <th><%= TradeItem.human_attribute_name('good/name') %></th>
      <th><%= TradeItem.human_attribute_name(:amount) %></th>
      <th><%= TradeItem.human_attribute_name(:number) %></th>
      <th><%= TradeItem.human_attribute_name(:original_amount) %></th>
      <th><%= TradeItem.human_attribute_name(:retail_price) %></th>
      <th><%= TradeItem.human_attribute_name(:wholesale_price) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @trade_items.each do |trade_item| %>
    <tr class="<%= active_asserts join: false, active: trade_item.checked?, positive: trade_item.good_id.to_s == params[:good_id] %>" id="trade_item_<%= trade_item.id %>">
      <td><%= check_box_tag(:trade_item_id, trade_item.id, trade_item.checked?) %></td>
      <td>
        <i class="child icon<%= trade_item.myself ? ' green' : '' %>"></i>
        <%= trade_item.good&.name %>
      </td>
      <td>
        <%= render partial: 'good_price', locals: { trade_item: trade_item } %>
      </td>
      <td>
        <div class="ui left right action input">
          <div class="ui button" onclick="decrease_quantity(<%= trade_item.id %>)"><i class="minus icon"></i></div>
          <%= text_field_tag :number, trade_item.number, id: "quantity_#{trade_item.id}", onkeyup: "update_quantity(#{trade_item.id})", disabled: true %>
          <div class="ui button" onclick="increase_quantity(<%= trade_item.id %>)"><i class="fas fa-plus"></i></div>
        </div>
      </td>
      <td id="retail_price_<%= trade_item.id %>">
        <%= render partial: 'retail_price', locals: { trade_item: trade_item } %>
      </td>
      <td id="single_price_<%= trade_item.id %>">
        <%= render partial: 'single_price', locals: { trade_item: trade_item } %>
      </td>
      <td id="order_price_<%= trade_item.id %>">
        <%# render partial: 'order_price', locals: { trade_item: trade_item } %>
      </td>
      <td>
        <%= link_to 'delete', admin_trade_item_path(trade_item), method: :delete, class: 'ui mini label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tbody id="additions_body">
  <%# render 'additions' %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5"></th>
      <th id="total_price">
        <%# render 'total_price' %>
      </th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th colspan="5"></th>
      <th colspan="4">
        <% if @user %>
          <%= link_to '生成订单', new_admin_order_path(user_id: @user.id), class: 'ui red button', id: 'new_order_bottom' %>
        <% end %>
      </th>
    </tr>
  </tfoot>
</table>

<%= paginate @trade_items %>
