<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:amount) %></td>
  <td><%= @lawful_wallet.amount.to_money.format(html_wrap: true).html_safe %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:income_amount) %></td>
  <td>
    <span><%= @wallet.income_amount.to_fs(:rounded, precision: @wallet.wallet_template.digit) %></span>
    <span><%= @wallet.wallet_template.unit %></span>
  </td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:expense_amount) %></td>
  <td>
    <span><%= @wallet.expense_amount.to_fs(:rounded, precision: @wallet.wallet_template.digit) %></span>
    <span><%= @wallet.wallet_template.unit %></span>
  </td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:account_bank) %></td>
  <td><%= @wallet.account_bank %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:account_name) %></td>
  <td><%= @wallet.account_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Wallet.human_attribute_name(:account_number) %></td>
  <td><%= @wallet.account_number %></td>
</tr>
