<div>
  <dt><%= Trade::Wallet.human_attribute_name(:amount) %></dt>
  <dd><%= @lawful_wallet.amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:income_amount) %></dt>
  <dd><%= @lawful_wallet.income_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:expense_amount) %></dt>
  <dd><%= @lawful_wallet.expense_amount.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:account_bank) %></dt>
  <dd><%= @lawful_wallet.account_bank %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:account_name) %></dt>
  <dd><%= @lawful_wallet.account_name %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:account_number) %></dt>
  <dd><%= @lawful_wallet.account_number %></dd>
</div>
