<td>
  <p><%= model.card_template.name %></p>
  <p class="has-text-grey"><%= model.card_uuid %></p>
</td>
<td>
  <p><%= model.user&.name %></p>
</td>
<td>
  <p><time data-controller="time"><%= model.effect_at.to_fs(:iso8601) %></time></p>
  <p>
    <time data-controller="time"><%= model.expire_at&.to_fs(:iso8601) %></time>
    <%= link_to({ controller: 'card_purchases', card_id: model.id }, aria: { label: t('trade.admin.card_purchases.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-regular fa-gem"></i>
    <% end %>
  </p>
</td>
<td><%= model.temporary_i18n %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
