<td><%= model.card_template.name %></td>
<td>
  <p><%= model.cart&.name %></p>
</td>
<td><%= model.card_uuid %></td>
<td>
  <p><time data-controller="time"><%= model.effect_at.to_s(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.expire_at.to_s(:iso8601) %></time></p>
</td>
<td><%= model.amount %></td>
<td>
  <p>
    <%= model.income_amount %>
    <%= link_to({ controller: 'card_advances', card_id: model.id }, aria: { label: t('trade.admin.card_advances.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-light fa-gem"></i>
    <% end %>
  </p>
  <p>
    <%= model.expense_amount %>
    <%= link_to({ controller: 'card_payments', card_id: model.id }, aria: { label: t('trade.admin.card_payments.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-light fa-credit-card"></i>
    <% end %>
  </p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:iso8601) %></time></td>
