<th><%= Payout.human_attribute_name(:payout_uuid) %></th>
<th>
  <p><%= Payout.human_attribute_name(:account_bank) %></p>
  <p><%= Payout.human_attribute_name(:account_name) %></p>
  <p><%= Payout.human_attribute_name(:account_num) %></p>
</th>
<th><%= Payout.human_attribute_name(:requested_amount) %></th>
<th><%= Payout.human_attribute_name(:actual_amount) %></th>
<th><%= Payout.human_attribute_name(:state) %></th>
<th><%= Payout.human_attribute_name(:created_at) %></th>
<th></th>
