<div class="">

  <div class="thirteen wide column">
    <div class="ui segment">
      <h1>订单列表</h1>
    </div>

    <table class="ui table">
      <thead>
      <tr>
        <th>订单号</th>
        <th>Amount</th>
        <th>Pay</th>
        <th>Actions</th>
      </tr>
      </thead>

      <% @orders.each do |order| %>
        <tr>
          <td><%= order.uuid %></td>
          <td><%= order.amount %></td>
          <td>
            <span class="ui label"><%= order.payment_type %></span>
          </td>
          <td>
            <%= link_to 'Show', admin_order_path(order) %>
            <%= link_to 'Edit', edit_admin_order_path(order) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= paginate @orders %>