<div class="ui segment top attached">
  <p><%= @order.buyer.name %></p>
  <p><%= @order.user.name %> <%= @order.user.email %></p>
  <p>
    <span class="ui blue label"><%= @order.buyer.payment_strategy&.name %></span>
    <% if @order.buyer.deposit_ratio %>
      <span class="ui orange label">Deposit Ratio: <%= @order.buyer.deposit_ratio %>%</span>
    <% end %>
  </p>
</div>

<%= render partial: 'shared/error_messages', locals: { target: @order } %>

<table class="ui table">
  <thead>
  <tr>
    <th>
      <%= form_with model: @order, url: my_orders_path, id: 'new_order' do |f| %>
        <% @order_form = f %>
      <% end %>
    </th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% @order.order_items.each do |order_item| %>
    <%= @order_form.fields_for :order_items, order_item do |oi| %>
      <tr>
        <td>
          <%= order_item.good&.name %>
          <%= oi.hidden_field :cart_item_id, form: 'new_order' %>
        </td>
        <td></td>
        <td><%= order_item.quantity %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>

  <tfoot>
  <tr>
    <th colspan="5">
      <div class="">
      </div>
    </th>
  </tr>
  </tfoot>
</table>

<div class="ui segment">
  <%= render partial: 'the_trade_admin/addresses/addresses', locals: { addresses: @order.user.addresses } %>
</div>

<div class="ui segment">
  <%= submit_tag '确认订单', class: 'ui red right floated button', form: 'new_order' %>
</div>
