<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Order With Payment List</strong></div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <p>
      <span>State:</span>
      <%= link_to 'All', filter_params(except: [:payment_status]), class: active_params(payment_status: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <%= link_to '未支付', filter_params(payment_status: 'unpaid'), class: active_params(payment_status: 'unpaid', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <%= link_to '部分支付', filter_params(payment_status: 'part_paid'), class: active_params(payment_status: 'part_paid', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <%= link_to '全部支付', filter_params(payment_status: 'all_paid'), class: active_params(payment_status: 'all_paid', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
      <%= link_to '已退款', filter_params(payment_status: 'refunded'), class: active_params(payment_status: 'refunded', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    </p>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>已收金额</th>
      <th>未收金额</th>
      <th>总金额</th>
      <th>订单金额</th>
      <th>运费</th>
      <th>处理费</th>
    </tr>
    </thead>

    <tbody>
    <tr class="active">
      <td>汇总：</td>
      <td><%= @orders.sum(:received_amount) %></td>
      <td><%= @orders.sum(:amount) - @orders.sum(:received_amount) %></td>
      <td><%= @orders.sum(:amount) %></td>
      <td><%= @orders.sum(:subtotal) %></td>
      <td><%= @orders.sum(:shipping_fee) %></td>
      <td><%= @orders.sum(:handling_fee) %></td>
    </tr>
    <%= render partial: 'item', collection: @orders, as: :order %>
    </tbody>
  </table>

  <%= paginate @orders %>
</div>
