<td>
  <p><%= model.payment_uuid %></p>
  <div class="tag"><%= model.type_i18n %></div>
</td>
<td id="checked_amount_<%= model.id %>">
  <%= render partial: 'checked_amount', locals: { payment: model } %>
</td>
<td>
  <%= model.total_amount.to_money.format(html_wrap: true).html_safe %>
</td>
<td>
  <p><%= model.income_amount.to_money.format(html_wrap: true).html_safe %></p>
  <p><%= model.fee_amount.to_money.format(html_wrap: true).html_safe %></p>
</td>
<td><%= model.adjust_amount.to_money.format(html_wrap: true).html_safe %></td>
<td>
  <p><%= model.buyer_name %></p>
  <p><%= model.buyer_identifier %></p>
  <p><%= model.buyer_bank %></p>
  <% if model.payment_method %>
    <%= link_to 'Payment Method', { controller: 'payment_methods', action: 'show', id: model.payment_method_id }, class: 'tag', targe: '_blank' %>
  <% end %>
</td>
<td><time data-controller="time"><%= model.notified_at&.to_fs(:iso8601) %></time></td>
