<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden" data-controller="common">
      <% if model.payment_method.present? %>
        <%= link_to t('.show'), { controller: 'payment_methods', action: 'show', id: model.payment_method_id }, class: 'button is-small is-rounded is-light', target: '_blank' %>
      <% end %>
      <%= link_to t('.checking'), { controller: 'payment_orders', action: 'new', payment_id: model.id }, data: { action: 'common#link' }, class: 'button is-small is-rounded is-light' %>
      <%= link_to({ controller: 'auditor/admin/audits', audited_type: 'Payment', audited_id: model.id }, aria: { label: t('.log') }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-comments"></i>
      <% end %>
      <%= link_to({ action: 'show', id: model.id }, aria: { label: t('.show') }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-square-info"></i>
      <% end %>
      <%= link_to({ action: 'edit', id: model.id }, aria: { label: t('.edit') }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-pencil"></i>
      <% end %>
    </div>
  </td>
</tr>
