<%= render 'top_bar' %>

<div class="has-text-centered mt-2">
  <span>有效期至：</span>
  <time data-controller="time" data-format="human"><%= @card.expire_at&.to_fs(:iso8601) %></time>
</div>

<%= render layout: 'index_list' do %>
  <%= render partial: 'index_item', layout: 'index_item_actions', collection: @card_purchases, as: :model %>
<% end %>

<%= paginate @card_purchases %>
