<tr>
  <td class="has-text-right"><%= Trade::CashGiven.human_attribute_name(:user) %></td>
  <td><%= @cash_given.user %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CashGiven.human_attribute_name(:amount) %></td>
  <td><%= @cash_given.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::CashGiven.human_attribute_name(:note) %></td>
  <td><%= @cash_given.note %></td>
</tr>
