<tr
  id="tr_<%= model.id %>"
  data-controller="show"
  data-url="<%= url_for({ action: 'reorder', id: model.id }) %>"
  data-id="<%= model.id %>"
>
  <%= yield %>
  <td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>
</tr>
