<tr>
  <td><%= Trade::Privilege.human_attribute_name(:name) %></td>
  <td><%= @privilege.name %></td>
</tr>
<tr>
  <td><%= Trade::Privilege.human_attribute_name(:amount) %></td>
  <td><%= @privilege.amount %></td>
</tr>
<tr>
  <td><%= Trade::Privilege.human_attribute_name(:logo) %></td>
  <td><%= image_tag @privilege.logo, class: 'image is-32x32' if @privilege.logo.attached? %></td>
</tr>
