<div class="row">
<div class="span3">
  <%= render "/user/users/side" %>
</div>

<div class="span9">
<h2>编辑账户</h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "well form-horizontal" } do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, 'E-mail', :class => 'control-label' %>
    <div class="controls"><%= f.email_field :email %></div>
  </div>

  <div class="form-actions">
    <%= f.submit "确认" %>
  </div>
<% end %>


</div>
</div>