暂时关闭注册

<!--
<div class="row">
<div class="span9">

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=> "well form-horizontal"} do |f| %>

  <%= devise_error_messages! %>

  <fieldset>
    <legend>用户注册</legend>
    <div class="control-group">
      <%= f.label :email, "邮箱：", :class => "control-label" %>
      <div class="controls"><%= f.email_field :email, :class => "input-xlarge" %></div>
    </div>

    <div class="control-group">
      <%= f.label :password, "密码：", :class => "control-label" %>
      <div class="controls"><%= f.password_field :password, :class => "input-xlarge" %></div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, "密码确认：", :class => "control-label" %>
      <div class="controls"><%= f.password_field :password_confirmation, :class => "input-xlarge" %></div>
    </div>

    <div class="form-actions">
      <%= f.submit "注册", :class => "btn btn-primary btn-large" %>
    </div>
  </fieldset>

<% end %>

<%= render "devise/shared/links" %>

</div>

</div>
-->


