<td><%= model.promote&.name %></td>
<td><%= model.item_id %></td>
<td><%= model.promote_good_id %></td>
<td><%= model.amount.to_money.format(html_wrap: true).html_safe %></td>
<td><%= model.sequence %></td>
<td><%= model.status_i18n %></td>
