<td><%= model.promote&.name %></td>
<td><%= model.item_id %></td>
<td><%= model.amount.to_money.format(html_wrap: true).html_safe %></td>
<td><%= model.status_i18n %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
