<%= link_to({ controller: 'ship/my/cart/addresses', cart_id: @cart.id }, class: 'media as-boxed') do %>
  <div class="media-left">
    <%= svg_tag 'location-dot', class: 'icon is-small text-danger' %>
  </div>
  <div class="media-content">
  <% if @cart.address %>
    <p>
      <span><%= @cart.address.contact %></span>
      <span><%= @cart.address.tel %></span>
    </p>
    <p class="size-7">
      <span><%= @cart.address.area.full_name %></span>
      <span><%= @cart.address.station&.name %></span>
      <span><%= @cart.address.detail %></span>
    </p>
  <% else %>
    <p>选择地址</p>
  <% end %>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
