<div class="media as-boxed">

  <div class="media-content">
    <h4 class="weui-media-box__title"><%= model.good_name %></h4>
    <% if model.good.respond_to?(:parts) && model.good.parts.present? %>
    <ul class="media-info">
      <% model.good.parts.each do |part| %>
        <li><%= part.name %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="weui-media-box__info flex justify-content-space-between">
      <div class="has-v-centered">
      <% if model.vip_code.present? %>
        <div class="tags has-addons is-price control m-0" style="display: inline-flex">
          <div class="tag is-danger">
            <i class="fa-solid fa-badge-check"></i>
            <span style="padding-left: 1px"><%= model.vip_code %></span>
          </div>
          <span class="tag is-right"><%= model.single_price.to_money.format.html_safe %></span>
        </div>
        <span class="text-through"><%= model.good.price.to_money.format.html_safe %></span>
      <% else %>
        <span class="text-grey-dark"><%= model.single_price.to_money.format.html_safe %></span>
      <% end %>
      </div>
      <%= render partial: 'number', locals: { model: model } %>
    </div>
  </div>
</div>
