<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="pl-4 pt-2">
        <span class="weui-badge weui-badge__primary">
          <span>企业版：</span>
          <span><%= model.organ.name %></span>
        </span>
      </div>
      <div class="weui-cells weui-cells_radio">
        <%= link_to({ controller: '/my/home', global_member_id: "member_#{model.id}" }, class: 'weui-cell weui-cell_active weui-check__label') do %>
          <span class="weui-cell__hd">
            <%= image_tag model.organ.logo.variant(resize_to_limit: [150, 150]), class: 'image is-24x24' if model.organ.logo.attached? %>
          </span>
          <span class="weui-cell__bd">
            <span class="is-size-7"><%= model.name %></span>
            <span class="is-size-7"><%= model.identity %></span>
          </span>
          <span class="weui-cell__ft" data-controller="input">
            <%= form_with theme: nil, scope: 'cart', url: { action: 'current' } do |f| %>
              <%= f.hidden_field :member_id, value: model.id %>
              <%= f.check_box :current, value: true, checked: current_cart.member_id == model.id, class: 'weui-check', data: { action: 'input#form' } %>
              <span class="weui-icon-checked"></span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
