<div>
  <dt><%= Trade::Cart.human_attribute_name(:payment_strategy_id) %></dt>
  <dd><%= @cart.payment_strategy_id %></dd>
</div>
<div>
  <dt><%= Trade::Cart.human_attribute_name(:deposit_ratio) %></dt>
  <dd><%= @cart.deposit_ratio %></dd>
</div>
<div>
  <dt><%= Trade::Cart.human_attribute_name(:buyer_type) %></dt>
  <dd><%= @cart.buyer_type %></dd>
</div>
<div>
  <dt><%= Trade::Cart.human_attribute_name(:buyer_id) %></dt>
  <dd><%= @cart.buyer_id %></dd>
</div>
