<th>
  <div data-controller="check" data-check-name-value="xx" class="is-flex is-align-items-center">
    <%= check_box_tag 'xxd', 'xx', false, id: nil, data: { action: 'check#toggleAll' } %>
  </div>
</th>
<th><%= Trade::Item.human_attribute_name(:good_name) %></th>
<th><%= Trade::Item.human_attribute_name(:single_price) %></th>
<th><%= Trade::Item.human_attribute_name(:number) %></th>
<th><%= Trade::Item.human_attribute_name(:amount) %></th>
