<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_my_cart_path(@cart), class: 'ui mini blue right floated button' %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= Cart.human_attribute_name(:payment_strategy_id) %></td>
      <td><%= @cart.payment_strategy_id %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Cart.human_attribute_name(:deposit_ratio) %></td>
      <td><%= @cart.deposit_ratio %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Cart.human_attribute_name(:buyer_type) %></td>
      <td><%= @cart.buyer_type %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Cart.human_attribute_name(:buyer_id) %></td>
      <td><%= @cart.buyer_id %></td>
    </tr>
  </tbody>
</table>
