<%= link_to({ controller: '/factory/products' }, class: 'weui-tabbar__item') do %>
  <i class="fa-light fa-pot-food weui-tabbar__icon"></i>
  <div class="weui-tabbar__label">点单</div>
<% end %>
<%= link_to({ controller: 'trade/my/carts', action: 'show' }, class: 'weui-tabbar__item weui-bar__item_on') do %>
  <i class="fa-light fa-cart-shopping weui-tabbar__icon">
    <span class="weui-badge" style="right: 1em"><%= current_cart_count %></span>
  </i>
  <div class="weui-tabbar__label">购物车</div>
<% end %>
<%= link_to({ controller: '/my/home', action: 'index' }, class: 'weui-tabbar__item') do %>
  <i class="fa-light fa-user weui-tabbar__icon"></i>
  <div class="weui-tabbar__label"><%= t('my.home.index.title') %></div>
<% end %>
