<tr class="<%= 'active' if model.checked? %>" id="trade_item_<%= model.id %>">
  <td>
    <%= form_with theme: nil, model: model, url: { controller: 'trade_items', action: 'toggle', id: model.id }, data: { controller: 'input' } do |f| %>
      <%= f.check_box :status, value: model.checked? ? 'checked' : 'init', checked: model.checked?, data: { action: 'click->input#form' }, id: nil %>
    <% end %>
  </td>
  <td>
    <%= model.good&.name %>
    <p style="color: grey;"><%= model.good_type_i18n %></p>
  </td>
  <td>
    <p><%= model.retail_price %></p>
    <p><%= model.weight_str %></p>
  </td>
  <td>
    <div class="field has-addons">
      <div class="control">
        <%= button_to({ controller: 'trade_items', action: 'update', id: model.id }, method: :patch, params: { '[trade_item]number': model.number - 1 }, class: 'button') do %>
          <i class="fa-light fa-minus"></i>
        <% end %>
      </div>
      <div class="control">
        <%= form_with theme: nil, model: model, url: { controller: 'trade_items', action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
          <%= f.number_field :number, step: 1, data: { action: 'input#form' }, class: 'input', id: nil %>
        <% end %>
      </div>
      <div class="control">
        <%= button_to({ controller: 'trade_items', action: 'update', id: model.id }, method: :patch, params: { '[trade_item]number': model.number + 1 }, class: 'button is-link') do %>
          <i class="fa-light fa-plus"></i>
        <% end %>
      </div>
    </div>
  </td>
  <td>
    <% if model.amount != model.wholesale_price %>
    <div>
      <del class="has-text-grey"><%= model.wholesale_price %></del>
      <% if model.reduced_amount < 0 %>
        <span class="is-inline-block" data-controller="hover" data-hover-url-value="<%= url_for(controller: 'trade_items', action: 'promote', id: model.id) %>">
          <span class="has-text-danger" data-action="mouseenter->hover#show mouseleave->hover#hide"><%= model.reduced_amount %></span>
        </span>
      <% end %>
    </div>
    <% end %>
    <p>
      <strong><%= model.amount %></strong>
    </p>
  </td>
  <td>
    <%= button_to t('.destroy'), { controller: 'trade_items', action: 'destroy', id: model.id }, method: :delete %>
  </td>
</tr>
