<tr class="<%= 'active' if trade_item.checked? %>" id="trade_item_<%= trade_item.id %>">
  <td>
    <%= form_with theme: nil, model: trade_item, url: { controller: 'trade_items', action: 'toggle', id: trade_item.id }, data: { controller: 'input' } do |f| %>
      <%= f.check_box :status, value: trade_item.checked? ? 'checked' : 'init', checked: trade_item.checked?, data: { action: 'click->input#form' }, id: nil %>
    <% end %>
  </td>
  <td>
    <%= trade_item.good&.name %>
    <p style="color: grey;"><%= trade_item.good_type_i18n %></p>
  </td>
  <td>
    <p><%= trade_item.retail_price %></p>
    <p><%= trade_item.weight_str %></p>
  </td>
  <td>
    <div class="field has-addons">
      <div class="control">
        <div class="button" data-action="click->cart#decrease"><i class="fas fa-minus"></i></div>
      </div>
      <div class="control">
        <%= number_field_tag '[trade_item]number', trade_item.number, id: "quantity_#{trade_item.id}", step: 1, data: { action: 'change->cart#update', 'cart-target': 'number', url: my_trade_item_path(trade_item) }, class: 'input' %>
      </div>
      <div class="control">
        <div class="button is-link" data-action="click->cart#increase"><i class="fas fa-plus"></i></div>
      </div>
    </div>
  </td>
  <td>
    <% if trade_item.amount != trade_item.wholesale_price %>
    <div>
      <del class="has-text-grey"><%= trade_item.wholesale_price %></del>
      <% if trade_item.reduced_amount < 0 %>
        <span class="is-inline-block" data-controller="hover" data-hover-url-value="<%= promote_my_trade_item_url(trade_item) %>">
          <span class="has-text-danger" data-action="mouseenter->hover#show mouseleave->hover#hide"><%= trade_item.reduced_amount %></span>
        </span>
      <% end %>
    </div>
    <% end %>
    <p>
      <strong><%= trade_item.amount %></strong>
    </p>
  </td>
  <td>
    <%= link_to t('.destroy'), { controller: 'trade_items', action: 'destroy', id: trade_item.id }, method: :delete %>
  </td>
</tr>
