<tr class="<%= 'active' if trade_item.checked? %>" id="trade_item_<%= trade_item.id %>">
  <td data-controller="input">
    <%= check_box_tag '[trade_item]status', trade_item.checked? ? 'checked' : 'init', trade_item.checked?, data: { method: :patch, remote: true, url: toggle_my_trade_item_path(trade_item), action: 'input#submit' }, id: nil %>
  </td>
  <td>
    <%= trade_item.good&.name %>
    <p style="color: grey;"><%= trade_item.good_type %></p>
  </td>
  <td>
    <p><%= trade_item.retail_price %></p>
    <p><%= trade_item.weight %><%= trade_item.unit %></p>
  </td>
  <td>
    <div class="field has-addons" data-controller="cart">
      <div class="control">
        <div class="button" data-action="click->cart#decrease"><i class="fas fa-minus"></i></div>
      </div>
      <div class="control">
        <%= number_field_tag '[trade_item]number', trade_item.number, id: "quantity_#{trade_item.id}", step: 1, data: { action: 'change->cart#update', 'cart-target': 'number', url: my_trade_item_path(trade_item) }, class: 'input' %>
      </div>
      <div class="control">
        <div class="button is-link" data-action="click->cart#increase"><i class="fas fa-plus"></i></div>
      </div>
    </div>
  </td>
  <td>
    <div>
      <del class="has-text-grey"><%= trade_item.wholesale_price %></del>
      <% if trade_item.reduced_amount < 0 %>
        <span class="has-text-danger"><%= trade_item.reduced_amount %></span>
        <div class="nav-angle-right" data-controller="hover" data-hover-url-value="<%= promote_my_trade_item_url(trade_item) %>" data-action="mouseenter->hover#show mouseleave->hover#hide">
          <i class="fas fa-info"></i>
        </div>
      <% end %>
    </div>
    <p>
      <strong><%= trade_item.amount %></strong>
    </p>
  </td>
  <td>
    <%= link_to t('.destroy'), { controller: 'trade_items', action: 'destroy', id: trade_item.id }, method: :delete, remote: true %>
  </td>
</tr>
