<div class="weui-panel">
  <div class="weui-media-box weui-media-box_appmsg pl-2" data-controller="swipe" data-action="touchmove->swipe#move:passive touchstart->swipe#start:passive touchend->swipe#end:passive">
    <%= form_with theme: nil, model: model, url: { controller: 'trade_items', action: 'toggle', id: model.id }, data: { controller: 'input' }, class: 'pr-2' do |f| %>
      <label class="weui-cells_checkbox">
        <%= f.check_box :status, { checked: model.status_checked?, data: { action: 'change->input#form' }, class: 'weui-check', id: nil }, model.id %>
        <i class="weui-icon-checked"></i>
      </label>
    <% end %>
    <div class="weui-media-box__hd">
    <% if model.good.respond_to?(:logo) && model.good.logo.attached? %>
      <%= image_tag model.good.logo, class: 'weui-media-box__thumb' %>
    <% elsif model.good.respond_to?(:cover) && model.good.cover.attached? %>
      <%= image_tag model.good.cover, class: 'weui-media-box__thumb' %>
    <% end %>
    </div>
    <div class="weui-media-box__bd">
      <h4 class="weui-media-box__title"><%= model.good.name %></h4>
      <ul class="weui-media-box__info">
        <% if model.good.respond_to?(:parts) %>
          <% model.good.parts.each do |part| %>
            <li><%= part.name %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="weui-media-box__info is-flex is-justify-content-space-between">
        <div class="is-flex is-align-items-center">
          <div class="weui-media-box__info__meta">
            <span><%= model.single_price.to_money.format(html_wrap: true).html_safe %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__hd"></div>
    <div class="weui-cell__bd">
    <% if model.expired? %>
      <div class="has-text-grey">
        <span>已于</span>
        <time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.expire_at.to_fs(:iso8601) %></time>
        <span>过期</span>
      </div>
    <% elsif model.expire_at.acts_like?(:time) %>
      <div class="is-flex is-align-items-center has-background-danger-light" style="border-radius: 18px">
        <span class="has-text-grey ml-2">
          <time data-controller="time-count" data-time-count-time-value="<%= model.expire_at.to_fs(:iso8601) %>" class="has-text-danger" style="font-family: monospace"><%= exact_distance_time(model.expire_at) %></time>
          <span>后截止下单</span>
        </span>
      </div>
    <% end %>
    <% if model.produce_plan %>
      <div class="is-flex is-align-items-center">
        <div class="weui-badge">
          <span><%= model.produce_plan.scene.title %></span>
        </div>
        <span class="has-text-grey ml-2">
          <span><%= model.produce_on.to_s(:month_and_day) %></span>
          <span><%= model.produce_plan.scene.deliver_start_at.to_fs(:time) %></span>
          <span>~</span>
          <span><%= model.produce_plan.scene.deliver_finish_at.to_fs(:time) %></span>
        </span>
      </div>
    <% end %>
    </div>
    <div class="weui-cell__ft">
      <div class="is-flex is-align-items-center">
        <%= button_to({ controller: 'trade_items', action: 'update', id: model.id }, method: :patch, params: { '[trade_item]number': model.number - 1 }, class: 'mr-1') do %>
          <i class="fa-solid fa-circle-minus fa-2x"></i>
        <% end if model.number > 1 %>
        <%= button_to({ controller: 'trade/my/trade_items', action: 'destroy', id: model.id }, method: :delete, class: 'mr-1') do %>
          <i class="fa-solid fa-circle-minus fa-2x"></i>
        <% end if model && model.number <= 1 %>
        <%= form_with(theme: nil, scope: 'trade_item', url: { controller: 'trade_items', action: 'update', id: model.id }, method: :patch, data: { controller: 'input' }) do |f| %>
          <%= f.number_field :number, value: model.number, data: { action: 'change->input#form' }, class: 'has-background-light has-text-centered', style: 'width: 30px; height: 26px' %>
        <% end %>
        <%= button_to({ controller: 'trade_items', action: 'update', id: model.id }, method: :patch, params: { '[trade_item]number': model.number + 1 }, class: 'ml-1') do %>
          <i class="fa-solid fa-circle-plus fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
