<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Cart.human_attribute_name(:payment_strategy_id) %></th>
      <th><%= Cart.human_attribute_name(:deposit_ratio) %></th>
      <th><%= Cart.human_attribute_name(:buyer_type) %></th>
      <th><%= Cart.human_attribute_name(:buyer_id) %></th>
      <th><%= Cart.human_attribute_name(:default) %></th>
      <th>
        <%= link_to new_my_cart_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.payment_strategy_id %></td>
      <td><%= cart.deposit_ratio %></td>
      <td><%= cart.buyer_type %></td>
      <td><%= cart.buyer_id %></td>
      <td>
        <div class="ui toggle checkbox inverted <%= cart.default ? 'disabled green label' : 'label' %>">
          <%= check_box_tag '[cart]default', nil, cart.default, data: { method: :patch, remote: true, url: my_cart_path(cart), submit: true }, id: nil %>
          <label><%= t('.default') %></label>
        </div>
      </td>
      <td>
        <%= link_to my_cart_cart_items_path(cart), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_my_cart_path(cart), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to my_cart_path(cart), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
