<div class="weui-panel">
  <div class="weui-panel__hd is-several">
    <span>个人采购</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-cell_active weui-check__label">
          <span class="weui-cell__hd is-several">
            <%= image_tag current_user.avatar.variant(resize_to_limit: [150, 150]), class: 'image is-24x24' if current_user.avatar.attached? %>
            <span><%= current_user.name %></span>
          </span>
          <span class="weui-cell__bd">
          </span>
          <span class="weui-cell__ft" data-controller="input">
            <%= form_with theme: nil, scope: 'cart', url: { action: 'current' } do |f| %>
              <%= f.check_box :current, value: true, checked: current_cart.member_id.nil?, class: 'weui-check', data: { action: 'input#form' } %>
              <span class="weui-icon-checked"></span>
            <% end %>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'organs_cart', collection: @members, as: :model %>
