<%= content_for(:wechat_js) do %>
  <%# wechat_config_js debug: false, apis: ['openAddress'] if defined?(:wechat_config_js) -%>
<% end %>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <%= link_to({ action: 'list' }, class: 'weui-cell weui-cell_access') do %>
      <div class="weui-cell__bd">
      <% if current_cart.member %>
        <span><%= current_cart.member.organ.name %></span>
        <span>-</span>
        <span><%= current_cart.member.name %></span>
        <span class="has-text-grey">（企业）</span>
      <% else %>
        <span class="has-text-grey">个人</span>
      <% end %>
      </div>
      <div class="weui-cell__ft"></div>
    <% end %>
    <%= link_to({ controller: 'profiled/my/addresses', action: 'list', return_to: url_for(controller: 'trade/my/carts', action: 'show') }, class: 'weui-cell weui-cell_access') do %>
      <div class="weui-cell__bd">
        <% if current_cart.address %>
          <p>
            <span><%= current_cart.address.contact %></span>
            <span><%= current_cart.address.tel %></span>
          </p>
          <p class="is-size-7">
            <span><%= current_cart.address.area.full_name %></span>
            <span><%= current_cart.address.detail %></span>
          </p>
        <% else %>
          <p>选择地址</p>
        <% end %>
      </div>
      <div class="weui-cell__ft"></div>
    <% end %>
    <%= render partial: 'trade_item', collection: @trade_items, as: :model %>
  </div>
</div>

<%= render 'promote' %>
