<%= render 'head' %>

<%= render 'address' if @cart.need_address? %>

<% @items.group_by(&:delivery).each do |delivery, items| %>
<div class="weui-panel">
  <%= render partial: 'fetch', locals: { model: delivery } if delivery %>
</div>
<%= render partial: 'item', collection: items, as: :model %>
<% end %>

<%= render 'promote' %>
