<%= turbo_stream.append 'body' do %>
<% if request.headers['Turbo-Frame'] == 'modal' && request.headers['Redirect'].present? %>
  <div data-controller="visit" data-visit-frame-value="modal" data-visit-url-value="<%= request.headers['Redirect'] %>"></div>
<% elsif params[:return_to].present? %>
  <div data-controller="visit" data-visit-url-value="<%= params[:return_to] %>"></div>
<% elsif params.dig('cart', 'address_id') %>
  <div data-controller="visit" data-visit-url-value="<%= url_for(controller: 'trade/my/carts', action: 'show') %>"></div>
  
<!--  <div data-controller="visit" data-visit-frame-value="modal" data-visit-reload-value="true" data-visit-url-value="<%#= url_for(action: 'addresses') %>"></div>-->
<% else %>
  <div data-controller="visit" data-visit-url-value="<%= url_for(controller: 'trade/my/carts', action: 'show') %>"></div>
<% end %>
<% end %>
