<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="pl-4 pt-2">
        <span class="weui-badge weui-badge__primary">
          <span>企业版：</span>
          <span><%= model.organ.name %></span>
        </span>
      </div>
      <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-cell_active weui-check__label" for="address_id_<%= model.id %>">
          <span class="weui-cell__hd">
            <%= image_tag model.organ.logo.variant(resize_to_limit: [150, 150]), class: 'image is-24x24' if model.organ.logo.attached? %>
          </span>
          <span class="weui-cell__bd">
            <span class="is-size-7"><%= model.name %></span>
            <span class="is-size-7"><%= model.identity %></span>
          </span>
          <span class="weui-cell__ft" data-controller="input">
            <%= form_with theme: nil, url: { action: 'update' }, method: :patch do |f| %>
              <%= f.radio_button :address_id, model.id, checked: model == current_client, class: 'weui-check', data: { action: 'input#form' } %>
              <span class="weui-icon-checked"></span>
            <% end %>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
