<%= render 'filter_form' %>

<%= render layout: 'index_table' do %>
  <tr>
    <td rowspan="<%= @item.carts.size + 1 %>">
      <span>用户级购物车</span>
      <span class="tag"><%= @item.carts.size %></span>
    </td>
  </tr>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @item.carts, as: :model %>
  <tr>
    <td rowspan="<%= @item.organ_carts.size + 1 %>">
      <span>企业级购物车</span>
      <span class="tag"><%= @item.organ_carts.size %></span>
    </td>
  </tr>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @item.organ_carts, as: :model %>
<% end %>
