<label class="weui-cell weui-cell_active">
  <span class="weui-cell__bd">
    <%= wallet.wallet_template.name %>(可用： <%= wallet.amount %>)
  </span>
  <span class="weui-cell__ft" data-controller="input">
    <%= form_with theme: nil, model: Trade::Payment.new, scope: 'payment', url: { controller: 'payments', action: 'create' }, id: "wallet_#{wallet.id}" do |f| %>
      <%= f.hidden_field :type, value: 'Trade::CardPayment' %>
      <%= f.hidden_field :wallet_id, value: wallet.id %>
      <%= f.fields :payment_orders, model: f.object.payment_orders.build do |ef| %>
        <%= ef.hidden_field :order_id, value: @order.id %>
        <%= ef.hidden_field :state, value: 'confirmed' %>
        <%= ef.hidden_field :check_amount, value: @order.amount < wallet.amount ? @order.amount : wallet.amount %>
      <% end %>
    <% end %>
    <% if @order.payments.pluck(:wallet_id).include?(wallet.id) %>
      <%= form_with theme: nil, url: { controller: 'payments', action: 'destroy', id: @order.payments.find_by(wallet_id: wallet.id).id }, method: :delete, data: { controller: 'input' } do |f| %>
        <%= f.check_box 'xx', checked: true, class: 'weui-check', data: { action: 'input#form' } %>
        <span class="weui-icon-checked"></span>
      <% end %>
    <% else %>
      <%= check_box_tag 'xx', 'x', false, class: 'weui-check', form: "wallet_#{wallet.id}", data: { action: 'input#form' } %>
      <span class="weui-icon-checked"></span>
    <% end %>
  </span>
</label>
