<label class="weui-cell weui-cell_active">
  <div class="weui-cell__bd is-flex is-align-items-center">
    <div class="is-several">
      <%= image_tag payment.wallet.wallet_template.logo, class: 'image is-24x24' if payment.wallet.wallet_template.logo.attached? %>
      <span><%= payment.wallet.wallet_template.name %></span>
    </div>
    <span class="has-text-grey is-size-7">
      <span>余</span>
      <span><%= payment.wallet.amount.to_fs(:rounded, precision: payment.wallet.wallet_template.digit) %></span>
      <span><%= payment.wallet.wallet_template.unit %></span>
    </span>
  </div>
  <div class="weui-cell__ft is-flex" data-controller="input">
    <span>可抵扣<%= @order.amount %></span>
    <% if payment.persisted? %>
      <%= form_with theme: nil, url: { controller: 'my/payments', action: 'destroy', id: payment.id }, method: :delete, data: { controller: 'input' } do |f| %>
        <%= f.check_box 'xx', checked: true, class: 'weui-check', data: { action: 'input#form' } %>
        <span class="weui-icon-checked"></span>
      <% end %>
    <% else %>
      <%= form_with theme: nil, model: payment, scope: 'payment', url: { controller: 'my/payments', action: 'create' } do |f| %>
        <%= f.hidden_field :wallet_id %>
        <%= f.hidden_field :type %>
        <%= f.hidden_field :total_amount  %>
        <%= f.fields :payment_orders do |ef| %>
          <%= ef.hidden_field :order_id %>
          <%= ef.hidden_field :state, value: 'confirmed' %>
          <%= ef.hidden_field :check_amount %>
        <% end %>
        <%= f.check_box 'xx', checked: false, class: 'weui-check', data: { action: 'input#form' } %>
        <span class="weui-icon-checked"></span>
      <% end %>
    <% end %>
  </div>
</label>
