<% if request.variant.include?(:mini_program) %>
<div
  class="weui-cells"
  data-controller="mini-program"
  data-mini-program-url-value="/pages/trade/my/orders/wxpay_pay?url=<%= url_for(action: 'wxpay_pay', only_path: false) %>&id=<%= @order.id %>"
>
  <%= link_to({ action: 'wxpay_pay' }, data: { action: 'mini-program#link' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
    <div class="weui-cell__hd"></div>
    <div class="weui-cell__bd weui-cell_primary">微信支付</div>
    <div class="weui-cell__ft"></div>
  <% end unless @order.all_paid? %>
</div>
<% else %>
<div
  class="weui-cells"
  data-controller="wxpay"
  data-wxpay-options-value="<%= current_wechat_app.js_config(request.original_url).to_json %>"
  data-wxpay-apis-value="<%= ['chooseWXPay'].to_json %>"
  data-wxpay-params-value="<%= { timestamp: @wxpay_order[:timeStamp], nonceStr: @wxpay_order[:nonceStr], package: @wxpay_order[:package], signType: @wxpay_order[:signType], paySign: @wxpay_order[:paySign] }.to_json %>"
  data-wxpay-debug-value="false"
>
  <%= link_to({ action: 'wxpay_pay' }, data: { action: 'mini-program#link' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
    <div class="weui-cell__hd"></div>
    <div class="weui-cell__bd weui-cell_primary">微信支付</div>
    <div class="weui-cell__ft"></div>
  <% end unless @order.all_paid? %>
</div>
<% end %>
