<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__bd">
    <div class="card is-wallet is-radiusless" style="background-image: url(<%= rails_blob_url(model.card_template.cover) %>)">
      <div class="card-header level mb-0">
        <div class="level-left">
          <p class="card-header-title" style="color: <%= model.card_template.text_color %>">
            <span><%= model.card_template.name %></span>
            <span class="has-text-grey">（已开通）</span>
          </p>
        </div>
        <div class="level-right mt-0 pr-3"></div>
      </div>
      <div class="card-content is-cover flex flex-direction-column-reverse" style="color: <%= model.card_template.text_color %>">
        <div class="header">
        </div>
        <div class="description">
        </div>
      </div>
      <div class="card-footer level" style="color: <%= model.card_template.text_color %>">
        <div class="level-left">
          <p><%= model.card_uuid %></p>
        </div>
        <div class="level-right"></div>
      </div>
    </div>
  </div>
  <div class="weui-panel__hd has-block-space-between">
    <span>续费</span>
    <div class="has-text-weight-normal">
    <% if model.expire_at %>
      <span>有效期至</span>
      <time data-controller="time" data-format="yyyy-MM-dd"><%= model.expire_at.to_fs(:iso8601) %></time>
      <%= link_to t('trade.my.card_purchases.index.title'), { controller: 'card_purchases', card_id: model.id } %>
    <% else %>
      <span>长期有效</span>
    <% end %>
    </div>
  </div>
  <% if model.expire_at %>
  <div class="weui-panel__ft">
    <div class="columns mx-0 mb-4 flex is-multiline is-mobile">
      <%= render partial: 'purchase', collection: model.card_template.purchases %>
    </div>
  </div>
  <% end %>
</div>
