<tr class="<%= 'active' if item.status_checked? %>" id="item_<%= item.cart_identity %>">
  <td>
    <%= form_with theme: nil, model: item, url: { controller: 'items', action: 'toggle', id: item.id }, data: { controller: 'input' } do |f| %>
      <%= f.hidden_field :current_cart_id, value: cart.id %>
      <%= f.check_box :status, { checked: item.status_checked?, data: { action: 'click->input#form' }, id: nil }, id: item.id %>
    <% end %>
  </td>
  <td>
    <%= item.good_name %>
    <p class="text-grey"><%= item.good_type_i18n %></p>
  </td>
  <td>
    <p><%= item.retail_price.to_money.format.html_safe %></p>
    <% if item.weight > 0 %>
    <p>
      <span><%= item.weight %></span>
      <span><%# item.unit %></span>
    </p>
    <% end %>
  </td>
  <td>
    <%= render partial: 'cart_item_show', locals: { item: item, cart: cart, item_con: 'trade/my/items' } %>
  </td>
  <td>
    <% if item.amount != item.wholesale_price %>
    <div>
      <del class="text-grey"><%= item.wholesale_price %></del>
      <% if item.reduced_amount < 0 %>
        <span class="is-inline-block" data-controller="hover" data-hover-url-value="<%= url_for(controller: 'items', action: 'promote', id: item.id) %>">
          <span class="text-danger" data-action="mouseenter->hover#show mouseleave->hover#hide"><%= item.reduced_amount %></span>
        </span>
      <% end %>
    </div>
    <% end %>
    <p><%= item.amount.to_money.format.html_safe %></p>
  </td>
</tr>
