<%= render 'top_bar' %>

<%= form_with model: @order, url: { action: 'blank' }, id: 'new_order' do |f| %>
  <%= f.hidden_field :from_address_id %>
  <%= f.hidden_field :address_id %>
<% end %>

<%= render 'from_address' %>
<%= render 'address' %>

<div class="weui-panel">
  <%= render partial: 'blank_trade_item', collection: @order.trade_items, as: :trade_item, locals: { form: form_object(@order, theme: 'weui') } %>
</div>

<div class="weui-panel">
  <%= render partial: 'payment_strategy', locals: { form: form_object(@order, theme: 'weui') } %>
</div>

<%= render 'show_order' %>

<div class="box is-radiusless">
  <%= submit_tag '提交', class: 'weui-btn weui-btn_primary', form: 'new_order' %>
</div>
