<div class="ui grid">

  <div class="three wide column">
    <%= render 'admin/base/nav' %>
  </div>

  <div class="thirteen wide column">
    <%= link_to '返回', admin_users_path %>

    <table>
      <tr><th class="td_list_head">ID</th><td class="td_list_head"><%= @user.id %></td></tr>
      <tr><th class="td_list_head">昵称</th><td class="td_list_head"><%= @user.name %></td></tr>
      <tr><th class="td_list_head">用户组</th><td class="td_list_head"><%= @user.name %></td></tr>
      <tr><th class="td_list_head">邮箱</th><td class="td_list_head"><%= @user.email %></td></tr>
      <tr><th class="td_list_head">注册时间</th><td class="td_list_head"><%= @user.created_at %></td></tr>
    </table>

    <%= link_to "删除", admin_user_path(@user), method: :delete, data: { confirm: "确认删除？" } %>

  </div>

</div>