<div class="weui-panel">
  <div class="weui-panel__bd m-4">
    <div class="card" style="background-image: url(<%= rails_blob_url(model.cover) %>)">
      <div class="card-header">
        <p class="card-header-title" style="color: <%= model.text_color %>">
          <span><%= model.name %></span>
          <span>（未开通）</span>
        </p>
      </div>
      <div class="card-content is-cover is-flex is-flex-direction-column-reverse" style="height: 128px; color: <%= model.text_color %>">
        <div class="description"></div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">
    开通
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'purchase', collection: model.purchases %>
  </div>
</div>
