<%= render 'top_bar' %>
<%= render 'menu' %>

<% if @card %>
  <%= render partial: 'card', locals: { model: @card } %>
<% else %>
  <%= render partial: 'card_template', locals: { model: @card_template } %>
<% end %>

<div class="weui-panel is-box" data-controller="empty">
  <div class="weui-panel__hd">
    <span class="level-left">会员特权</span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns m-4 flex is-multiline is-mobile" data-empty-target="content">
      <%= render partial: 'privilege', collection: @card_template.privileges, as: :privilege %>
    </div>
  </div>
</div>
