<%= form_for @doctor, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :major, '专业：', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :major, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grade, '等级：', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :grade, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :taxon_id, "专业领域：", :class => "col-lg-2 control-label" %>
    <div class="col-lg-5">
      <%= f.collection_select :taxon_id, Taxon.all, :id, :name, {:include_blank => true}, { :class => "" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :provider_id, "商家：", :class => "col-lg-2 control-label" %>
    <div class="col-lg-5">
      <%= f.collection_select :provider_id, current_user.providers, :id, :name, {:include_blank => true}, { :class => "" } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit :class => 'btn btn-success btn-lg' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#doctor_taxon_id').select2();
  $('#doctor_provider_id').select2();
</script>