<td>
  <% if model.user %>
  <p>
    <span><%= link_to model.user.name.presence || "user_#{model.user_id}", { action: 'show', id: model.id } %></span>
    <span class="text-grey">（<%= model.user_id %>）</span>
  </p>
  <% end %>
</td>
<td>
  <p><%= model.client_id %></p>
  <p><%= model.contact_id %></p>
</td>
<td>
  <p><%= model.good_type_i18n %></p>
</td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p><%= model.deposit_ratio %></p>
</td>
<td class="text-right">
  <p><%= model.amount.to_money.format.html_safe %></p>
</td>
<td class="text-centered"><%= link_to model.items.size, { action: 'show', id: model.id } %></td>
