<td><%= model.cart_id %></td>
<td>
  <p class="has-text-success"><%= model.cart.user.name %></p>
  <p><%= model.cart.member&.name %></p>
</td>
<td><%= model.promote.name %></td>
<td><%= model.state_i18n %></td>
