<%= button_to({ action: 'destroy' }, method: :delete, class: 'text-danger', form: { data: { turbo_confirm: t('.destroy.confirm') }, class: 'cell weui-actionsheet__cell_warn' }) do %>
  <%= svg_tag 'trash' %>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell') do %>
  <%= svg_tag 'eye', class: 'icon text-info' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'refunds', action: 'new', payment_id: model.id }, class: 'cell') do %>
  <i class="fa-solid fa-thumbs-down"></i>
  <span><%= t('trade.admin.refunds.new.title') %></span>
  <span><%= model.refunds_count %></span>
<% end %>
