<%= search_form_with model: Payment.new(params.permit(:payment_uuid)) do |f| %>
  <div class="fields">
    <%= f.text_field :payment_uuid, css: { wrapper_input: 'three wide field' } %>
    <%= f.text_field :'buyer_name-like' %>
    <%= f.text_field :buyer_identifier %>
    <%= f.text_field :buyer_bank %>
    <%= f.text_field :'orders.uuid' %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:payment_uuid]), class: 'ui button' %>
  </div>
<% end %>

<div class="ui divider"></div>
<dl>
  <dt><%= Payment.human_attribute_name(:type) %>:</dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:type]), class: active_params(type: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Payment.options_i18n(:type).each do |text, type| %>
      <%= link_to text, filter_params(type: type), class: active_params(type:type, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
<dl>
  <dt><%= Payment.human_attribute_name(:state) %>:</dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:state]), class: active_params(state: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Payment.options_i18n(:state).each do |text, state| %>
      <%= link_to text, filter_params(state: state), class: active_params(state: state, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
<dl>
  <dt><%= PaymentOrder.human_attribute_name(:state) %>:</dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:'payment_orders.state']), class: active_params('payment_orders.state': '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% PaymentOrder.options_i18n(:state).each do |text, state| %>
      <%= link_to text, filter_params('payment_orders.state': state), class: active_params('payment_orders.state': state, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
