<td>
  <p><%= link_to model.payment_uuid, { action: 'show', id: model.id }, class: 'family-monospace' %></p>
  <div>
    <span class="tag"><%= model.type_i18n %></span>
    <span class="tag"><%= model.payment_orders_count %> 笔订单</span>
  </div>
  <p class="family-monospace"><%= model.buyer_identifier %></p>
</td>
<td id="checked_amount_<%= model.id %>">
  <p><%= model.orders_amount.to_money.format.html_safe %></p>
  <span><%= model.checked_amount.to_money.format.html_safe %></span>
  <% if model.state_part_checked? %>
    <%= button_to t('.adjust'), { action: 'adjust', id: model.id }, method: :patch, class: 'button is-small' %>
  <% else %>
    <span class="tag <%= active_asserts(false, grey: ['init', 'part_checked'].include?(model.state), teal: model.state_adjust_checked?, green: model.state_all_checked?) %>"><%= model.state_i18n %></span>
  <% end %>
</td>
<td>
  <p><%= model.total_amount.to_money.format.html_safe %></p>
  <p class="<%= model.income_amount > 0 ? 'text-success' : 'text-grey' %>"><%= model.income_amount.to_money.format.html_safe %></p>
</td>
<td>
  <p><%= model.fee_amount.to_money.format.html_safe %></p>
  <p class="<%= model.refunded_amount > 0 ? 'text-danger' : 'text-grey' %>"><%= model.refunded_amount.to_money.format.html_safe %></p>
</td>
<td><%= model.adjust_amount.to_money.format.html_safe %></td>
<td>
  <time data-controller="time" data-format="human">
  <% if model.notified_at.present? %>
    <%= model.notified_at.to_fs(:iso8601) %>
  <% else %>
    <%= model.created_at.to_fs(:iso8601) %>
  <% end %>
  </time>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end if model.is_a?(Trade::HandPayment) %>
  </div>
  <div data-show-target="item" class="mt-2 visibility-hidden">
    <%= button_to({ controller: 'refunds', action: 'new', payment_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-thumbs-down text-danger"></i>
      <span class="ml-1"><%= t('.refunds.new.title') %></span>
      <span class="ml-1"><%= model.refunds_count %></span>
    <% end %>
    <% if model.payment_method.present? %>
      <%= button_to({ controller: 'payment_methods', action: 'show', id: model.payment_method_id }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-cash-register"></i>
        <span class="ml-1"><%= t('.payment_methods.show.title') %></span>
      <% end %>
    <% end %>
    <%= button_to({ controller: 'payment_orders', action: 'confirmable', payment_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-check-double"></i>
      <span class="ml-1"><%= t('.payment_orders.new.title') %></span>
    <% end if model.payment_orders_count > 0 %>
    <%= button_to({ controller: 'auditor/admin/audits', audited_type: 'Trade::Payment', audited_id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-comments"></i>
      <span class="ml-1"><%= t('auditor.admin.audits.index.title') %></span>
    <% end %>
    <%= button_to({ action: 'print', id: model.id }, class: 'button is-small is-rounded is-info') do %>
      <i class="fa-solid fa-print"></i>
      <span class="ml-1"><%= t('.print.title') %></span>
    <% end %>
  </div>
</td>
