<tr id="payment_<%= payment.id %>">
  <td>
    <p><%= payment.payment_uuid %></p>
    <div class="ui tiny orange label"><%= payment.type_i18n %></div>
  </td>
  <td id="checked_amount_<%= payment.id %>" class="warning">
    <%= render partial: 'checked_amount', locals: { payment: payment } %>
  </td>
  <td>
    <%= payment.total_amount %>
  </td>
  <td>
    <p><%= payment.income_amount.to_d %></p>
    <p><%= payment.fee_amount.to_d %></p>
  </td>
  <td><%= payment.adjust_amount %></td>
  <td>
    <p><%= payment.buyer_name %></p>
    <p><%= payment.buyer_identifier %></p>
    <p><%= payment.buyer_bank %></p>
    <% if payment.payment_method %>
      <%= link_to 'Payment Method', admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini label', targe: '_blank' %>
    <% end %>
  </td>
  <td><time><%= payment.notified_at.to_s(:rfc822) if payment.notified_at %></time></td>
  <td>
    <% if payment.payment_method.present? %>
      <%= link_to t('.show'), admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini circular icon button', target: '_blank' %>
    <% end %>
    <%= link_to t('.checking'), new_admin_payment_payment_order_path(payment), class: 'ui mini circular icon button', remote: true %>
    <%= link_to audits_path('Payment', payment.id), data: { tooltip: t('.log') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="comments icon"></i>
    <% end %>
    <%= link_to edit_admin_payment_path(payment), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </td>
  <td>
  </td>
</tr>

