<tr id="payment_<%= payment.id %>">
  <td>
    <p><%= payment.payment_uuid %></p>
    <div class="ui tiny orange label"><%= Payment.enum_i18n(:type, payment.type) %></div>
  </td>
  <td id="checked_amount_<%= payment.id %>" class="warning">
    <%= payment.checked_amount %>
    <% if payment.part_checked? %>
      <%= link_to t('.adjust'), adjust_admin_payment_path(payment), method: :patch, class: 'ui mini grey button' %>
    <% elsif ['init', 'part_checked'].include?(payment.state) %>
      <span class="ui tiny grey label"><%= Payment.enum_i18n(:state, payment.state) %></span>
    <% elsif payment.all_checked? %>
      <span class="ui tiny green label"><%= Payment.enum_i18n(:state, payment.state) %></span>
    <% elsif payment.adjust_checked? %>
      <span class="ui tiny teal label"><%= Payment.enum_i18n(:state, payment.state) %></span>
    <% end %>
  </td>
  <td>
    <%= payment.total_amount %>
  </td>
  <td>
    <p><%= payment.income_amount.to_d %></p>
    <p><%= payment.fee_amount.to_d %></p>
  </td>
  <td><%= payment.adjust_amount %></td>
  <td>
    <p><%= payment.buyer_name %></p>
    <p><%= payment.buyer_identifier %></p>
    <p><%= payment.buyer_bank %></p>
    <% if payment.payment_method %>
      <%= link_to 'Payment Method', admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini label', targe: '_blank' %>
    <% end %>
  </td>
  <td><time><%= payment.notified_at.to_s(:rfc822) if payment.notified_at %></time></td>
  <td class="ui labels">
    <% if payment.payment_method.present? %>
      <%= link_to t('.show'), admin_payment_methods_path(id: payment.payment_method_id), class: 'ui mini blue label', target: '_blank' %>
    <% else %>
      <%= link_to t('.analyze'), analyze_admin_payment_path(payment), method: :patch, class: 'ui mini blue label', remote: true %>
    <% end %>
    <%= link_to t('.checking'), new_admin_payment_payment_order_path(payment), class: 'ui mini red label', remote: true %>
    <%= link_to audits_path('Payment', payment.id), remote: true, class: 'ui mini icon blue label' do %>
      <i class="comments icon"></i>
    <% end %>
  </td>
  <td>
    <%= link_to t('.edit'), edit_admin_payment_path(payment) %>
  </td>
</tr>

