<%= form_with model: @payment, scope: :payment, url: { action: 'create' }, class: 'modal-card' do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= f.select :type, options_for_select(Trade::Payment.options_i18n(:type), @payment.type) %>
    <%= f.text_field :payment_uuid %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <footer class="modal-card-foot">
    <%= f.submit %>
  </footer>
<% end %>
