<div class="ui top attached borderless menu">
  <div class="item header">Payments List</div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached fixed table">
  <thead>
    <tr>
      <th class="four wide"><%= Payment.human_attribute_name(:uuid) %></th>
      <th class="two wide"><%= Payment.human_attribute_name(:checked_amount) %></th>
      <th class="one wide"><%= Payment.human_attribute_name(:total_amount) %></th>
      <th class="one wide">
        <p><%= Payment.human_attribute_name(:income_amount) %></p>
        <p><%= Payment.human_attribute_name(:fee_amount) %></p>
      </th>
      <th class="one wide"><%= Payment.human_attribute_name(:adjust_amount) %></th>
      <th class="four wide">
        <p><%= Payment.human_attribute_name(:buyer_name) %></p>
        <p><%= Payment.human_attribute_name(:buyer_identifier) %></p>
        <p><%= Payment.human_attribute_name(:buyer_bank) %></p>
      </th>
      <th class="two wide"><%= Payment.human_attribute_name(:notified_at) %></th>
      <th colspan="2" class="three wide"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'item', collection: @payments, as: :payment %>
  </tbody>
</table>

<%= paginate @payments %>
