<th>
  <p><%= Trade::RentCharge.human_attribute_name(:min) %></p>
  <p><%= Trade::RentCharge.human_attribute_name(:max) %></p>
</th>
<th>
  <p><%= Trade::RentCharge.human_attribute_name(:contain_min) %></p>
  <p><%= Trade::RentCharge.human_attribute_name(:contain_max) %></p>
</th>
<th><%= Trade::RentCharge.human_attribute_name(:parameter) %></th>
<th><%= Trade::RentCharge.human_attribute_name(:base_price) %></th>
<td></td>
<th><%= Trade::RentCharge.human_attribute_name(:extra) %></th>
