<td>
  <p>
    <span><%= model.min %></span>
    <span class="has-text-grey is-size-0_9"><%= model.rentable.rent_unit_i18n %></span>
  </p>
  <p>
    <span><%= model.max %></span>
    <span class="has-text-grey is-size-0_9"><%= model.rentable.rent_unit_i18n %></span>
  </p>
</td>
<td>
  <%= form_with theme: nil, scope: 'promote_charge', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :contain_min, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <%= form_with theme: nil, scope: 'promote_charge', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :contain_max, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td><%= model.parameter %></td>
<td><%= model.base_price.to_money.format(html_wrap: true).html_safe %></td>
<td><%= simple_format(model.extra) %></td>
