<td>
  <p><%= model.card_template.name %></p>
  <p class="family-monospace text-grey"><%= model.card_uuid %></p>
</td>
<td>
  <p><time data-controller="time"><%= model.effect_at.to_fs(:iso8601) %></time></p>
  <p>
  <% if model.expire_at && model.expire_at > Date.today %>
    <time data-controller="time" class="text-success"><%= model.expire_at.to_fs(:iso8601) %></time>
  <% elsif model.expire_at %>
    <time data-controller="time" class="text-danger"><%= model.expire_at.to_fs(:iso8601) %></time>
  <% else %>
    <span class="text-success">长期</span>
  <% end %>
  </p>
</td>
<td><%= model.temporary_i18n %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
<% model.carts.each do |cart| %>
  <p><%= button_to cart.id, { controller: 'carts', action: 'show', id: cart.id } %></p>
<% end %>
</td>