<%= form_with theme: 'search', model: PaymentMethod.new do |f| %>
  <div class="field-body">
    <%= f.text_field :account_name %>
    <%= f.text_field :account_num %>
    <%= f.text_field :bank %>
    <%= f.text_field :'buyers.name-like' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(only: []), class: 'button is-light' %>
    </div>
  </div>
<% end %>

<dl>
  <dt>Admin</dt>
  <dd>
    <%= link_to 'Admin', filter_params(myself: 0), class: active_params(myself: 0, active_class: 'button is-info', item_class: 'button is-light') %>
    <%= link_to 'User', filter_params(myself: 1), class: active_params(myself: 1, active_class: 'button is-info', item_class: 'button is-light') %>
  </dd>
</dl>
