<td><%= model.type_i18n %></td>
<td><%= model.account_name %></td>
<td><%= model.account_num %></td>
<td><%= model.bank %></td>
<td>
  <% model.payment_references.each do |reference| %>
    <p id="reference_<%= reference.id %>">
      <%= reference.buyer.name %>
      <%= link_to t('.remove'), admin_payment_method_reference_path(model, reference.id), method: :delete %>
    </p>
  <% end %>
</td>
<td>
  <%= form_with model: model, scope: 'model', url: admin_payment_method_path(model), method: :patch do |f| %>
    <%= f.check_box :verified, onChange: 'this.form.submit()', label: false, can: { wrap_all: false, offset: false } %>
  <% end %>
</td>
