<td><%= model.type_i18n %></td>
<td><%= model.account_name %></td>
<td><%= model.account_num %></td>
<td><%= model.bank %></td>
<td>
<% model.payment_references.each do |reference| %>
  <p id="reference_<%= reference.id %>">
    <%= reference.cart.user_id %>
    <%= button_to t('.remove'), { controller: 'payment_references', action: 'destroy', payment_method_id: model.id, id: reference.id }, method: :delete %>
  </p>
<% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :verified, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'payment_references', action: 'new', payment_method_id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.relate') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-regular fa-images-user"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
</td>
