<%= search_form_with css: { submit: 'ui green button'} do |f| %>
  <div class="fields">
    <%= f.text_field :account_name, placeholder: PaymentMethod.human_attribute_name(:account_name) %>
    <%= f.text_field :account_num, placeholder: PaymentMethod.human_attribute_name(:account_num) %>
    <%= f.text_field :bank, placeholder: PaymentMethod.human_attribute_name(:bank) %>
    <%= f.text_field :'buyers.name-like', placeholder: 'name' %>
    <%= f.submit %>
  </div>
  <div class="fields">
    <div class="field">
      <%= link_to 'Clear All Filters', filter_params(only: []), class: 'ui white button' %>
    </div>
  </div>
<% end %>

<dl>
  <dt>Admin</dt>
  <dd>
    <%= link_to 'Admin', filter_params(myself: 0), class: active_params(myself: 0, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to 'User', filter_params(myself: 1), class: active_params(myself: 1, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  </dd>
</dl>
