<%= render layout: 'index_layout' do %>

  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th><%= PaymentMethod.human_attribute_name(:type) %></th>
      <th><%= PaymentMethod.human_attribute_name(:account_name) %></th>
      <th><%= PaymentMethod.human_attribute_name(:account_num) %></th>
      <th><%= PaymentMethod.human_attribute_name(:bank) %></th>
      <th><%= PaymentMethod.human_attribute_name(:payment_references) %></th>
      <th><%= PaymentMethod.human_attribute_name(:verified) %></th>
      <th>
        <%= link_to new_admin_payment_method_path, class: 'ui teal button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: 'payment_method', collection: @payment_methods, as: 'payment_method' %>
    </tbody>

  </table>

<% end %>
