<%= render layout: 'index_layout' do %>

  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= Trade::PaymentMethod.human_attribute_name(:type) %></th>
      <th><%= Trade::PaymentMethod.human_attribute_name(:account_name) %></th>
      <th><%= PaymentMethod.human_attribute_name(:account_num) %></th>
      <th><%= PaymentMethod.human_attribute_name(:bank) %></th>
      <th><%= PaymentMethod.human_attribute_name(:payment_references) %></th>
      <th><%= PaymentMethod.human_attribute_name(:verified) %></th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
      <%= render partial: 'payment_method', collection: @payment_methods, as: 'payment_method' %>
    </tbody>

  </table>

<% end %>
