<div id="<%= item.cart_identity %>" class="has-column-space-around xx">
  <%= form_with theme: nil, model: item, scope: '', url: { controller: item_con, action: 'create' }, class: 'button_to' do |f| %>
    <%= f.hidden_field :current_cart_id, value: cart.id %>
    <%= f.hidden_field :good_type %>
    <%= f.hidden_field :good_id %>
    <%= f.hidden_field :dispatch %>
    <%= f.hidden_field :produce_on %>
    <%= f.hidden_field :scene_id %>
    <%= f.hidden_field :station_id %>
    <%= f.hidden_field :desk_id %>
    <button type="submit" class="button is-small is-danger">
      <i class="fa-solid fa-cart-plus"></i>
      <span class="pl-1"><%= t(".#{item_con.tr('/', '.')}.create.title") %></span>
    </button>
  <% end %>
  <% if params[:payment_id] %>
    <%= form_with theme: nil, model: item, scope: '', url: { controller: item_con, action: 'create' }, class: 'button_to' do |f| %>
      <%= f.hidden_field :current_cart_id, value: cart.id %>
      <%= f.hidden_field :good_type %>
      <%= f.hidden_field :good_id %>
      <%= f.hidden_field :dispatch %>
      <%= f.hidden_field :number, value: (@payment.total_amount / model.price).round(2) if model.price > 0 %>
      <%= f.hidden_field :produce_on %>
      <%= f.hidden_field :scene_id %>
      <%= f.hidden_field :station_id %>
      <%= f.hidden_field :desk_id %>
      <button type="submit" class="button is-small is-warning">
        <i class="fa-solid fa-cart-plus"></i>
        <span class="pl-1">自动计算</span>
      </button>
    <% end %>
  <% end %>
</div>
