<div id="cart_<%= item.cart_identity %>" data-controller="modify" data-modify-submit-value="true" data-modify-step-value="1" class="has-v-centered">
  <% if item.number > 1 %>
    <button data-action="modify#minus" class="button_to mr-1">
      <i class="fa-solid fa-xl fa-circle-minus has-text-dark-grey"></i>
    </button>
  <% else %>
    <%= button_to({ controller: item_con, action: 'destroy', id: item.id }, method: :delete, params: { current_cart_id: cart.id }, class: 'mr-1') do %>
      <i class="fa-solid fa-xl fa-circle-minus has-text-grey"></i>
    <% end %>
  <% end %>
  <%= form_with theme: nil, scope: 'item', url: { controller: item_con, action: 'update', id: item.id }, method: :patch, data: { controller: 'input' }, class: '' do |f| %>
    <%= f.hidden_field :current_cart_id, value: cart.id %>
    <%= f.number_field :number, value: item.number.to_human, step: 0.01, data: { action: 'change->input#form', modify_target: 'input' }, class: 'has-background-light has-text-centered', style: 'width: 30px' %>
  <% end %>
  <button data-action="modify#plus" class="button_to ml-1">
    <i class="fa-solid fa-xl fa-circle-plus has-text-dark-grey"></i>
  </button>
</div>
