<div class="box is-fullheight background-light" id="cart_nav">
  <% cart.cart_items.each do |item| %>
    <div data-id="<%= item.id %>" class="flex justify-content-space-between align-items-center mt-2">
      <div class="is-several">
        <%= image_tag item.good.logo, class: 'image is-32x32' if item.good.logo.attached? %>
        <span><%= item.good_name %></span>
      </div>
      <div>
        <span><%= item.number.to_human %></span>
        <i class="fa-solid fa-xs fa-xmark text-grey"></i>
        <span class="text-danger"><%= item.single_price.to_money.format.html_safe %></span>
      </div>
    </div>
  <% end %>
  <div class="flex justify-content-space-between align-items-center mt-6">
    <%= link_to({ controller: cart_con, action: 'show', id: cart.id }, class: 'button is-small is-primary is-radius right-badge') do %>
      <span class="pr-1">去购物车</span>
      <i class="fa-solid fa-angle-right"></i>
      <span class="weui-badge"><%= cart.cart_items.count %></span>
    <% end %>
    <div><%= cart.item_amount.to_money.format.html_safe %></div>
  </div>
  <div class="mt-2 flex justify-content-center">
  <% if cart.can_order? %>
    <%= link_to({ controller: "trade/#{params[:namespace].presence || 'my'}/orders", action: 'cart', current_cart_id: cart.id }, class: 'button is-small is-primary') do %>
      <span class="pr-1"><%= t('trade.my.orders.cart.title') %></span>
      <i class="fa-solid fa-angle-right"></i>
    <% end %>
  <% else %>
    <button class="button is-small is-primary" disabled>
      <span class="pr-1">结算</span>
      <i class="fa-solid fa-angle-right"></i>
    </button>
  <% end %>
  </div>
</div>
