<% if item.persisted? %>
  <div id="cart_new_<%= item.cart_identity %>" data-controller="modify" data-modify-submit-value="true" data-modify-step-value="1" class="inline-flex align-items-center" style="width: fit-content">
    <div class="mr-3 text-danger"><%= item.amount.to_money.format.html_safe %></div>
    <%= button_to({ controller: item_con, id: item.id, action: 'destroy' }, method: :delete, params: { current_cart_id: cart.id, partial: ['cart_new', 'cart_add'] }, form: { class: 'button_to mr-1' }) do %>
      <i class="fa-solid fa-xl fa-circle-xmark"></i>
    <% end %>
    <% if item.number > 1 %>
      <%= button_tag(data: { action: 'modify#minus' }, class: 'button_to mr-1', disabled: item.number <= 1) do %>
        <i class="fa-solid fa-xl fa-circle-minus text-grey"></i>
      <% end %>
    <% end %>
    <%= form_with theme: nil, model: item, url: { controller: item_con, action: 'update', id: item.id }, method: :patch, data: { controller: 'input' } do |f| %>
      <%= f.hidden_field :current_cart_id, value: cart.id %>
      <%= f.number_field :number, value: item.number.to_human, step: 0.01, data: { action: 'change->input#form focus->input#blank', modify_target: 'input' }, class: 'background-light text-centered', style: 'width: 30px' %>
      <%= hidden_field_tag 'partial[]', 'cart_new' %>
    <% end %>
    <button data-action="modify#plus" class="button_to ml-1">
      <i class="fa-solid fa-xl fa-circle-plus text-grey"></i>
    </button>
  </div>
<% else %>
  <%= form_with theme: nil, model: item, scope: '', url: { controller: item_con, action: 'create' }, id: "cart_new_#{item.cart_identity}", class: 'button_to' do |f| %>
    <%= f.hidden_field :current_cart_id, value: cart.id %>
    <%= f.hidden_field :good_type %>
    <%= f.hidden_field :good_id %>
    <%= f.hidden_field :dispatch %>
    <%= f.hidden_field :produce_on %>
    <%= f.hidden_field :scene_id %>
    <%= f.hidden_field :station_id %>
    <%= f.hidden_field :desk_id %>
    <button type="submit" name="partial[]" value="cart_new" class="button is-small is-warning is-rounded">
      <i class="fa-solid fa-cart-plus"></i>
      <span class="ml-1">加入购物车</span>
    </button>
  <% end %>
<% end %>
