<div id="dialog" data-controller="modal" class="modal is-mobile">
  <div data-action="click->modal#hide" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">优惠明细</div>
      <button class="delete" data-action="modal#hide"></button>
    </header>
    <section class="modal-card-body">
      <dl class="as-show">
        <div>
          <dt><%= Trade::Cart.human_attribute_name(:original_amount) %></dt>
          <dd class="has-text-danger"><%= @cart.original_amount.to_money.format.html_safe %></dd>
        </div>
        <div>
          <dt><%= Trade::Cart.human_attribute_name(:overall_reduced_amount) %></dt>
          <dd class="has-text-danger"><%= @cart.overall_reduced_amount.to_money.format.html_safe %></dd>
        </div>
        <% @cart.cart_promotes.each do |cart_promote| %>
        <div class="pl-4" title="<%= cart_promote.id %>">
          <dt><%= cart_promote.promote.name %></dt>
          <dd class="has-text-grey"><%= cart_promote.amount.to_money.format.html_safe %></dd>
        </div>
        <% end %>
        <div>
          <dt><%= Trade::Cart.human_attribute_name(:amount) %></dt>
          <dd class="has-text-danger"><%= @cart.amount.to_money.format.html_safe %></dd>
        </div>
      </dl>
    </section>
  </div>
</div>
