<div id="cart_nav">
  <% cart.cart_items.each do |item| %>
    <div data-id="<%= item.id %>" class="flex justify-content-space-between align-items-center mt-2 pr-3">
      <div class="is-several">
        <%= image_tag item.good.logo, class: 'image is-32x32' if item.good.logo.attached? %>
        <span><%= item.good_name %></span>
      </div>
      <div>
        <span><%= item.number.to_human %></span>
        <i class="fa-solid fa-xs fa-xmark text-grey"></i>
        <span class="text-danger"><%= item.single_price.to_money.format.html_safe %></span>
      </div>
    </div>
  <% end %>
  <div class="flex justify-content-space-between align-items-center mt-6 pr-3">
    <%= link_to({ controller: cart_con, action: 'show', id: cart.id }, class: 'button is-small is-primary is-radius right-badge') do %>
      <span class="pr-1">去购物车</span>
      <i class="fa-solid fa-angle-right"></i>
      <span class="weui-badge"><%= cart.cart_items.count %></span>
    <% end %>
    <div><%= cart.item_amount.to_money.format.html_safe %></div>
  </div>
</div>
