<tr id="cart_item_show_<%= item.cart_identity %>">
  <td>
    <%= form_with theme: nil, model: item, url: { controller: item_con, action: 'toggle', id: item.id }, data: { controller: 'input' } do |f| %>
      <%= f.hidden_field :current_cart_id, value: cart.id %>
      <%= f.check_box :status, { checked: item.status_checked?, data: { action: 'click->input#form' }, id: nil }, id: item.id %>
    <% end %>
  </td>
  <td><%= item.good_name %></td>
  <td><%= item.single_price.to_money.format.html_safe %></td>
  <td>
    <%= yield %>
  </td>
  <td><%= item.amount.to_money.format.html_safe %></td>
</tr>
