<% if item %>
  <div data-controller="modify" data-modify-submit-value="true" class="is-flex is-justify-content-center">
    <% if item.number > 1 %>
      <button data-action="modify#minus" class="button_to">
        <i class="fa-solid fa-xl fa-circle-minus has-text-dark-grey"></i>
      </button>
    <% else %>
      <%= button_to({ controller: item_con, action: 'destroy', id: item.id }, method: :delete, params: { current_cart_id: @cart.id }, data: { turbo_scroll: true }, class: 'mr-1') do %>
        <i class="fa-solid fa-xl fa-circle-minus has-text-grey"></i>
      <% end %>
    <% end %>
    <%= form_with theme: nil, scope: 'item', url: { controller: item_con, action: 'update', id: item.id }, method: :patch, data: { controller: 'input', turbo_scroll: true }, class: 'ml-1' do |f| %>
      <%= f.hidden_field :current_cart_id, value: @cart.id %>
      <%= f.number_field :number, value: item.number.to_human, data: { action: 'change->input#form', modify_target: 'input' }, class: 'has-background-light has-text-centered', style: 'width: 30px' %>
    <% end %>
    <button data-action="modify#plus" class="button_to">
      <i class="fa-solid fa-xl fa-circle-plus has-text-dark-grey"></i>
    </button>
  </div>
<% else %>
  <%= form_with theme: nil, url: { controller: item_con, action: 'create' }, state: 'redirect_return', data: { turbo_scroll: true }, class: 'ml-1 button_to' do |f| %>
    <%= f.hidden_field :current_cart_id, value: @cart.id %>
    <%= f.hidden_field :good_type, value: model.class_name %>
    <%= f.hidden_field :good_id, value: model.id %>
    <%= f.hidden_field :produce_on, value: params[:produce_on] %>
    <%= f.hidden_field :scene_id, value: params[:scene_id] %>
    <%= button_tag do %>
      <i class="fa-solid fa-xl fa-circle-plus has-text-grey"></i>
    <% end %>
  <% end %>
<% end %>
