<% if item.persisted? %>
  <div id="cart_item_add_<%= item.cart_identity %>" class="inline-flex align-items-center flex-shrink-0">
    <button class="button is-small is-rounded is-light is-borderless">已加入购物车</button>
  </div>
<% else %>
  <%= form_with theme: nil, model: item, scope: '', url: { controller: item_con, action: 'create' }, id: "cart_item_add_#{item.cart_identity}", class: 'button_to' do |f| %>
    <%= f.hidden_field :current_cart_id, value: cart.id %>
    <%= f.hidden_field :good_type %>
    <%= f.hidden_field :good_id %>
    <%= f.hidden_field :dispatch %>
    <%= f.hidden_field :produce_on %>
    <%= f.hidden_field :scene_id %>
    <%= f.hidden_field :station_id %>
    <%= f.hidden_field :desk_id %>
    <% renew.each do |id, partial| %>
      <%= hidden_field_tag "renew[#{id}]", partial, id: nil %>
    <% end if defined?(renew) && renew %>
    <button type="submit" name="replace[][partial]" value="cart_item_add" class="button is-small is-warning is-rounded">
      <%= svg_tag 'cart-plus' %>
      <span class="ml-1">加入购物车</span>
    </button>
  <% end %>
<% end %>
