<div class="level is-mobile mb-0 py-2 has-border-top px-4">
  <div class="level-left flex-direction-row">
    <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, class: 'level-item mb-0 right-badge') do %>
      <i class="fa-solid fa-bag-shopping fa-2x"></i>
      <span class="weui-badge"><%= @cart.items.count %></span>
    <% end %>
    <div class="level-item pl-4 align-items-baseline">
      <%= @cart.item_amount.to_money.format.html_safe %>
    </div>
  </div>
  <div class="level-right mt-0">
    <div class="level-item">
      <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, class: 'button is-small is-primary') do %>
        <span class="mr-1">去购物车</span>
        <%= svg_tag 'angle-right' %>
      <% end %>
    </div>
  </div>
</div>
