<tr>
  <td>
    <span class="is-several">
      <span>钱包</span>
    </span>
    <span class="tags has-addons pl-2 display-inline-flex">
      <span class="tag">余</span>
      <span class="tag is-success"><%= payment_order.payment.wallet.amount.to_money.format.html_safe %></span>
    </span>
  </td>
  <td data-controller="input">
    <span class="text-danger"><%= payment_order.order_amount.to_money.format.html_safe %></span>
      <%= form_with theme: nil, model: payment_order.payment, scope: 'payment', url: { action: 'payment_pending' } do |f| %>
        <%= f.hidden_field :wallet_id %>
        <%= f.hidden_field :type %>
        <%= f.hidden_field :total_amount  %>
        <%= f.fields :payment_orders do |ef| %>
          <%= ef.hidden_field :order_id %>
          <%= ef.hidden_field :state, value: 'confirmed' %>
          <%= ef.hidden_field :payment_amount %>
        <% end %>
        <%= f.check_box 'xx', checked: false, data: { action: 'input#form' } %>
        <span class="weui-icon-checked"></span>
      <% end %>
  </td>
</tr>
