<div id="production_cart_<%= item.cart_identity %>" data-controller="modify" data-modify-submit-value="true" data-modify-step-value="1" class="has-v-centered">
  <%= button_to({ controller: 'trade/my/items', action: 'remove' }, params: { current_cart_id: @cart.id }, class: 'mr-1') do %>
    <i class="fa-solid fa-xl fa-circle-xmark color-grey"></i>
  <% end %>
  <% if item.number > 1 %>
    <button data-action="modify#minus" class="button_to mr-1">
      <i class="fa-solid fa-xl fa-circle-minus color-grey"></i>
    </button>
  <% end %>
  <%= form_with theme: nil, url: { controller: item_con, action: 'create' }, data: { controller: 'input' }, id: 'new_item' do |f| %>
    <%= f.hidden_field :current_cart_id, value: cart.id %>
    <%= f.number_field :number, value: item.number.to_human, step: 0.01, data: { action: 'change->input#form focus->input#blank', modify_target: 'input' }, class: 'has-background-light has-text-centered', style: 'width: 30px' %>
  <% end %>
  <button data-action="modify#plus" class="button_to ml-1">
    <i class="fa-solid fa-xl fa-circle-plus color-grey"></i>
  </button>
  <%= submit_tag 'xx', form: 'new_item', class: 'button is-small is-success' %>
</div>
