<tr>
  <td class="text-right">
    <span><%= payment_order.payment.wallet.wallet_template.name %></span>
    <span>余额</span>
  </td>
  <td>
    <div class="is-several">
      <div><%= payment_order.payment.wallet.amount.to_money.format.html_safe %></div>
      <%= f.fields '', model: payment_order, skip_default_ids: true do |df| %>
        <%= df.hidden_field :state, value: 'confirmed' %>
        <%= df.hidden_field :order_amount %>
        <%= df.hidden_field :payment_amount %>
        <%= df.fields :payment do |ef| %>
          <%= ef.hidden_field :type %>
          <%= ef.hidden_field :wallet_id %>
        <% end %>
      <% end %>
      <%= check_box_tag 'xx', 'x', false, class: 'weui-check', data: { action: 'input#form' } %>
    </div>
  </td>
</tr>
