<tr>
  <td class="text-right"><%= payment_order.payment.type_i18n %></td>
  <td>
    <%= f.fields '', model: payment_order, skip_default_ids: true do |df| %>
      <%= df.hidden_field :state, value: 'confirmed' %>
      <%= df.number_field :order_amount %>
      <%= df.hidden_field :payment_amount %>
      <%= df.fields :payment do |ef| %>
        <%= ef.hidden_field :type %>
        <%= ef.hidden_field :total_amount %>
      <% end %>
    <% end %>
  </td>
</tr>
