<div data-controller="modify" data-modify-submit-value="true" id="cart_<%= item.purchase_id %>" class="has-inline-centered">
  <% if item.number > 1 %>
    <button data-action="modify#minus" class="button_to">
      <i class="fa-solid fa-xl fa-circle-minus has-text-dark-grey"></i>
    </button>
  <% else %>
    <%= button_to({ controller: item_con, action: 'destroy', id: item.id }, method: :delete, params: { current_cart_id: @cart&.id }, state: 'redirect', class: 'mr-1', form: { data: { turbo_scroll: true } }) do %>
      <i class="fa-solid fa-xl fa-circle-minus has-text-dark-grey"></i>
    <% end %>
  <% end %>
  <%= form_with(theme: nil, scope: :item, url: { controller: item_con, action: 'update', id: item.id }, method: :patch, data: { controller: 'input', turbo_scroll: true }) do |f| %>
    <%= f.hidden_field :current_cart_id, value: @cart&.id %>
    <%= f.number_field :number, value: item.number.to_human, data: { action: 'change->input#form', modify_target: 'input' }, class: 'has-background-light has-text-centered', style: 'width: 30px' %>
  <% end %>
  <button data-action="modify#plus" class="button_to">
    <i class="fa-solid fa-xl fa-circle-plus has-text-dark-grey"></i>
  </button>
</div>
