<div>
  <dt><%= Trade::Wallet.human_attribute_name(:account_name) %></dt>
  <dd><%= @lawful_wallet.account_name %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:account_number) %></dt>
  <dd><%= @lawful_wallet.account_number %></dd>
</div>
<div>
  <dt><%= Trade::Wallet.human_attribute_name(:account_bank) %></dt>
  <dd><%= @lawful_wallet.account_bank %></dd>
</div>
