<tr>
  <td><%= Trade::Wallet.human_attribute_name(:account_name) %></td>
  <td><%= @lawful_wallet.account_name %></td>
</tr>
<tr>
  <td><%= Trade::Wallet.human_attribute_name(:account_number) %></td>
  <td><%= @lawful_wallet.account_number %></td>
</tr>
<tr>
  <td><%= Trade::Wallet.human_attribute_name(:account_bank) %></td>
  <td><%= @lawful_wallet.account_bank %></td>
</tr>
