<div class="box is-padding-less">
  <div class="box-header">
    <span><%= Trade::Wallet.human_attribute_name(:amount) %></span>
    <div class="text-weight-bold">
      <%= link_to '记录', { controller: 'wallet_logs', wallet_id: @lawful_wallet.id } if @lawful_wallet.id %>
    </div>
  </div>
  <div class="box-body text-centered">
    <h2 class="title mb-0"><%= @lawful_wallet.amount.to_money.format.html_safe %></h2>
    <% if @lawful_wallet.frozen_amount.to_d > 0 %>
    <h3 class="title text-grey is-size-5">
      <span class="tag">已冻结</span>
      <span><%= @lawful_wallet.frozen_amount.to_money.format.html_safe %></span>
    </h3>
    <% end %>
  </div>
  <div class="box-footer">
    <%= link_to({ action: 'account' }, class: 'weui-btn weui-btn_primary') do %>
      <span>提现</span>
    <% end %>
  </div>
</div>

<div class="box is-padding-less">
  <div class="box-header">充值</div>
  <div class="box-body">
    <div class="columns flex is-multiline is-mobile">
      <%= render partial: 'advance', collection: @lawful_wallet.advances.without_card.order(amount: :asc), as: :advance, locals: { disabled: false } %>
    </div>
    <% @lawful_wallet.advances.with_card.order(amount: :asc).group_by(&:card_template).each do |card_template, advances| %>
      <div>
        <strong><%= card_template.name %>专享</strong>
      </div>
      <div class="columns flex is-multiline is-mobile">
        <%= render partial: 'advance', collection: advances, as: :advance, locals: { disabled: @cart.cards.pluck(:card_template_id).exclude?(card_template.id) } %>
      </div>
    <% end %>
  </div>
</div>
