<dl class="as-show">
  <div>
    <dt><%= Trade::Item.human_attribute_name(:uuid) %></dt>
    <dd data-controller="clipboard">
      <span data-clipboard-target="source"><%= model.uuid %></span>
      <span data-action="click->clipboard#copy" class="tag">复制</span>
      <div data-clipboard-target="toast">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
          <i class="weui-icon-success-no-circle weui-icon_toast"></i>
          <p class="weui-toast__content">复制成功</p>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:status) %></dt>
    <dd><%= model.status_i18n %></dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:number) %></dt>
    <dd><%= model.number %></dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:single_price) %></dt>
    <dd><%= model.single_price.to_money.format.html_safe %></dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:retail_price) %></dt>
    <dd><%= model.retail_price.to_money.format.html_safe %></dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:wholesale_price) %></dt>
    <dd><%= model.wholesale_price.to_money.format.html_safe %></dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:amount) %></dt>
    <dd><%= model.amount.to_money.format.html_safe %></dd>
  </div>
  <div>
    <dt><%= Trade::Item.human_attribute_name(:created_at) %></dt>
    <dd><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></dd>
  </div>
</dl>
