<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= model.rent_promote.name %></label>
      <span class="weui-form-preview__value">
        <span><%= model.rent_promote.promote_charges[0].parameter.to_money.format(html_wrap: true).html_safe %></span>
        <span>/</span>
        <span><%= model.rent_promote.unit&.name %></span>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Item.human_attribute_name(:rent_start_at) %></label>
      <span class="weui-form-preview__value has-text-mono"><time data-controller="time" data-format="human"><%= model.rent_start_at.to_fs(:iso8601) %></time></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">已租</label>
      <span class="weui-form-preview__value has-text-mono has-text-danger">
        <time data-controller="count-up" data-count-up-time-value="<%= model.rent_start_at.to_fs(:iso8601) %>"><%= exact_distance_time(model.rent_start_at, Time.current) %></time>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Item.human_attribute_name(:rent_present_finish_at) %></label>
      <span class="weui-form-preview__value has-text-mono"><time data-controller="time" data-format="human"><%= model.rent_present_finish_at&.to_fs(:iso8601) %></time></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Item.human_attribute_name(:duration) %></label>
      <span class="weui-form-preview__value">
        <span><%= model.duration %></span>
        <span><%= model.rent_promote.unit_code_i18n %></span>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Item.human_attribute_name(:additional_amount) %></label>
      <span class="weui-form-preview__value"><%= model.additional_amount.to_money.format(html_wrap: true).html_safe %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Trade::Item.human_attribute_name(:reduced_amount) %></label>
      <span class="weui-form-preview__value"><%= model.reduced_amount.to_money.format(html_wrap: true).html_safe %></span>
    </div>
  </div>
</div>
