<div class="box is-padding-less">
  <div class="box-header">
    <div>
      <%= svg_tag 'register' %>
      <span><%= t('trade.panel.title') %></span>
    </div>
  </div>
  <div class="fixed-grid has-3-cols is-shadow p-3">
    <div class="grid">
      <%= link_to({ controller: 'trade/panel/orders' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'list', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('trade.panel.orders.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'trade/panel/items' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'list-ol', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('trade.panel.items.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'trade/panel/payments' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'receipt', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('trade.panel.payments.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
