<div class="box is-padding-less">
  <div class="box-header flex justify-content-space-between">
    <div>
      <i class="fa-solid fa-fw fa-cash-register text-primary"></i>
      <span><%= t('trade.panel.title') %></span>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'trade/panel/orders' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-list"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('trade.panel.orders.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'trade/panel/items' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-list-ol"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('trade.panel.items.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'trade/panel/payments' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-receipt"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('trade.panel.payments.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
