<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Client Credit Sales Reconciliation</strong></div>
    <div class="item"><%= @buyer.name %></div>
  </div>

  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>UUID</th>
      <th><%= Payment.human_attribute_name(:buyer_name) %></th>
      <th><%= Payment.human_attribute_name(:buyer_identifier) %></th>
      <th><%= Payment.human_attribute_name(:total_amount) %></th>
      <th><%= Payment.human_attribute_name(:unchecked_amount) %></th>
      <th><%= Payment.human_attribute_name(:notified_at) %></th>
    </tr>
    </thead>

    <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_uuid %></td>
        <td><%= payment.buyer_name %></td>
        <td><%= payment.buyer_identifier %></td>
        <td><%= payment.total_amount %></td>
        <td><%= payment.unchecked_amount %></td>
        <td><%= payment.notified_at.to_s %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="ui segment top attached">
    <p>
      <%= link_to 'Send Payment Reminder', remind_admin_buyers_path, method: :put, class: 'ui green button', id: 'remind_link' %>
    </p>
  </div>

  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th></th>
      <th class="two wide"><%= Order.human_attribute_name(:uuid) %></th>
      <th>AR</th>
      <th><%= Order.human_attribute_name(:created_at) %></th>
      <th class="four wide">Item Info</th>
      <th><%= Order.human_attribute_name(:overdue_date) %></th>
      <th><%= Order.human_attribute_name(:amount) %> / <%= Order.human_attribute_name(:unreceived_amount) %></th>
      <th>No. of Reminder</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <% unless order.cancel? || order.init_received_amount >= order.amount %>
            <%= check_box_tag(:order_id, order.id) %>
          <% end %>
        </td>
        <td>
          <%= order.uuid %>
          <% if order.cancel? %>
          <label class="ui red label">Canceled</label>
          <% end %>
        </td>
        <td><%# order.charger&.name %></td>
        <td><%= order.created_at %></td>
        <td>
          <% order.order_items.each do |order_item| %>
            <p><%= order_item.chemical.name.truncate(50) %></p>
            <p><%= order_item.chemical.cas %></p>
          <% end %>
        </td>
        <td class="<%= order.overdue_date && order.overdue_date < Date.today ? 'error' : '' %>">
          <%= order.overdue_date %>
        </td>
        <td><%= order.amount %> / <%= order.unreceived_amount %></td>
        <td><%= order.remind_counter %></td>
        <td>
          <% if order.exists_payments && !order.cancel? %>
            <%= link_to new_admin_order_order_payment_path(order.id), class: 'ui icon green button' do %>
              <i class="payment icon"></i>
            <% end %>
          <% elsif !order.cancel? %>
            <%= link_to new_admin_order_order_payment_path(order.id), class: 'ui icon grey button' do %>
              <i class="payment icon"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @orders %>
</div>

<div class="ui modal" id="alert_modal">
  <i class="fa-light fa-times close"></i>
  <div class="header">
    Alert
  </div>
  <div class="image content">
    <div class="description">
      <div class="ui header">Please choose one item at least.</div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      OK
    </div>
  </div>
</div>

