<td><%= model.id %></td>
<td>
  <span><%= model.user&.name %></span>
  <span class="has-text-grey">（<%= model.user_id %>）</span>
</td>
<td>
  <% if model.member %>
    <span data-id="<%= model.member_id %>"><%= model.member.name %></span>
  <% end %>
</td>
<td><%= model.organ_id %></td>
<td><%= model.aim %></td>
<td>
  <p><%= model.payment_strategy&.name %></p>
  <p><%= model.deposit_ratio %></p>
</td>
<td class="has-text-right">
  <p><%= model.item_amount %></p>
  <p><%= model.overall_additional_amount %></p>
  <p><%= model.overall_reduced_amount %></p>
  <p><%= model.amount %></p>
</td>
<td class="has-text-centered"><%= model.trade_items.size %></td>

