<th>
  <p><%= Trade::Addition.human_attribute_name(:name) %></p>
  <p><%= Trade::Addition.human_attribute_name(:short_name) %>(<%= Trade::Addition.human_attribute_name(:code) %>)</p>
</th>
<th>
  <p><%= Trade::Addition.human_attribute_name(:metering) %></p>
  <p><%= Trade::Addition.human_attribute_name(:unit_code) %></p>
</th>
<th><%= Trade::Addition.human_attribute_name(:editable) %></th>
