<td>
  <p><%= model.name %></p>
  <p>
    <span><%= model.short_name %></span>
    <% if model.code.present? %>
      <span>(<%= model.code %>)</span>
    <% end %>
  </p>
</td>
<td>
  <p><%= model.metering_i18n %></p>
  <p><%= model.unit&.name %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :editable, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'addition_charges', addition_id: model.id }, aria: { label: t('trade.admin.addition_charges.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-server"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>