<tr>
  <td>
    <p><%= promote.name %></p>
    <p>
      <span><%= promote.short_name %></span>
      <% if promote.code.present? %>
        <span>(<%= promote.code %>)</span>
      <% end %>
    </p>
  </td>
  <td><%= promote.scope_i18n %></td>
  <td><%= promote.metering_i18n %></td>
  <td>
    <p><%= promote.valid_years %></p>
    <p><%= promote.valid_months %></p>
    <p><%= promote.valid_days %></p>
  </td>
  <td>
    <div data-controller="input">
      <%= check_box_tag 'promote[editable]', nil, promote.editable, data: { method: :patch, remote: true, url: admin_promote_path(promote.id), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
      <label></label>
    </div>
  </td>
  <td><%= promote.sequence %></td>
  <td>
    <%= link_to({ controller: 'promote_goods', promote_id: promote.id }, aria: { label: '适用商品' }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-cogs"></i>
    <% end %>
    <%= link_to({ controller: 'promote_carts', promote_id: promote.id }, aria: { label: '派发' }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-gift"></i>
    <% end %>
    <%= link_to({ controller: 'promote_charges', promote_id: promote.id }, aria: { label: t('trade.admin.promote_charges.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-server"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: promote.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: promote.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
