<th>
  <p><%= Promote.human_attribute_name(:name) %></p>
  <p><%= Promote.human_attribute_name(:short_name) %>(<%= Promote.human_attribute_name(:code) %>)</p>
</th>
<th>
  <%= Promote.human_attribute_name(:scope) %>
  <span data-tooltip="<%= Promote.help_i18n(:scope) %>"><i class="grey question circle icon"></i></span>
</th>
<th><%= Promote.human_attribute_name(:metering) %></th>
<th>
  <p><%= Promote.human_attribute_name(:valid_years) %></p>
  <p><%= Promote.human_attribute_name(:valid_months) %></p>
  <p><%= Promote.human_attribute_name(:valid_days) %></p>
</th>
<th><%= Promote.human_attribute_name(:editable) %></th>
<th><%= Promote.human_attribute_name(:sequence) %></th>
<th></th>
