<td>
  <p><%= model.name %></p>
  <p>
    <span><%= model.short_name %></span>
    <% if model.code.present? %>
      <span>(<%= model.code %>)</span>
    <% end %>
  </p>
</td>
<td><%= model.scope_i18n %></td>
<td><%= model.metering_i18n %></td>
<td>
  <div data-controller="input">
    <%= check_box_tag 'model[editable]', nil, model.editable, data: { method: :patch, url: admin_promote_path(model.id), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
    <label></label>
  </div>
</td>
<td><%= model.sequence %></td>
