<%= render 'filter_table' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <p><%= Promote.human_attribute_name(:name) %></p>
        <p><%= Promote.human_attribute_name(:short_name) %>(<%= Promote.human_attribute_name(:code) %>)</p>
      </th>
      <th>
        <%= Promote.human_attribute_name(:scope) %>
        <span data-tooltip="<%= Promote.help_i18n(:scope) %>"><i class="grey question circle icon"></i></span>
      </th>
      <th><%= Promote.human_attribute_name(:metering) %></th>
      <th>
        <p><%= Promote.human_attribute_name(:effect_at) %></p>
        <p><%= Promote.human_attribute_name(:expire_at) %></p>
      </th>
      <th><%= Promote.human_attribute_name(:editable) %></th>
      <th><%= Promote.human_attribute_name(:sequence) %></th>
      <th>
        <%= link_to new_admin_promote_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @promotes.each do |promote| %>
    <tr>
      <td>
        <p><%= promote.name %></p>
        <p>
          <span><%= promote.short_name %></span>
          <% if promote.code.present? %>
            <span>(<%= promote.code %>)</span>
          <% end %>
        </p>
      </td>
      <td><%= promote.scope_i18n %></td>
      <td><%= promote.metering_i18n %></td>
      <td>
        <p><time><%= promote.effect_at.to_s(:rfc822) if promote.effect_at %></time></p>
        <p><time><%= promote.expire_at.to_s(:rfc822) if promote.expire_at %></time></p>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote[editable]', nil, promote.editable, data: { method: :patch, remote: true, url: admin_promote_path(promote.id), submit: true }, id: nil %>
        </div>
      </td>
      <td><%= promote.sequence %></td>
      <td>
        <%= link_to admin_promote_goods_path(promote_id: promote.id), aria: { label: '适用商品' }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-cogs"></i>
        <% end %>
        <%= link_to admin_promote_buyers_path(promote_id: promote.id), aria: { label: '派发' }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-gift"></i>
        <% end %>
        <%= link_to admin_promote_charges_path(promote), aria: { label: t('trade.admin.promote_charges.index.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-server"></i>
        <% end %>
        <%= link_to edit_admin_promote_path(promote), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_promote_path(promote), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
