<div class="ui top attached borderless menu">
  <%= link_to '促销列表', admin_promotes_path, class: active_helper(controllers: ['promotes', 'promote_charges']) %>
  <%= link_to '服务列表', admin_serves_path, class: active_helper(controllers: ['serves', 'serve_charges']) %>
  <div class="right menu">
    <div class="item"><%= link_to '新建', new_admin_promote_path, class: 'ui teal button' %></div>
  </div>
</div>

<div class="ui attached segment">
  <p>
    <span>Scope: </span>
    <%= link_to 'Single', filter_params(scope: 'single'), class: active_params(scope: 'single', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to 'Total', filter_params(scope: 'total'), class: active_params(scope: 'total', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  </p>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Promote.human_attribute_name(:type) %></th>
      <th>
        <p><%= Promote.human_attribute_name(:name) %></p>
        <p><%= Promote.human_attribute_name(:short_name) %></p>
      </th>
      <th><%= Promote.human_attribute_name(:scope) %></th>
      <th>
        <p><%= Promote.human_attribute_name(:start_at) %></p>
        <p><%= Promote.human_attribute_name(:finish_at) %></p>
      </th>
      <th><%= Promote.human_attribute_name(:verified) %></th>
      <th>
        <p><%= Promote.human_attribute_name(:overall_goods) %></p>
        <p><%= Promote.human_attribute_name(:overall_buyers) %></p>
      </th>
      <th><%= Promote.human_attribute_name(:sequence) %></th>
      <th><%= Promote.human_attribute_name(:extra) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @promotes.each do |promote| %>
    <tr>
      <td><%= promote.type_i18n %></td>
      <td>
        <p><%= promote.name %></p>
        <p><%= promote.short_name %></p>
      </td>
      <td><%= promote.scope_i18n %></td>
      <td>
        <p><time><%= promote.start_at.to_s(:rfc822) if promote.start_at %></time></p>
        <p><time><%= promote.finish_at.to_s(:rfc822) if promote.finish_at %></time></p>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote[verified]', nil, promote.verified, data: { method: :patch, remote: true, url: admin_promote_path(promote.id), submit: true }, id: nil %>
        </div>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote[overall_goods]', nil, promote.overall_goods, data: { method: :patch, remote: true, url: admin_promote_path(promote.id), submit: true }, id: nil %>
          <label><%= Promote.human_attribute_name(:overall_goods) %></label>
        </div>
        <div class="ui toggle checkbox">
          <%= check_box_tag 'promote[overall_buyers]', nil, promote.overall_buyers, data: { method: :patch, remote: true, url: admin_promote_path(promote.id), submit: true }, id: nil %>
          <label><%= Promote.human_attribute_name(:overall_buyers) %></label>
        </div>
      </td>
      <td><%= promote.sequence %></td>
      <td>
        <% Array(promote.extra).each do |e| %>
          <span class="ui label"><%= e %></span>
        <% end %>
      </td>
      <td>
        <%= link_to '适用商品', admin_promote_goods_path(promote_id: promote.id) %>
        <%= link_to '优惠券发放', admin_promote_buyers_path(promote_id: promote.id) %>
      </td>
      <td class="ui labels">
        <%= link_to '详细', admin_promote_charges_path(promote), class: 'ui green label' %>
        <%= link_to '编辑', edit_admin_promote_path(promote), class: 'ui yellow label' %>
        <%= link_to '删除', admin_promote_path(promote), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
