<div>
  <dt><%= Trade::CardPromote.human_attribute_name(:income_min) %></dt>
  <dd><%= @card_promote.income_min %></dd>
</div>
<div>
  <dt><%= Trade::CardPromote.human_attribute_name(:income_max) %></dt>
  <dd><%= @card_promote.income_max %></dd>
</div>
<div>
  <dt><%= Trade::CardPromote.human_attribute_name(:promote_id) %></dt>
  <dd><%= @card_promote.promote_id %></dd>
</div>
