<tr>
  <td class="has-text-right"><%= CardPromote.human_attribute_name(:income_min) %></td>
  <td><%= @card_promote.income_min %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardPromote.human_attribute_name(:income_max) %></td>
  <td><%= @card_promote.income_max %></td>
</tr>
<tr>
  <td class="has-text-right"><%= CardPromote.human_attribute_name(:promote_id) %></td>
  <td><%= @card_promote.promote_id %></td>
</tr>
