<p class="size-7 text-grey mb-1">销售</p>
<div class="grid">
  <%= link_to({ controller: 'trade/admin/orders' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth flex-direction-column') do %>
    <span><%# @orders_count %></span>
    <span><%= t('trade.admin.orders.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/payments' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('trade.admin.payments.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/items' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth flex-direction-column') do %>
    <span><%# @items_count %></span>
    <span><%= t('trade.admin.items.index.title') %></span>
  <% end %>
</div>
<p class="size-7 text-grey mb-1">财务管理</p>
<div class="grid">
  <%= link_to({ controller: 'trade/admin/orders', action: 'unpaid' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: 'orders', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.orders.unpaid.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/refunds' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: 'refunds', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.refunds.index.title') %></span>
  <% end %>
</div>
<p class="size-7 text-grey mb-1">会员</p>
<div class="grid">
  <%= link_to({ controller: 'trade/admin/wallet_templates' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('trade.admin.wallet_templates.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/card_templates' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('trade.admin.card_templates.index.title') %></span>
  <% end %>
</div>
<p class="size-7 text-grey mb-1">促销</p>
<div class="grid">
  <%= link_to({ controller: 'trade/admin/promotes' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('trade.admin.promotes.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/additions' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: ['additions', 'addition_charges'], item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.additions.index.title') %></span>
  <% end %>
</div>
<p class="size-7 text-grey mb-1">消费者管理</p>
<div class="grid">
  <%= link_to({ controller: 'trade/admin/carts' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('trade.admin.carts.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/carts', action: 'user' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: 'carts', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.carts.user.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/carts', action: 'member_organ' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: 'carts', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.carts.member_organ.title') %></span>
  <% end %>
  <%= link_to({ controller: 'trade/admin/payment_methods' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: 'payment_methods', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.payment_methods.index.title') %></span>
  <% end %>
</div>
<p class="size-7 text-grey mb-1">配置</p>
<div class="grid">
  <%= link_to({ controller: 'trade/admin/payment_strategies' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: active_helper(controllers: ['payment_strategies'], item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('trade.admin.payment_strategies.index.title') %></span>
  <% end %>
</div>
