<tr
  id="order_<%= model.order_id %>_<%= model.id %>"
  data-controller="show"
  data-show-toggle-value="display-none"
  data-action="mouseenter->show#show mouseleave->show#hide"
>

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'eye', class: 'icon text-info' %>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pencil', class: 'icon text-link' %>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'trash', class: 'icon text-danger' %>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'item_promotes', item_id: model.id }, aria: { label: t('trade.admin.item_promotes.index.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'gift' %>
      <% end if false %>
      <%= link_to({ controller: 'holds', item_id: model.id }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-face-meh text-success"></i>
        <span class="ml-1"><%= t('.holds.index.title') %></span>
      <% end %>
    </div>
  </td>

<%= render partial: 'purchase_tbody', layout: 'purchase_tr', collection: model.purchase_items.select(&:persisted?), as: :model %>
