<th id="xxd" data-controller="check" data-check-container-value="tbody" data-check-check-commit-outlet="form">
  <%= check_box_tag 'xxd', 'order[items_attributes][', false, data: { check_target: 'all', action: 'check#toggleAll' }, id: nil %>
</th>
<th><%= Trade::Item.human_attribute_name(:good_name) %></th>
<th><%= Trade::Item.human_attribute_name(:number) %></th>
<th><%= Trade::Item.human_attribute_name(:single_price) %></th>
<th><%= Trade::Item.human_attribute_name(:created_at) %></th>
<th><%= Trade::Item.human_attribute_name(:status) %></th>
<th>
  <p><%= Trade::Item.human_attribute_name(:user_id) %></p>
  <p>
    <span><%= Trade::Item.human_attribute_name(:member_id) %></span>
    <span class="has-text-grey">（<%= Trade::Item.human_attribute_name(:member_organ_id) %>）</span>
  </p>
</th>
