<td data-controller="check" data-check-range-value="order_<%= model.id %>">
  <%= check_box_tag 'zxx', 'order[items_attributes][', false, id: nil, data: { check_target: 'all', action: 'check#toggleAll' } %>
</td>
<td>
  <p>
    <%= link_to model.uuid, { action: 'show', id: model.id }, text: true %>
    <span class="tag"><%= model.state_i18n %></span>
    <% if ['rent', 'invest'].include?(model.aim) %>
      <span class="tag is-info"><%= model.aim_i18n %></span>
    <% end %>
  </p>
  <p><%= model.serial_number %></p>
</td>
<td>
  <p><%= model.payment_status_i18n %></p>
  <% if model.payment_strategy %>
  <div class="tags has-addons mt-1">
    <span class="tag is-danger"><%= model.payment_strategy.name %></span>
    <span class="tag"><%= model.payment_strategy.from_pay_i18n %></span>
  </div>
  <% end %>
</td>
<td>
  <p><%= model.amount.to_money.format.html_safe %></p>
</td>
<td></td>
<td>
  <p><%# link_to model.user_name, { action: 'user', user_id: model.user_id } if model.user_id %></p>
  <p>
  <% if model&.member %>
    <span><%= model.member.name %></span>
    <span class="has-text-grey">（<%= model.member_organ.name %>）</span>
  <% end %>
  </p>
</td>
<td><%= simple_format(model.extra_i18n) %></td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
