<%= link_to({ controller: 'orders', action: 'unpaid' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('trade.admin.orders.unpaid.title') %></span>
  </div>
<% end %>
<%= link_to({ controller: 'payments' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('trade.admin.payments.index.title') %></span>
  </div>
<% end %>
<%= link_to({ controller: 'payment_methods' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('trade.admin.payment_methods.index.title') %></span>
  </div>
<% end %>
<%= link_to({ controller: 'carts', action: 'user' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('trade.admin.carts.user.title') %></span>
  </div>
<% end %>
<%= link_to({ controller: 'carts', action: 'member_organ' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('trade.admin.carts.member_organ.title') %></span>
  </div>
<% end %>
