<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'orders' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span><%= @orders_count %></span>
      <span><%= t('.orders.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'payments' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.payments.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'wallet_templates' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.wallet_templates.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'card_templates' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.card_templates.index.title') %></span>
    <% end %>
  </div>
  <div class="grid">
    <%= link_to({ controller: 'promotes' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span><%= t('.promotes.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'items' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span><%= @items_count %></span>
      <span><%= t('.items.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'carts' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span><%= t('.carts.index.title') %></span>
    <% end %>
  </div>
</div>
