<%= link_to({ controller: 'orders' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'hand-holding-dollar', class: 'icon is-medium' %>
  </div>
  <div class="text-grey size-7 mt-1"><%= t('.orders.index.title') %></div>
<% end %>
<%= link_to({ controller: 'items' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'hand-holding-dollar', class: 'icon is-medium' %>
  </div>
  <div class="text-grey size-7 mt-1"><%= t('.items.index.title') %></div>
<% end %>
<%= link_to({ controller: 'carts' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'hand-holding-dollar', class: 'icon is-medium' %>
  </div>
  <div class="text-grey size-7 mt-1"><%= t('.carts.index.title') %></div>
<% end %>
