<%= link_to({ controller: 'orders' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('.orders.index.title') %></span>
  </div>
<% end %>
<%= link_to({ controller: 'items' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('.items.index.title') %></span>
  </div>
<% end %>
<%= link_to({ controller: 'carts' }, class: 'cell has-column-centered') do %>
  <div class="text-grey-dark">
    <i class="fa-solid fa-fw fa-xl fa-hand-holding-dollar text-success-dark"></i>
  </div>
  <div class="text-dark">
    <span><%= t('.carts.index.title') %></span>
  </div>
<% end %>
