<th>
  <p><%= Trade::PromoteGood.human_attribute_name(:good_type) %></p>
  <p><%= Trade::PromoteGood.human_attribute_name(:good_id) %></p>
</th>
<th><%= Trade::PromoteGood.human_attribute_name(:promote_id) %></th>
<th>
  <p><%= Trade::PromoteGood.human_attribute_name(:user_id) %></p>
  <p><%= Trade::PromoteGood.human_attribute_name(:member_id) %></p>
</th>
<th>
  <p><%= Trade::PromoteGood.human_attribute_name(:status) %></p>
  <p><%= Trade::PromoteGood.human_attribute_name(:state) %></p>
</th>
<th>
  <p><%= Trade::PromoteGood.human_attribute_name(:effect_at) %></p>
  <p><%= Trade::PromoteGood.human_attribute_name(:expire_at) %></p>
</th>
