<div>
  <dt><%= WalletGood.human_attribute_name(:wallet_code) %></dt>
  <dd><%= @wallet_good.wallet_code %></dd>
</div>
<div>
  <dt><%= WalletGood.human_attribute_name(:good_type) %></dt>
  <dd><%= @wallet_good.good_type %></dd>
</div>
<div>
  <dt><%= WalletGood.human_attribute_name(:good_id) %></dt>
  <dd><%= @wallet_good.good_id %></dd>
</div>
