<div data-controller="empty" class="weui-panel is-box">
  <div class="weui-panel__hd">
    <span class="has-border-left-primary"><%= t('trade.my.orders.index.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0" data-empty-target="content">
      <%= link_to({ controller: 'trade/my/orders', state: 'init' }, class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-boxes-packing"></i>
        </div>
        <div class="has-text-grey-dark">
          <span><%= Trade::Order.enum_i18n(:state, 'init') %></span>
        </div>
      <% end %>
      <%= link_to({ controller: 'trade/my/orders', state: 'done' }, class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-handshake-simple"></i>
        </div>
        <div class="has-text-grey-dark">
          <span><%= Trade::Order.enum_i18n(:state, 'done') %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
