<%= form_for [@product, @sale], :html => {:class => 'well form-horizontal'} do |f| %>
  <%= render "shared/error_messages", :target => @sale %>

  <fieldset>

    <div class="form-group">
      <%= f.label :add_id, '附加产品/服务：', :class => 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= f.collection_select :add_id, Product.all, :id, :title, {}, {:class => "" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-5">
        <%= f.submit :class => "btn btn-primary btn-lg" %>
      </div>
    </div>
  </fieldset>

<% end %>

<script type="text/javascript">
  $('#sale_add_id').select2();
</script>
