<th><%= Trade::WalletAdvance.human_attribute_name(:amount) %></th>
<th>
  <p><%= Trade::WalletAdvance.human_attribute_name(:advance_id) %></p>
  <p><%= Trade::WalletAdvance.human_attribute_name(:item_id) %></p>
</th>
<th><%= Trade::WalletAdvance.human_attribute_name(:state) %></th>
<th><%= Trade::WalletAdvance.human_attribute_name(:note) %></th>
<th>
  <p><%= Trade::WalletAdvance.human_attribute_name(:operator_id) %></p>
  <p><%= Trade::WalletAdvance.human_attribute_name(:created_at) %></p>
</th>
