<tr id="checked_<%= payment_order.order_id %>">
  <td>
    <%= payment_order.order.id %>
    <%= form_with url: admin_payment_payment_order_path(@payment, payment_order), id: "edit_payment_order_#{payment_order.id}", method: :patch, remote: true do |f| %>
    <% end %>
  </td>
  <td>
    <%= link_to payment_order.order.uuid, admin_order_path(payment_order.order_id) %>
    <span style="color: #999;">（<%# payment_order.order.charger&.name %>）</span>
  </td>
  <td>
  </td>
  <td><%= payment_order.order.amount %></td>
  <td>
    <% if payment_order.confirmed? %>
      <%= payment_order.check_amount %>
    <% else %>
      <div class="ui input">
        <%= number_field_tag 'payment_order[check_amount]', payment_order.check_amount, placeholder: 'Result:', class: 'three wide field', step: '0.01', form: "edit_payment_order_#{payment_order.id}" %>
      </div>
    <% end %>
  </td>
  <td><%= PaymentOrder.enum_i18n(:state, payment_order.state) %></td>
  <td>
    <% if payment_order.confirmed? && the_role_user.has_role?('admin/payment_orders', 'destroy') %>
      <%= link_to '撤销', cancel_admin_payment_payment_order_path(@payment, payment_order), method: :patch, remote: true %>
    <% else %>
      <%= submit_tag '核销', form: "edit_payment_order_#{payment_order.id}", class: 'ui mini button' %>
    <% end %>
  </td>
</tr>
