<tr id="unchecked_<%= order.id %>">
  <td>
    <%= order.id %>
    <%= form_with url: admin_payment_payment_orders_path(@payment), id: "new_payment_#{order.id}" do |f| %>
    <% end %>
  </td>
  <td>
    <%= link_to order.uuid, admin_order_path(order.id) %>
    <span style="color: #999;">（<%= order.charger&.name %>）</span>
  </td>
  <td>
    <% if order.payment_memo_id %>
      <%= link_to 'Download', attachment_url(order, :payment_memo), download: "payment_memo_#{order.id}", target: '_self' %>
    <% end %>
  </td>
  <td><%= order.amount %></td>
  <td>
    <%= hidden_field_tag 'payment_order[order_id]', order.id, form: "new_payment_#{order.id}" %>
    <div class="ui input">
      <%= number_field_tag 'payment_order[check_amount]', order.unreceived_amount, placeholder: 'Result:', class: 'three wide field', step: '0.01', form: "new_payment_#{order.id}" %>
    </div>
  </td>
  <td></td>
  <td>
    <%= submit_tag '核销', class: 'ui mini grey button', form: "new_payment_#{order.id}" %>
  </td>
</tr>