<div class="weui-panel is-borderless">
  <div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="weui-panel__hd as-bar">
    <%= link_to({ controller: '/factory/agent/productions' }, state: 'return', class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Factory::Production' %>
    <%= link_to({ controller: '/ship/box_hosts' }, state: 'return', class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Ship::BoxHost' && @cart.aim == 'use' %>
    <%= link_to({ controller: '/ship/box_hosts', action: 'rent' }, state: 'return', class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Ship::BoxHost' && @cart.aim == 'rent' %>
    <%= link_to({ controller: '/bench/facilitates' }, state: 'return', class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end if @cart.good_type == 'Bench::Facilitate' %>
    <span class="weui-title"><%= t('.title') %></span>
    <i style="width: 3rem"></i>
  </div>
</div>
