<div class="as-bar">
  <% if current_state %>
    <%= link_to(current_state.prev_path, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% elsif @cart.good_type == 'Factory::Production' %>
    <%= link_to({ controller: 'factory/agent/productions' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% elsif @cart.good_type == 'Ship::BoxHost' && @cart.aim == 'use' %>
    <%= link_to({ controller: '/ship/box_hosts' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% elsif @cart.good_type == 'Ship::BoxHost' && @cart.aim == 'rent' %>
    <%= link_to({ controller: '/ship/box_hosts', action: 'rent' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% elsif @cart.good_type == 'Bench::Facilitate' %>
    <%= link_to({ controller: '/bench/facilitates' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% end %>
  <span class="bar-title"><%= t('.title') %></span>
  <i class="px-5"></i>
</div>
