<p class="<%= model.amount >= 0 ? 'has-text-success' : 'has-text-danger' %>">
  <% if model.wallet.is_a?(Trade::LawfulWallet) %>
    <span><%= model.amount.to_money.format.html_safe %></span>
  <% else %>
    <span><%= model.amount.to_fs(:rounded, precision: model.wallet_template.digit) %></span>
    <span><%= model.wallet_template.unit %></span>
  <% end %>
  <% if model.source_type == 'Trade::WalletSell' %>
  <span class="has-text-grey">
    <span>(<%= model.source.selled.done_amount %></span>
    <span>*</span>
    <span><%= model.source.selled.price.to_money.format.html_safe %>)</span>
  </span>
  <% end %>
  <span class="tag"><%= model.tag_str %></span>
</p>
<p class="is-size-7 has-text-grey">
  <time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time>
</p>
